<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InterviewMapper">
	 
	 <!-- Interview list  -->
	 <select id="listByInterview" resultType="java.util.HashMap">
		SELECT
			  online_class.id AS id,
			  online_class.scheduled_date_time AS scheduledDateTime
		FROM  online_class	
		WHERE online_class.status = 'OPEN'
			  AND online_class.lesson_id = 211705
			  AND online_class.scheduled_date_time BETWEEN #{fromTime} and #{toTime}
			  ORDER By scheduled_date_time DESC
	</select>


	<!-- most booked and finished teachers list  -->
	<!--<select id="listByInterviewBookedCount" resultType="java.util.HashMap">-->
		<!--SELECT-->
		<!--online_class.teacher_id AS teacherId-->
		<!--online_class.count(id) AS bookedCount,-->
		<!--FROM  online_class-->
		<!--WHERE online_class.status = ('BOOKED' or status='FINISHED')-->
		<!--AND online_class.lesson_id = 211705-->
		<!--AND online_class.scheduled_date_time BETWEEN #{fromTime} and #{toTime}-->
		<!--GROUP By teacher_id-->
		<!--ORDER By bookedCount ASC-->
	<!--</select>-->


	<!-- most booked and finished teachers list by timeslot -->
	<select id="listByInterviewBookedCount" resultType="java.util.HashMap">
		SELECT
			oc1.id AS id,
			oc1.scheduled_date_time AS scheduledDateTime,
			oc1.teacher_id AS teacherId,
			IFNULL(oc2.bookedCount,0) as bookedCountByCurrentDate
		FROM  online_class oc1 left join
		(
			select count(id) as bookedCount, teacher_id from online_class
			where (Status='BOOKED' or (Status='FINISHED' and finish_type in ('AS_SCHEDULED','STUDENT_NO_SHOW','STUDENT_IT_PROBLEM')))
			and lesson_id=211705
			and scheduled_date_time BETWEEN #{fromTime} and #{toTime}
			group by teacher_id
		) oc2 on oc1.teacher_id=oc2.teacher_id
		WHERE oc1.status = 'OPEN'
		AND oc1.lesson_id = 211705
		AND oc1.scheduled_date_time = #{scheduleTime}
		ORDER BY oc2.bookedCount ASC
	</select>

</mapper>