<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherApplicationMapper">

	<sql id="teacherApplicationColumns">teacher_application.id AS teacher_application_id,
		teacher_application.abroad_teaching_experience AS
		teacher_application_abroad_teaching_experience,
		teacher_application.appearance_score AS
		teacher_application_appearance_score,
		teacher_application.apply_date_time AS
		teacher_application_apply_date_time,
		teacher_application.audit_date_time AS
		teacher_application_audit_date_time, teacher_application.base_pay AS
		teacher_application_base_pay, teacher_application.comments AS
		teacher_application_comments, teacher_application.contract_url AS
		teacher_application_contract_url, teacher_application.current AS
		teacher_application_current, teacher_application.delay_days AS
		teacher_application_delay_days,
		teacher_application.english_language_score AS
		teacher_application_english_language_score,
		teacher_application.failed_reason AS
		teacher_application_failed_reason,
		teacher_application.grade6_teaching_experience AS
		teacher_application_grade6_teaching_experience,
		teacher_application.high_school_teaching_experience AS
		teacher_application_high_school_teaching_experience,
		teacher_application.home_country_teaching_experience AS
		teacher_application_home_country_teaching_experience,
		teacher_application.interaction_rapport_score AS
		teacher_application_interaction_rapport_score,
		teacher_application.kid_teaching_experience AS
		teacher_application_kid_teaching_experience,
		teacher_application.kid_under12_teaching_experience AS
		teacher_application_kid_under12_teaching_experience,
		teacher_application.lesson_objectives_score AS
		teacher_application_lesson_objectives_score,
		teacher_application.online_teaching_experience AS
		teacher_application_online_teaching_experience,
		teacher_application.preparation_planning_score AS
		teacher_application_preparation_planning_score,
		teacher_application.result AS teacher_application_result,
		teacher_application.status AS teacher_application_status,
		teacher_application.student_output_score AS
		teacher_application_student_output_score,
		teacher_application.teaching_certificate AS
		teacher_application_teaching_certificate,
		teacher_application.teaching_method_score AS
		teacher_application_teaching_method_score,
		teacher_application.teenager_teaching_experience AS
		teacher_application_teenager_teaching_experience,
		teacher_application.tefl_or_tosel_certificate AS
		teacher_application_tefl_or_tosel_certificate,
		teacher_application.time_management_score AS
		teacher_application_time_management_score,
		teacher_application.auditor_id AS teacher_application_auditor_id,
		teacher_application.stduent_id AS teacher_application_stduent_id,
		teacher_application.teacher_id AS teacher_application_teacher_id,
		teacher_application.online_class_id AS
		teacher_application_online_class_id, teacher_application.accent AS
		teacher_application_accent, teacher_application.positive AS
		teacher_application_positive, teacher_application.engaged AS
		teacher_application_engaged, teacher_application.appearance AS
		teacher_application_appearance, teacher_application.phonics AS
		teacher_application_phonics,teacher_application.version AS 
		teacher_application_version</sql>

	<sql id="teacherApplicationWhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id!=0">AND teacher_application.id = #{id}</if>
			<if test="abroadTeachingExperience!=-1">AND teacher_application.abroad_teaching_experience =
				#{abroadTeachingExperience}</if>
			<if test="appearanceScore!=-1">AND teacher_application.appearance_score =
				#{appearanceScore}</if>
			<if test="applyDateTime!=null">AND teacher_application.apply_date_time =
				#{applyDateTime}</if>
			<if test="auditDateTime!=null">AND teacher_application.audit_date_time =
				#{auditDateTime}</if>
			<if test="basePay!=0.0">AND teacher_application.base_pay = #{basePay}</if>
			<if test="comments!=null">AND teacher_application.comments = #{comments}</if>
			<if test="contractUrl!=null">AND teacher_application.contract_url = #{contractUrl}
			</if>
			<if test="current!=-1">AND teacher_application.current = #{current}</if>
			<if test="delayDays!=-1">AND teacher_application.delay_days = #{delayDays}</if>
			<if test="englishLanguageScore!=-1">AND teacher_application.english_language_score =
				#{englishLanguageScore}</if>
			<if test="failedReason!=null">AND teacher_application.failed_reason = #{failedReason}
			</if>
			<if test="grade6TeachingExperience!=-1">AND teacher_application.grade6_teaching_experience =
				#{grade6TeachingExperience}</if>
			<if test="highSchoolTeachingExperience!=-1">AND teacher_application.high_school_teaching_experience =
				#{highSchoolTeachingExperience}</if>
			<if test="homeCountryTeachingExperience!=-1">AND teacher_application.home_country_teaching_experience
				= #{homeCountryTeachingExperience}</if>
			<if test="interactionRapportScore!=-1">AND teacher_application.interaction_rapport_score =
				#{interactionRapportScore}</if>
			<if test="kidTeachingExperience!=-1">AND teacher_application.kid_teaching_experience =
				#{kidTeachingExperience}</if>
			<if test="kidUnder12TeachingExperience!=-1">AND teacher_application.kid_under12_teaching_experience =
				#{kidUnder12TeachingExperience}</if>
			<if test="lessonObjectivesScore!=-1">AND teacher_application.lesson_objectives_score =
				#{lessonObjectivesScore}</if>
			<if test="onlineTeachingExperience!=-1">AND teacher_application.online_teaching_experience =
				#{onlineTeachingExperience}</if>
			<if test="preparationPlanningScore!=-1">AND teacher_application.preparation_planning_score =
				#{preparationPlanningScore}</if>
			<if test="result!=null">AND teacher_application.result = #{result}</if>
			<if test="status!=null">AND teacher_application.status = #{status}</if>
			<if test="studentOutputScore!=-1">AND teacher_application.student_output_score =
				#{studentOutputScore}</if>
			<if test="teachingCertificate!=-1">AND teacher_application.teaching_certificate =
				#{teachingCertificate}</if>
			<if test="teachingMethodScore!=-1">AND teacher_application.teaching_method_score =
				#{teachingMethodScore}</if>
			<if test="teenagerTeachingExperience!=-1">AND teacher_application.teenager_teaching_experience =
				#{teenagerTeachingExperience}</if>
			<if test="teflOrToselCertificate!=-1">AND teacher_application.tefl_or_tosel_certificate =
				#{teflOrToselCertificate}</if>
			<if test="timeManagementScore!=-1">AND teacher_application.time_management_score =
				#{timeManagementScore}</if>
			<if test="auditorId!=0">AND teacher_application.auditor_id = #{auditorId}</if>
			<if test="stduentId!=0">AND teacher_application.stduent_id = #{stduentId}</if>
			<if test="teacherId!=0">AND teacher_application.teacher_id = #{teacherId}</if>
			<if test="onlineClassId!=0">AND teacher_application.online_class_id =
				#{onlineClassId}</if>
			<if test="accent!=-1">AND teacher_application.accent = #{accent}</if>
			<if test="positive!=-1">AND teacher_application.positive = #{positive}</if>
			<if test="engaged!=-1">AND teacher_application.engaged = #{engaged}</if>
			<if test="appearance!=-1">AND teacher_application.appearance = #{appearance}</if>
			<if test="phonics!=-1">AND teacher_application.phonics = #{phonics}</if>
			<if test="version!=-1">AND teacher_application.version = #{version}</if>
		</trim>
	</sql>

	<sql id="teacherApplicationOrder">
		<if test="orderString!=null">ORDER BY ${orderString}</if>
	</sql>

	<sql id="teacherApplicationLimit">LIMIT #{startLine},#{limitLine}</sql>

	<resultMap type="com.vipkid.recruitment.entity.TeacherApplication"
		id="teacherApplicationResultMap">
		<id column="teacher_application_id" property="id" />
		<result column="teacher_application_abroad_teaching_experience"
			property="abroadTeachingExperience" />
		<result column="teacher_application_appearance_score" property="appearanceScore" />
		<result column="teacher_application_apply_date_time" property="applyDateTime" />
		<result column="teacher_application_audit_date_time" property="auditDateTime" />
		<result column="teacher_application_base_pay" property="basePay" />
		<result column="teacher_application_comments" property="comments" />
		<result column="teacher_application_contract_url" property="contractUrl" />
		<result column="teacher_application_current" property="current" />
		<result column="teacher_application_delay_days" property="delayDays" />
		<result column="teacher_application_english_language_score"
			property="englishLanguageScore" />
		<result column="teacher_application_failed_reason" property="failedReason" />
		<result column="teacher_application_grade6_teaching_experience"
			property="grade6TeachingExperience" />
		<result column="teacher_application_high_school_teaching_experience"
			property="highSchoolTeachingExperience" />
		<result column="teacher_application_home_country_teaching_experience"
			property="homeCountryTeachingExperience" />
		<result column="teacher_application_interaction_rapport_score"
			property="interactionRapportScore" />
		<result column="teacher_application_kid_teaching_experience"
			property="kidTeachingExperience" />
		<result column="teacher_application_kid_under12_teaching_experience"
			property="kidUnder12TeachingExperience" />
		<result column="teacher_application_lesson_objectives_score"
			property="lessonObjectivesScore" />
		<result column="teacher_application_online_teaching_experience"
			property="onlineTeachingExperience" />
		<result column="teacher_application_preparation_planning_score"
			property="preparationPlanningScore" />
		<result column="teacher_application_result" property="result" />
		<result column="teacher_application_status" property="status" />
		<result column="teacher_application_student_output_score"
			property="studentOutputScore" />
		<result column="teacher_application_teaching_certificate"
			property="teachingCertificate" />
		<result column="teacher_application_teaching_method_score"
			property="teachingMethodScore" />
		<result column="teacher_application_teenager_teaching_experience"
			property="teenagerTeachingExperience" />
		<result column="teacher_application_tefl_or_tosel_certificate"
			property="teflOrToselCertificate" />
		<result column="teacher_application_time_management_score"
			property="timeManagementScore" />
		<result column="teacher_application_auditor_id" property="auditorId" />
		<result column="teacher_application_stduent_id" property="stduentId" />
		<result column="teacher_application_teacher_id" property="teacherId" />
		<result column="teacher_application_online_class_id" property="onlineClassId" />
		<result column="teacher_application_accent" property="accent" />
		<result column="teacher_application_positive" property="positive" />
		<result column="teacher_application_engaged" property="engaged" />
		<result column="teacher_application_appearance" property="appearance" />
		<result column="teacher_application_phonics" property="phonics" />
		<result column="teacher_application_version" property="version" />
	</resultMap>

	<select id="findDao" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		<include refid="teacherApplicationWhere" />
		<include refid="teacherApplicationOrder" />
	</select>

	<select id="countDao" resultType="int">
		SELECT COUNT(*) FROM teacher_application
		<include refid="teacherApplicationWhere" />
	</select>

	<select id="pageDao" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		<include refid="teacherApplicationWhere" />
		<include refid="teacherApplicationOrder" />
		<include refid="teacherApplicationLimit" />
	</select>

	<select id="limitDao" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		<include refid="teacherApplicationWhere" />
		<include refid="teacherApplicationOrder" />
		<include refid="teacherApplicationLimit" />
	</select>

	<insert id="saveDao" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO teacher_application
		<trim prefix="(" prefixOverrides=",">
			<if test="id!=0">,id</if>
			<if test="abroadTeachingExperience!=-1">,abroad_teaching_experience</if>
			<if test="appearanceScore!=-1">,appearance_score</if>
			<if test="applyDateTime!=null">,apply_date_time</if>
			<if test="auditDateTime!=null">,audit_date_time</if>
			<if test="basePay!=0.0">,base_pay</if>
			<if test="comments!=null">,comments</if>
			<if test="contractUrl!=null">,contract_url</if>
			<if test="current!=-1">,current</if>
			<if test="delayDays!=-1">,delay_days</if>
			<if test="englishLanguageScore!=-1">,english_language_score</if>
			<if test="failedReason!=null">,failed_reason</if>
			<if test="grade6TeachingExperience!=-1">,grade6_teaching_experience</if>
			<if test="highSchoolTeachingExperience!=-1">,high_school_teaching_experience</if>
			<if test="homeCountryTeachingExperience!=-1">,home_country_teaching_experience</if>
			<if test="interactionRapportScore!=-1">,interaction_rapport_score</if>
			<if test="kidTeachingExperience!=-1">,kid_teaching_experience</if>
			<if test="kidUnder12TeachingExperience!=-1">,kid_under12_teaching_experience</if>
			<if test="lessonObjectivesScore!=-1">,lesson_objectives_score</if>
			<if test="onlineTeachingExperience!=-1">,online_teaching_experience</if>
			<if test="preparationPlanningScore!=-1">,preparation_planning_score</if>
			<if test="result!=null">,result</if>
			<if test="status!=null">,status</if>
			<if test="studentOutputScore!=-1">,student_output_score</if>
			<if test="teachingCertificate!=-1">,teaching_certificate</if>
			<if test="teachingMethodScore!=-1">,teaching_method_score</if>
			<if test="teenagerTeachingExperience!=-1">,teenager_teaching_experience</if>
			<if test="teflOrToselCertificate!=-1">,tefl_or_tosel_certificate</if>
			<if test="timeManagementScore!=-1">,time_management_score</if>
			<if test="auditorId!=0">,auditor_id</if>
			<if test="stduentId!=0">,stduent_id</if>
			<if test="teacherId!=0">,teacher_id</if>
			<if test="onlineClassId!=0">,online_class_id</if>
			<if test="accent!=-1">,accent</if>
			<if test="positive!=-1">,positive</if>
			<if test="engaged!=-1">,engaged</if>
			<if test="appearance!=-1">,appearance</if>
			<if test="phonics!=-1">,phonics</if>
			<if test="version!=-1">,version</if>
		</trim>
		) VALUES
		<trim prefix="(" prefixOverrides=",">
			<if test="id!=0">,#{id}</if>
			<if test="abroadTeachingExperience!=-1">,#{abroadTeachingExperience}</if>
			<if test="appearanceScore!=-1">,#{appearanceScore}</if>
			<if test="applyDateTime!=null">,#{applyDateTime}</if>
			<if test="auditDateTime!=null">,#{auditDateTime}</if>
			<if test="basePay!=0.0">,#{basePay}</if>
			<if test="comments!=null">,#{comments}</if>
			<if test="contractUrl!=null">,#{contractUrl}</if>
			<if test="current!=-1">,#{current}</if>
			<if test="delayDays!=-1">,#{delayDays}</if>
			<if test="englishLanguageScore!=-1">,#{englishLanguageScore}</if>
			<if test="failedReason!=null">,#{failedReason}</if>
			<if test="grade6TeachingExperience!=-1">,#{grade6TeachingExperience}</if>
			<if test="highSchoolTeachingExperience!=-1">,#{highSchoolTeachingExperience}</if>
			<if test="homeCountryTeachingExperience!=-1">,#{homeCountryTeachingExperience}</if>
			<if test="interactionRapportScore!=-1">,#{interactionRapportScore}</if>
			<if test="kidTeachingExperience!=-1">,#{kidTeachingExperience}</if>
			<if test="kidUnder12TeachingExperience!=-1">,#{kidUnder12TeachingExperience}</if>
			<if test="lessonObjectivesScore!=-1">,#{lessonObjectivesScore}</if>
			<if test="onlineTeachingExperience!=-1">,#{onlineTeachingExperience}</if>
			<if test="preparationPlanningScore!=-1">,#{preparationPlanningScore}</if>
			<if test="result!=null">,#{result}</if>
			<if test="status!=null">,#{status}</if>
			<if test="studentOutputScore!=-1">,#{studentOutputScore}</if>
			<if test="teachingCertificate!=-1">,#{teachingCertificate}</if>
			<if test="teachingMethodScore!=-1">,#{teachingMethodScore}</if>
			<if test="teenagerTeachingExperience!=-1">,#{teenagerTeachingExperience}</if>
			<if test="teflOrToselCertificate!=-1">,#{teflOrToselCertificate}</if>
			<if test="timeManagementScore!=-1">,#{timeManagementScore}</if>
			<if test="auditorId!=0">,#{auditorId}</if>
			<if test="stduentId!=0">,#{stduentId}</if>
			<if test="teacherId!=0">,#{teacherId}</if>
			<if test="onlineClassId!=0">,#{onlineClassId}</if>
			<if test="accent!=-1">,#{accent}</if>
			<if test="positive!=-1">,#{positive}</if>
			<if test="engaged!=-1">,#{engaged}</if>
			<if test="appearance!=-1">,#{appearance}</if>
			<if test="phonics!=-1">,#{phonics}</if>
			<if test="version!=-1">,#{version}</if>
		</trim>
		)
	</insert>

	<update id="updateDao">
		UPDATE teacher_application
		<trim prefix="SET" prefixOverrides=",">
			<if test="id!=0">,id = #{id}</if>
			<if test="abroadTeachingExperience!=-1">,abroad_teaching_experience = #{abroadTeachingExperience}
			</if>
			<if test="appearanceScore!=-1">,appearance_score = #{appearanceScore}</if>
			<if test="applyDateTime!=null">,apply_date_time = #{applyDateTime}</if>
			<if test="auditDateTime!=null">,audit_date_time = #{auditDateTime}</if>
			<if test="basePay!=0.0">,base_pay = #{basePay}</if>
			<if test="comments!=null">,comments = #{comments}</if>
			<if test="contractUrl!=null">,contract_url = #{contractUrl}</if>
			<if test="current!=-1">,current = #{current}</if>
			<if test="delayDays!=-1">,delay_days = #{delayDays}</if>
			<if test="englishLanguageScore!=-1">,english_language_score = #{englishLanguageScore}</if>
			<if test="failedReason!=null">,failed_reason = #{failedReason}</if>
			<if test="grade6TeachingExperience!=-1">,grade6_teaching_experience = #{grade6TeachingExperience}
			</if>
			<if test="highSchoolTeachingExperience!=-1">,high_school_teaching_experience =
				#{highSchoolTeachingExperience}</if>
			<if test="homeCountryTeachingExperience!=-1">,home_country_teaching_experience =
				#{homeCountryTeachingExperience}</if>
			<if test="interactionRapportScore!=-1">,interaction_rapport_score = #{interactionRapportScore}
			</if>
			<if test="kidTeachingExperience!=-1">,kid_teaching_experience = #{kidTeachingExperience}</if>
			<if test="kidUnder12TeachingExperience!=-1">,kid_under12_teaching_experience =
				#{kidUnder12TeachingExperience}</if>
			<if test="lessonObjectivesScore!=-1">,lesson_objectives_score = #{lessonObjectivesScore}</if>
			<if test="onlineTeachingExperience!=-1">,online_teaching_experience = #{onlineTeachingExperience}
			</if>
			<if test="preparationPlanningScore!=-1">,preparation_planning_score = #{preparationPlanningScore}
			</if>
			<if test="result!=null">,result = #{result}</if>
			<if test="status!=null">,status = #{status}</if>
			<if test="studentOutputScore!=-1">,student_output_score = #{studentOutputScore}</if>
			<if test="teachingCertificate!=-1">,teaching_certificate = #{teachingCertificate}</if>
			<if test="teachingMethodScore!=-1">,teaching_method_score = #{teachingMethodScore}</if>
			<if test="teenagerTeachingExperience!=-1">,teenager_teaching_experience =
				#{teenagerTeachingExperience}</if>
			<if test="teflOrToselCertificate!=-1">,tefl_or_tosel_certificate = #{teflOrToselCertificate}
			</if>
			<if test="timeManagementScore!=-1">,time_management_score = #{timeManagementScore}</if>
			<if test="auditorId!=0">,auditor_id = #{auditorId}</if>
			<if test="stduentId!=0">,stduent_id = #{stduentId}</if>
			<if test="teacherId!=0">,teacher_id = #{teacherId}</if>
			<if test="onlineClassId!=0">,online_class_id = #{onlineClassId}</if>
			<if test="accent!=-1">,accent = #{accent}</if>
			<if test="positive!=-1">,positive = #{positive}</if>
			<if test="engaged!=-1">,engaged = #{engaged}</if>
			<if test="appearance!=-1">,appearance = #{appearance}</if>
			<if test="phonics!=-1">,phonics = #{phonics}</if>
			<if test="version!=-1">,version = #{version}</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
	</update>

	<delete id="deleteDao">
		DELETE FROM teacher_application
		<trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
	</delete>

	<select id="countApplicationByOnlineClassId" resultType="int">
		SELECT COUNT(*) FROM teacher_application
		WHERE online_class_id = #{onlineClassId} AND auditor_id IS NOT NULL
	</select>

	<select id="findFailTeachersByAuditTime" resultType="java.util.HashMap">
		SELECT
		ta.status AS status,
		t.real_name AS teacherName,
		t.first_name AS firstName,
		t.email AS teacherEmail,
		t.id as teacherId
		FROM
		teacher_application ta
		JOIN teacher t ON t.id = ta.teacher_id
		WHERE ta.status IN ('BASIC_INFO','INTERVIEW','PRACTICUM')
		AND ta.current = 1
		AND ta.result = 'FAIL'
		AND ta.audit_date_time BETWEEN #{startTime} AND #{endTime}
	</select>

	<select id="findTAByAuditTimesStatusResult" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		WHERE
		status = #{status}
		AND result = #{result}
		<foreach collection="auditTimes" open="AND (" close=")" separator=" OR " item="auditTime">
			(audit_date_time BETWEEN #{auditTime.startTime} AND #{auditTime.endTime})
		</foreach>
	</select>

	<select id="findTAByAuditTimeCurrentStatusResult" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		WHERE
		status = #{status}
		AND current = 1
		AND result = #{result}
		<foreach collection="auditTimes" open="AND (" close=")" separator=" OR " item="auditTime">
			(audit_date_time BETWEEN #{auditTime.startTime} AND #{auditTime.endTime})
		</foreach>
	</select>

	<!-- 查询取消模拟课并且没有在约课的数据 -->
	<select id="findMockCancelNoBook" resultMap="teacherApplicationResultMap">
		SELECT
			a.teacher_id as teacher_application_teacher_id,l.create_time as teacher_application_audit_date_time
		FROM
		teacher_application_log l
		INNER JOIN teacher_application a ON a.id = l.teacher_application_id
		WHERE
		 a.current = 1
		AND a.STATUS = #{aStatus}
		AND a.result IS NULL
		AND a.online_class_id IS NULL
		AND l. STATUS = #{lStatus}
		AND l.result = #{lResult}
		<foreach collection="auditTimes" open="AND (" close=")" separator=" OR " item="auditTime">
			(l.create_time BETWEEN #{auditTime.startTime} AND #{auditTime.endTime})
		</foreach>
		order by l.create_time
	</select>

	<select id="findTAByTeacherIdsStatusNeResult" resultMap="teacherApplicationResultMap">
		SELECT
		<include refid="teacherApplicationColumns" />
		FROM teacher_application
		WHERE
		teacher_id IN
		<foreach collection="teacherIds" open="(" close=")" separator="," item="teacherId">
			#{teacherId}
		</foreach>
		AND status = #{status}
		<if test="result!=null">
			AND result != #{result}
		</if>
	</select>

	<select id="countReapplyTAByTeacherIdStatusFinishType" resultType="int">
		SELECT COUNT(*) FROM teacher_application ta
		JOIN online_class oc ON oc.id = ta.online_class_id
		WHERE ta.teacher_id = #{teacherId} AND ta.`status` = #{status} AND ta.result = 'REAPPLY' AND
		oc.finish_type IN
		<foreach collection="finishTypes" open="(" close=")" separator="," item="finishType">
			#{finishType}
		</foreach>
	</select>


	<select id="findRecruitmentBook" resultType="java.util.HashMap">
		SELECT ta.teacher_id AS teacherId,
		oc.scheduled_date_time AS scheduledDateTime
		FROM teacher_application ta
		JOIN online_class oc ON oc.id = ta.online_class_id
		WHERE  ta.status =#{status}
		AND ta.current=1
		AND oc.status=#{onlineClassStatus}
		<foreach collection="auditTimes" open="AND (" close=")" separator=" OR " item="auditTime">
			(oc.scheduled_date_time BETWEEN #{auditTime.startTime} AND #{auditTime.endTime})
		</foreach>
	</select>

	<update id="initApplicationAnswer">
		UPDATE teacher_application SET abroad_teaching_experience = -1
		, appearance_score = -1
		, delay_days = -1
		, english_language_score = -1
		, grade6_teaching_experience = -1
		, high_school_teaching_experience = -1
		, home_country_teaching_experience = -1
		, interaction_rapport_score = -1
		, kid_teaching_experience = -1
		, kid_under12_teaching_experience = -1
		, lesson_objectives_score = -1
		, online_teaching_experience = -1
		, preparation_planning_score = -1
		, student_output_score = -1
		, teaching_certificate = -1
		, teaching_method_score = -1
		, teenager_teaching_experience = -1
		, tefl_or_tosel_certificate = -1
		, time_management_score = -1
		, accent = -1
		, positive = -1
		, engaged = -1
		, appearance = -1
		, phonics = -1
		WHERE id = #{id}
	</update>

</mapper>
