<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherOtherDegreesMapper">


    <sql id="teacherOtherDegreesColumns">
        teacher_other_degrees.id AS id,
        teacher_other_degrees.teacher_id AS teacherId,
        teacher_other_degrees.teacher_other_degrees AS degrees,
        teacher_other_degrees.file_type AS fileType,
        teacher_other_degrees.create_time AS createTime,
        teacher_other_degrees.update_time AS updateTime,
        teacher_other_degrees.create_id AS createId,
        teacher_other_degrees.update_id AS updateId
    </sql>
    <insert id="saveDao" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher_other_degrees
        <trim prefix="(" prefixOverrides=",">
            <if test="id!=0">,id</if>
            <if test="teacherId!=0">,teacher_id</if>
            <if test="degrees!=null">,teacher_other_degrees</if>
            <if test="fileType!=null">,file_type</if>
            <if test="createTime!=null">,create_time</if>
            <if test="updateTime!=null">,update_time</if>
            <if test="createId!=null">,create_id</if>
            <if test="updateId!=null">,update_id</if>
        </trim>
        ) VALUES
        <trim prefix="(" prefixOverrides=",">
            <if test="id!=0">,#{id{}</if>
            <if test="teacherId!=0">,#{teacherId}</if>
            <if test="degrees!=null">,#{degrees}</if>
            <if test="fileType!=null">,#{fileType}</if>
            <if test="createTime!=null">,#{createTime}</if>
            <if test="updateTime!=null">,#{updateTime}</if>
            <if test="createId!=null">,#{createId}</if>
            <if test="updateId!=null">,#{updateId}</if>
        </trim>
        )
    </insert>

    <select id="findByTeacherId"  resultType="com.vipkid.recruitment.entity.TeacherOtherDegrees" >
        SELECT
        <include refid="teacherOtherDegreesColumns"/>
        FROM teacher_other_degrees
        WHERE
        teacher_other_degrees.teacher_id =#{teacherId}
    </select>


    <update id="updateDao">
        UPDATE teacher_other_degrees
        <trim prefix="SET" prefixOverrides=",">
            <trim prefix="(" prefixOverrides=",">
                <if test="id!=0">,id=#{id{}</if>
                <if test="teacherId!=0">,teacher_id = #{teacherId}</if>
                <if test="degrees!=null">,teacher_other_degrees=#{degrees}</if>
                <if test="fileType!=null">,file_type=#{fileType}</if>
                <if test="createTime!=null">, create_time=#{createTime}</if>
                <if test="updateTime!=null">,update_time = #{updateTime}</if>
                <if test="createId!=null">,createId=#{createId}</if>
                <if test="updateId!=null">,updateId = #{updateId}</if>
            </trim>
        </trim>
        <trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
    </update>

    <delete id="deleteDao">
        DELETE FROM teacher_other_degrees
        <trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
    </delete>

</mapper>