<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherRecruitPeakTimeMapper">


    <insert id="saveTeacherRecruitPeakTimeBatch" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID() AS  id
        </selectKey>
        insert into teacher_recruit_peak_time (teacher_id,status,scheduled_date_time,create_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.teacherId},#{item.status},#{item.scheduledDateTime},#{item.createTime})
        </foreach>
    </insert>

    <select id="isExistRecruitPeakTime"  resultType="int" parameterType="com.vipkid.trpm.entity.TeacherRecruitPeakTime">
        SELECT COUNT(1) FROM teacher_recruit_peak_time  WHERE teacher_id =#{teacherId}  AND status =#{status}
        AND scheduled_date_time=#{scheduledDateTime}
    </select>

</mapper>

