#set($layout = "/passport/layout.vm")
<style>
	.btn-warning{background:#f60;border:1px solid #b74900;}
	.btn-warning:hover{background:rgba(255,99,0,0.8);}
	.modal-footer{text-align:center;border-top:0px;padding:0px 10px 20px 10px;}
	.modal-header,.close{border-bottom:0px;display:none;}
	.modal-body{font-size:14px;padding:20px;}
	button[data-dismiss="modal"]{display:none;}
	##.writeinfo{font-family:"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif}
</style>
<section>
	<div class="content">
		<div class="contentsignin">
			<div class="hoverpromptbox createpassword left315">
			   	<p>Your password must</p>
	          	<p id="password1" name="def-userpassword" class="epbgico">contain only alphanumeric characters</p>
	          	<p id="password2" name="def-userpassword" class="epbgico">be between 6-30 characters</p>
	          	<p id="password3" name="def-userpassword" class="epbgico">contain both letters and numbers</p>
	   		</div>
			<div class="teachersigninform">
				<p class="titinfo">New password</p>
				<p class="inptxt">
					<i class="dxico error-userpassword"><img src="#styleUrl('/resources/images/passport/errorico.png')"/></i>
					<i class="dxico pass-userpassword"><img src="#styleUrl('/resources/images/passport/hook17ico.png')"/></i>
					<input class="password inpnewpass" type="password" id="userpassword" name="userpassword" maxlength="30" class="inpnewpass" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',lengths:'6-31',pattern:'^([a-zA-Z0-9])+$',contain:'^(?=.*[A-Z].*)(?=.*[0-9].*)|(?=.*[a-z].*)(?=.*[0-9].*).{0,}$'}" />
				</p>
				<p id="warnwords-userpassword" class="warnwords"></p>
				
				<p class="titinfo">Retype password</p>
				<p class="inptxt">
					<i class="dxico error-repassword"><img src="#styleUrl('/resources/images/passport/errorico.png')"/></i>
					<i class="dxico pass-repassword"><img src="#styleUrl('/resources/images/passport/hook17ico.png')"/></i>
					<input type="password" id="repassword" name="repassword" maxlength="30" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',equalTo:'userpassword',equalToMsg:'Passwords do not match!'}"/>
				</p>
				<p id="warnwords-repassword" class="warnwords"></p>
							
				<p class="writeinfo otherinfo">
					<span>
						<img src="#styleUrl('/resources/images/passport/yiico.png')"/>
						<strong class="signintitle">Link Expired!</strong><br/>
						The link you are trying to use has expired.
					</span>
				</p>
								
				<p class="signinbtnpar"><button id="signupbtn" class="signinbtn">Sign In</button></p>
			</div>
	   </div>
	</div>
</section>

<!-- Google Pixel Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70368660-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Google Conversion Code -->
<script type="text/javascript">
	var google_conversion_id = 943156175;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
<noscript><div><img height="1" width="1" style="display:none" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/943156175/?value=0&guid=ON&script=0" /></div></noscript>

#@requireJs()
    require(["modifypwd"], function(modifypwd){
        modifypwd.init("$!validate_token");
    });
#end