<?xml version="1.0" encoding="UTF-8"?>
<!--Automatically reloading configuration file upon modification. you need to change the config file in the compile folder-->
<configuration scan="true" scanPeriod="60 seconds" >
    <!--定义日志文件的存储地址 勿在LogBack的配置中使用相对路径-->
    <property name="LOG_HOME" value="${catalina.base}/logs"/>
    <property name="encoding" value="UTF-8"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度；%M:%L是方法和行号；%msg是日志消息；%n是换行符-->
    <property name="normal-pattern"
              value="%d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|%X{requestId}|%X{requestSeq}|^_^|[%t] %-5level %logger{50} %line - %m%n"/>
    <property name="plain-pattern"
              value="%d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|%X{requestId}|%X{requestSeq}|^_^|[%t] %-5level %logger{50} %line - %m%n"/>

    <!--email.alert区域start-->
    <appender name="email" class="com.vipkid.common.log.SelfSmtpAppender">
        <smtpHost>smtp.exmail.qq.com</smtpHost>
        <username>teacher.alert@vipkid.com.cn</username>
        <password>Alert1</password>
        <from>teacher.alert@vipkid.com.cn</from>
        <to>mike.lee.alert@vipkid.com.cn,ninglu@vipkid.com.cn,tianwenqi@vipkid.com.cn,zhuzhengyi@vipkid.com.cn,caoxinzhou@vipkid.com.cn,lilibo@vipkid.com.cn,zengweilong@vipkid.com.cn,liuguowen@vipkid.com.cn,xingxuelin@vipkid.com.cn,yangchao@vipkid.com.cn,dengpeng@vipkid.com.cn,zhangzhaojun@vipkid.com.cn,luojiaoxia@vipkid.com.cn</to>

        <!--采用HTML渲染方式，可以自定义CSS -->
        <layout class="com.vipkid.common.log.HTMLWrapperLayout">
            <pattern>%date%level%logger%message</pattern>
        </layout>

        <filter class="com.vipkid.common.log.AlertLogFilter"/>
        <evaluator class="com.vipkid.common.log.OnWarnEvalutor"/>
    </appender>




    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名-->
        <file>${LOG_HOME}/tp.log</file>
        <Append>true</Append>
        <prudent>false</prudent>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|%X{requestId}|%X{requestSeq}|^_^|[%t] %-5level %logger{50} %line - %m%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/tp.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|%X{requestId}|%X{requestSeq}|^_^|[%t] %-5level %logger{50} %line - %m%n
            </pattern>
            <!--<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} %level [%thread] %class:%line>>%msg%n</pattern>-->
        </encoder>
    </appender>

    <!-- log file error -->
    <appender name="vipkid-trpm-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_HOME}/tp-error.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/tp-error.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- MQ 特定的日志文件 -->
    <appender name="FILE_FOR_MQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名-->
        <file>${LOG_HOME}/tp-activemq.log</file>
        <Append>true</Append>
        <prudent>false</prudent>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|^_^|[%t] %-5level %logger{50} %line - %m%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--归档日志文件名-->
            <FileNamePattern>${LOG_HOME}/tp-activemq.log.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- http request 接口特定的日志文件 -->
    <appender name="FILE_FOR_HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名-->
        <file>${LOG_HOME}/tp-http.log</file>
        <Append>true</Append>
        <prudent>false</prudent>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>
                %d{yyyy-MM-dd/HH:mm:ss.SSS}|%X{localIp}|%X{requestId}|%X{requestSeq}|^_^|[%t] %-5level %logger{50} %line - %m%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--归档日志文件名-->
            <FileNamePattern>${LOG_HOME}/tp-http.log.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <!--日志文件保留个数-->
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--额外保留 mq 的日志文件到一个单独的文件中-->
    <logger name="com.vipkid.mq" level="info">
        <appender-ref ref="FILE_FOR_MQ"/>
    </logger>

    <!--额外保留 http 的日志文件到一个单独的文件中-->
    <logger name="com.vipkid.http" level="info">
        <appender-ref ref="FILE_FOR_HTTP"/>
    </logger>


    <!-- 日志输出级别 -->
    <root level="info">
    	${logback.console.out}
        <appender-ref ref="FILE"/>
        <appender-ref ref="vipkid-trpm-error"/>
        <appender-ref ref="email"/>
    </root>
</configuration>
