<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	<p>Dear {{teacherName}}, </p>

	<p>Your resume is just what we are looking for! (Would it be weird if we had a copy saved on our Kindle?)</p>

	<p>We would like to invite you to a 30-minute interview + class demo. Here we can get to know each other a little more, and you will have the opportunity to show case your classroom skills. It's like speed dating, but far more fun.</p>
	
	<p>To schedule your interview and demo class, please log into your account at <a href="https://t.vipkid.com.cn" target="_blank">t.vipkid.com.cn</a>.</p>

	<p>In your account you will also find all additional information regarding the interview and demo class. Please make sure you prepare well for it, and familiarizing yourself with the readings and VIPKID standards will make all the difference!</p>

	<p><strong>Interview slots are limited, so make sure you sign up quickly!</strong></p>
	
	<p>If you need any help, or just want to chat, feel free to contact us at <a style="color:red;" href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>.</p>

	<p>Here's some stuff to help you out:</p>
	<div  style="padding-left:10px;">
		<p>
		- Scheduling an interview and demo class:  <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/Tech_Guide-Book_an_interview_with_us.pptx" download="Tech_Guide-Book_an_interview_with_us.pptx">head here</a>
		</p>

		<p>
		- -	A PowerPoint for the lesson you will be 'teaching': <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="interview_demo.pdf">head here</a>
		</p>

		<p>
		- Interview Tips: <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/InterviewTips.pdf" download="InterviewTips.pdf">head here</a>
		</p>

		<p>
		- A demo class example: <a href="https://youtu.be/OdeHVoY2Now" target="_blank">head here</a>
		</p>
	</div>
	<br>
	
	<p style="display:{{referralShow}};font-style:italic;color:red;">And lastly, just to give you a sneak peak into the VIPKID life, {{referrerName}} (who referred you) has already taught {{numberClasses}} classes with us. </p>
	
	<p>Regards,<br><br>VIPKID Recruitment Team</p>
</div>
