<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	<p>Dear {{teacherName}}, </p>
	<p>
		Thank you for interest in VIPKID. Unfortunately, based on the information you have provided to us, <strong>we will not be progressing with your application. </strong>
	</p>

	<p><br>Don't worry we still think you're great! But maybe not as well aligned to what we are looking for as some other applicants.</p>

	<p><br>We would like to remind you that online education is a new and still emerging industry, and the needs of students in this environment are quite different.</p>

	<p><br/>If you are still interested, we encourage you to learn more about the industry. There are some great online courses available too. Who knows, maybe we'll see your application again in a few months time (we hope so!). </p>
	
	<p><br/>Regards,<br/>The VIPKID Recruiting Team</p>
</div>