<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
<p>Dear {{teacherName}}, </p>

 <p>Life happened and you had to cancel Mock Class, or (and this is usually the least likely) your dog started talking, and the Mock Class lost its priority. 
Either you asked for a reschedule/cancellation, the wonders of technology failed us. </p>

    <p>Either you asked for a reschedule/cancellation, the wonders of technology failed us.</p>

    <p><b>Whatever the reason, let's not lose momentum now that you're so near the end! Please log in to <a href="https://t.vipkid.com.cn">t.vipkid.com.cn/login</a> to reschedule. </b> </p>

<p>Regards,<br/><br/>The VIPKID Recruitment Team</p>