<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>

<p>Dear {{teacherName}}, </p>

<p>This is a kind reminder for you to finish uploading the documents to join the VIPKID teaching community. Think of this like signing the agreement to your very own business…exciting right?</p>

<p>To do so, please log in to <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a></p>

<p>If your account remains inactive, it will be withdrawn from the application process.</p>

<p>While we can’t sign anything on your behalf, we are glad to assist in case of difficulties, so email us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> if you need any help.</p>

<p>Regards,</p>

<p>VIPKID Recruitment Team</p>
</div>