<p>Dear {{teacherName}}, </p>

<p>Uh-oh, the following documents need to be re-uploaded:</p>

<p>{{failFiles}}</p>

<p>Please log in to <a style="color: red" href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a> to view the details and to re-upload the necessary documents.</p>

<p>We are glad to assist in case of difficulties, so email us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> if you need any help.</p>

<p>Regards</p>

<p>The VIPKID Recruitment Team</p>

