<p>Dear {{teacherName}}, </p>

<p>Due to the following reasons, we will request you to upload certain documents again:</p>

<p>The following documents are failed</p>

<p>{{failFiles}}</p>

<p>Please re-upload the files at <a href="t.vipkid.com.cn/login">t.vipkid.com.cn/login.</a> to re-upload the necessary documents.</p>

<p>We are glad to assist in case of difficulties, so email us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> if you need any help.</p>

<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>

