<p>Hi {{teacherName}},</p>

<p>Congratulations! You are now a member of the VIPKID teaching family! Here is what you need to do in the next few minutes in order to start teaching:</p>

<p><b>&nbsp;&nbsp;1.Activate your Freshdesk account</b></p>
<p>&nbsp;&nbsp;&nbsp; You will receive an activation email from the VIPKID Education Freshdesk. Freshdesk is your primary way of communicating with the Education Department.</p>
<p>&nbsp;&nbsp;&nbsp; You will also be able to join our active teacher community through our forums,</p>
<p>&nbsp;&nbsp;&nbsp; access additional preparation and support materials, and search through our comprehensive FAQs.</p>

<p><b>&nbsp;&nbsp;2.Log into the <span style="font-family:times;color:blue">Teacher’s Portal</span></b>
<p> &nbsp;&nbsp;&nbsp;You can log in to your Teacher’s Portal at <a href="t.vipkid.com.cn/login">t.vipkid.com.cn/login.</a></p>
<p> &nbsp;&nbsp;&nbsp;Your username and password are the same as you have been using throughout the application and mock class process.</p>

<p><b>&nbsp;&nbsp;3.Start opening time slots, and get ready to teach!</b></p>
<p>  &nbsp;&nbsp;&nbsp;That’s right… what are you waiting for?</p>


<p>But just before you rush off in excitement…</p>

<p>We believe that you are a responsible and professional teacher. However, we would still like to outline some basic expectations to ensure you can make the most of the VIPKID teaching platform.</p>
<p>&nbsp;1.	Always have good background (especially lighting);</p>
<p>&nbsp;2.	Make sure you have a good, stable internet connection, camera and headset;</p>
<p>&nbsp;3.	Always maintain high energy levels while teaching;</p>
<p>&nbsp;4.	Be very careful with your schedule, and always show up for your classes on time. Please be sure to return to your Teacher's Portal daily.</p>
<p>&nbsp;&nbsp;Any time slots that you open can be booked by our students or head office staff. We won't book you with less than 24 hours’</p>
<p>&nbsp;&nbsp;notice unless you give us permission to do so by checking the short notice booking boxes.</p>
<p>&nbsp;&nbsp;If you do check these boxes, be sure to revisit your Teacher's Portal before your first available time slot to check if it has been booked!</p>

<p>Welcome aboard and happy teaching!</p>

<p>VIPKID Education</p>
