<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>

<p>Hi {{teacherName}},</p>

<p>Congratulations!!! You are now a member of the VIPKID teaching community… feel those shivers down your spine? Yeah, us too. </p>

<p>After a rollercoaster few weeks (and close on a million emails), this is probably the last mammoth email you will receive from us, maybe ever. But it has all the important information you need to get you teaching your first student. </p>

<b>So read on:</b>
<p><b>&nbsp;&nbsp;Step 1. Login to the Teacher Portal now and open your time slots for teaching</b></p>
<p>&nbsp;&nbsp;&nbsp; Oh yeah, you can bookmark this page now. It's your Teacher Portal! Login at   <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a> right away and start opening time slots so that VIPKID students can book you!
        Pro tip: opening time slots before noon on Mondays will ensure the highest chance of being booked quickly.</p>
<p>&nbsp;&nbsp;&nbsp; Your username and password are the same as you have been using throughout the application and Mock Class process. Isn't that convenient. </p>
<p><b>&nbsp;&nbsp;Step 2. Activate your Freshdesk account</b></p>
<p> &nbsp;&nbsp;&nbsp; You will receive an activation email from the VIPKID Education Freshdesk in the coming 1-2 days. From now on, all your communication with VIPKID will happen via tickets in Freshdesk.</p>
        <p> &nbsp;&nbsp;&nbsp; You will also be able to join our active teacher community through our forums, access additional preparation and  <a href="https://vipkid.freshdesk.com/support/login" target="_blank">support materials</a>, and search through our comprehensive FAQs.</p>

<p> &nbsp;&nbsp;&nbsp; That's it! But just before you rush off in excitement...</p>

<p> &nbsp;&nbsp;&nbsp; We believe that you are a responsible and professional teacher. However, we would still like to outline some basic expectations to ensure you can make the most of the VIPKID teaching platform.</p>
<p><b>
        &nbsp;&nbsp;&nbsp;1. Always have good background (especially lighting);<br>
        &nbsp;&nbsp;&nbsp;2. Make sure you have a good, stable internet connection, camera and headset;<br>
        &nbsp;&nbsp;&nbsp;3. Always maintain high energy levels while teaching. Put your awesome skills to use by using reward systems and creative techniques - you're this kid's hero remember;<br>
        &nbsp;&nbsp;&nbsp;4. Be very careful with your schedule, and show up for your classes on time. No Shows and last minute cancellations <a href="https://vipkid.freshdesk.com/support/login" target="_blank">have a severe impact on you;</a>  <br>
        &nbsp;&nbsp;&nbsp;5. Be sure to visit your Teacher's Portal daily to stay on top of your schedule, and so you're never late for class!
</b></p>
<br>
<p>&nbsp;&nbsp;   Any time slots that you open can be booked by our students or head office staff. We won't book you with less than 24 hours' notice unless you give us permission to do so.</p>
<p>&nbsp;&nbsp;   By checking the little "short notice box" in your available time slots, you will be eligible to be booked without notice. If you do check these boxes, be sure to revisit your Teacher's Portal before your first available time slot to check if it has been booked!</p>
<p>&nbsp;&nbsp;   Lastly! Don't forget VIPKID has an AWESOME App (VIPKID Teach) that makes your life infinitely easier! You can check your schedule, preview classes, leave feedback to students and view parent feedback anywhere, anytime! Search for 'VIPKID teach' on Google Play (for Android users) or App Store (for iOS users).</p>
<p>Welcome aboard and happy teaching!</p>

<p>VIPKID Education</p>
</div>