<p>Hi {{teacherName}},</p>

<p>Congratulations! You are now a member of the VIPKID teaching family! Here is what you need to do in the next few minutes in order to start teaching:</p>

<p><b>&nbsp;&nbsp;1.  Login to the Teacher Portal now and open your time slots for teaching</b></p>
<p>&nbsp;&nbsp;&nbsp; Please login to your super special Teacher's Portal at  <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a> right away. There, you will be able to open time slots so that VIPKID students can start booking you!</p>
<p>&nbsp;&nbsp;&nbsp; Your username and password are the same as you have been using throughout the application and Mock Class process.</p>
<p><b>&nbsp;&nbsp;2.  Activate your Freshdesk account</b></p>
<p> &nbsp;&nbsp;&nbsp; You will receive an activation email from the VIPKID Education Freshdesk in the coming 1-2 days. From now on, all your communication with VIPKID will happen via Freshdesk.</p>
<p> &nbsp;&nbsp;&nbsp; You will also be able to join our active teacher community through our forums, access additional preparation and support materials, and search through our comprehensive FAQs.</p>

<p> &nbsp;&nbsp;&nbsp; But just before you rush off in excitement...</p>

<p> &nbsp;&nbsp;&nbsp; We believe that you are a responsible and professional teacher. However, we would still like to outline some basic expectations to ensure you can make the most of the VIPKID teaching platform.</p>
<p><b>
        &nbsp;&nbsp;&nbsp;1. Always have good background (especially lighting);<br>
        &nbsp;&nbsp;&nbsp;2. Make sure you have a good, stable internet connection, camera and headset;<br>
        &nbsp;&nbsp;&nbsp;3. Always maintain high energy levels while teaching;<br>
        &nbsp;&nbsp;&nbsp;4. Be very careful with your schedule, and always show up for your classes on time. Please be sure to return to your Teacher's Portal daily.
</b></p>
<br>
<p>&nbsp;&nbsp;  Any time slots that you open can be booked by our students or head office staff. We won't book you with less than 24 hours' notice unless you give us permission to do so by checking the short notice booking boxes.</p>
<p>&nbsp;&nbsp;  If you do check these boxes, be sure to revisit your Teacher's Portal before your first available time slot to check if it has been booked!</p>
<p>&nbsp;&nbsp;  Last step! Don't forget VIPKID has an AWESOME smartphone App that lets you check your schedule, preview classes, leave feedback to students and view parent feedback anywhere, anytime! To enjoy these great features immediately, please search for 'VIPKID teach' on Google Play (for Android users) or App Store (for iOS users).</p>
<p>Welcome aboard and happy teaching!</p>

<p>VIPKID Education</p>
