<meta charset="UTF8">	
<div style="padding-top:16px;"><img style="width:150px;" src='https://resource.vipkid.com.cn/teacher_recruitment/resource_2016_03_01/logotm.png'></div>
<div style="background:#333;width:100%;height:25px;margin-top:15px;"></div>
<div style="font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:large;padding:10px 35px;background:#fff;">
	<p>Hi CLT,</p>
	
	<p>
		学生 {{studentName}} 发生了 level of replacement，原因 {{reason}}:
	</p>
	<table border='1' cellpadding='5'>
		<tr><th>Lesson SN</th><th>Scheduled Date Time</th><th>Level of Difficulty</th></tr>
		{{tableDetails}}
	</table>


	
	<p>Regards,</p>
	<p>VIPKID</p>
</div>
<div style="text-align:center;font-weight:bold;padding-top:30px;">© 2016 VIPKID Limited.</div>

<style>
body{
width:980px;margin:0 auto!important;
background:#dfdfdf!important;
}

</style>