<div lang=EN-US style='font-size:16px;font-family:"Verdana",sans-serif;color:black'>
	<p>Dear {{teacherName}},</p>

	<p>Don't forget you have your interview with VIPKID scheduled at:</p>

	<ul>
		<li><p><strong>Time:</strong> {{scheduledDateTime}}</p></li>
		<li><p><strong>Time Zone:</strong> {{timezone}}</p></li>
		<li><p><strong>Where:</strong> <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a></p></li>
	</ul>

	<p>
		Make sure you're aware of the time zone (we're in China remember). If you think you will have any trouble making the interview, or are experiencing any other issues, please let us know.
	</p>

	<p>To make sure you're on time and well prepared, remember:</p>

	<ol>
		<li>Your interview will take place directly in our portal (see above)</li>
		<li>Make sure you check out the <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/InterviewTips.pdf" download="pdf">interview tips</a> and <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="pdf">demo ppt</a> beforehand (so important)</li>
		<li>Make sure you're using a desktop or laptop computer (phones/iPads won't work)</li>
	</ol>

	<p>Since we enjoy IT issues about as much as pulling teeth (you're probably the same), we have provided some tips to ensure the process goes smoothly:</p>

	<ul>
		<li>Clear your web browser cache</li>
		<li>Use Chrome as the preferred web browser</li>
		<li>Use a wired connection (instead of wifi) if your connection is unstable</li>
		<li>If all else fails, restart (and maybe kick) your computer</li>
	</ul>
	<p style ="color:red;"><I>If you cannot keep the interview appointment as scheduled, please cancel the interview now.</I></p>

	<a href="https://a4-t.vipkid.com.cn/login?channel=mail_recruitment_interview" style="color: #FFF; border: 1px red solid; background: red; border-radius: 5px; padding: 3px 15px; font-size: 16px;text-decoration: none;">cancel</a>

	<p style='font-size:14px;'><i>*Cancellations must be received at least 6 hours before the scheduled appointment time.
		When you fail to cancel your interviews in a timely fashion or do not appear for your appointment, your actions reflect poorly on your as an individual and on the platform as a whole.
		Not only do you inconvenience the Interviewer, but you may also deprive another teacher of a valuable interview opportunity. Fail to show up for an interview (no-show), the Recruitment Team will treat this instance seriously and will enforce "a two strikes and you're out" system.
	</i></p>

	<p>We look forward to seeing you (don't worry, sweaty palms don't show on camera... ours not yours). </p>


	<p>Best Regards.<br><br>VIPKID Recruitment Team</p>
<div>