<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	<p>Dear {{teacherName}}, </p>

	<p>We just want to remind you that you have <strong>not yet booked another interview with VIPKID</strong>. 
	We know because we've been hunkered around our screens waiting for a reply all night. Maybe.</p>

	<p>please log in to <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn</a> to reschedule an interview.</p>

	<p>If wolves are to blame, or you are experiencing any other difficulty, please don't hesitate to let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>

	<p>Best regards</p>

	<p>VIPKID Recruitment Team</p>
</div>
