<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>

<body style="margin: 0; padding: 0;">
<div class="emai" style="border: 1px #FFF solid; max-width: 600px; margin: 0 auto; background: #FFF; position: relative;">
    <img src="https://resource.vipkid.com.cn/teacher_recruitment/emailTitle.png" style="width: 100%;max-width: 600px">
    <div lang=EN-US style="font-size:16px;font-family:'Verdana, sans-serif';color:black; padding: 30px 20px 0 20px">
        <p>Dear {{teacherName}}, </p>

        <p style="font-size: 19px; color: #333; margin: 0; padding: 0;">
            <strong>You have successfully booked an interview with VIPKID at {{scheduledDateTime}} in time zone <span style="font-size: 1.0em">{{timezone}}</span>.</strong>
            Your interview will take place in the Portal (<a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn</a>), please don't be late!
        </p>

        <p style="margin: 0; padding: 16px 0 0 0; font-size: 16px;">We're easily as excited as you are. We even played rock, paper, scissors to see who would be the lucky person to interview you!</p>

        <p style="margin: 0; padding: 16px 0 0 0; font-size: 16px;">Please make sure you prepare <b>well</b> for the interview and demo class, and familiarize yourself with the readings and VIPKID Standards too. Not to scare you or anything, but the most fails in our application process are due to unpreparedness (especially if you have not taught ESL before). Here's that preparation material again:</p>

        <div style="padding:0">

            <p>
                1) Please be familiar with the
                <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="interview_demo.pdf">slides</a>
                (Cover the lesson objectives and target sentences.)
            </p>

            <p>
                2) Get familiar with the platform: <a href="https://drive.google.com/file/d/0BzePaO7v3kSKOUtjckZYSnVIZlE/view" target="_blank">(How to get into classroom)</a> &
                <a href="http://help.duobeiyun.com/room/test/?lang=en" target="_blank">&nbsp;test your equipment&nbsp;</a>before the interview.
            </p>
        </div>
        <p style="display:{{referralShow}};color:#f85415;padding: 0; font-size: 16px;">If you cannot keep the interview appointment as scheduled, please cancel the interview now.</p>

        <a href="https://t.vipkid.com.cn/login?channel=mail_recruitment_interview" style="border: 1px #f85415 solid; background: #FFF; border-radius: 30px; text-decoration: none; color: #f85415; padding: 3px 20px; margin: 10px 30px; display: inline-block;">cancel</a>

        <p style="color: #666; font-size: 14px; padding: 0"><i>* To cancel or reschedule the interview, click here In certain cases, a No-Show will directly jeopardize your chances of becoming a VIPKID teacher. Also,
            our interview slots are limited so make sure you cancel at least 6 hours in advance if you can no longer attend so that someone else can book your slot.</i></p>

        <p style="display:{{referralShow}};color:#f85415;padding: 0; font-size: 16px;">By the way, did you know that {{teacherNumber}} teachers from {{applicantState}} also teach on the VIPKID platform! Pretty cool right?</p>

        <p style="padding: 0">Best Regards.</p>
        <p style="padding: 0; color: #999;">VIPKID Recruitment Team</p>

        <img src="https://resource.vipkid.com.cn/teacher_recruitment/emailLogo.png" style="width: 70px; position: absolute; bottom: 17px; right: 20px;">


    </div>

