<p>Dear {{teacherName}}, </p>

<p>
    <strong>You have successfully booked an interview with VIPKID at {{scheduledDateTime}} in time zone <span style="font-size: 1.0em">{{timezone}}</span>.</strong>
</p>

<p>Please prepare for the demo class and we highly suggest you to do the readings before the interview to familiarize yourself with the VIPKID method and policies.</p>

<p>
    Feel free to contact us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> if you have any questions.
</p>
<p>
    You can also reach us on Skype. Our Skype name is Teach.VIPKID.
</p>

<br>

<div  style="font-style: italic;">
    ---------------------------------------------------------------------------------
    <p>

    <p>
        - Here is the PPT for the lesson you will be teaching: <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="interview_demo.pdf">Download</a>
    </p>

    <p>
        - Interview Tips: <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/InterviewTips.pdf" download="InterviewTips.pdf">Download</a>
    </p>

    <p>
        - Demo lesson example: <a href="https://youtu.be/OdeHVoY2Now" target="_blank"> Watch it</a>
    </p>

    </p>
    ---------------------------------------------------------------------------------
</div>

<br>

<p>Best Regards,<br>VIPKID Recruitment Team</p>