<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	<p>Dear {{teacherName}}, </p>

	<p>It's the "don't forget to eat your Brussels sprouts" reminder email. </p>

	<p>In order for you to progress with your VIPKID application, you need to finish reading the 
	<strong>VIPKID Teaching Standards</strong> (don't forget to check the little box) and proceed to the Teaching Preparation stage.</p>

	<p>We spent a long time with a thesaurus trying to find a more exciting word than "standards", but alas it's what they are. But trust us, it is important to read them!</p>

	<p>To do so, please log into your portal at <a href="https://t.vipkid.com.cn/login">t.vipkid.com.cn/login</a>. If your account continues to remain inactive, your application may be withdrawn.</p>
	
	<p>As always, let us know if you need help or want to share horror stories about Brussels sprouts at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>
	
	<p>Regards</p>

	<p>VIPKID Recruitment Team</p>
</div>
