<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
<p>Dear {{teacherName}}, </p>

<p>
    <strong>You have successfully booked an interview with VIPKID at {{scheduledDateTime}} in time zone <span style="font-size: 1.0em">{{timezone}}</span>.</strong>
</p>

<p>We're easily as excited as you are. We even played rock, paper, scissors to see who would be the lucky person to interview you!</p>

<p>Please make sure you prepare well for the interview and demo class, and familiarize yourself with the readings and VIPKID Standards too. Not to scare you or anything, but the most fails in our application process are due to unpreparedness (especially if you have not taught ESL before). Here's that preparation material again:</p>


<div style="font-style: italic;padding-left:20px;">

    <p>
        - A PowerPoint for the lesson you will be 'teaching' (not reading this, is like going to an interview without your pants on): 
		<a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="interview_demo.pdf">head here</a>
    </p>

    <p>
        - Interview Tips: <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/InterviewTips.pdf" download="InterviewTips.pdf">head here</a>
    </p>

    <p>
        - A demo class example: <a href="https://youtu.be/OdeHVoY2Now" target="_blank">head here</a>
    </p>
</div>

<p>Your interview will take place in the Portal (<a href="https://t.vipkid.com.cn">t.vipkid.com.cn</a>), please don't be late!</p>

<p>If you need any help, feel free to contact us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>.</p>

<p style="display:{{referralShow}};color:red;"><I>By the way, did you know that {{teacherNumber}} teachers from {{applicantState}} also teach on the VIPKID platform! Pretty cool right?</I></p>

<p>Regards<br/><br/>The VIPKID Recruitment Team</p>