<p>
Dear {{teacherName}},
</p>
<p>
    Thank you for submitting your resume to VIPKID. We are impressed by your experience and have already invited you for an interview, but, unfortunately, we have not yet heard back from you. We would very much like you to start this process.
</p>
<p>
    We want you to know how awesome it is to work with VIPKID: you can earn up to USD 22/h, get paid if you refer teachers, work from home, work with an awesome team of teachers and staff passionate all about providing quality education! Be part of the greatest ed-tech revolution. Even <a href="http://www.businesswire.com/news/home/20160823005760/en/Kobe-Bryant-Announces-Investment-Chinese-Education-Company" target="_blank">Kobe Bryant invested in us recently</a>. Will you join us too?
</p>
<p>
To schedule an interview, please log back into the recruitment portal and book a timeslot. Click <a href="http://vipkid.oss-cn-beijing.aliyuncs.com/teacher_recruitment/step2_interview/Tech_Guide-Book_an_interview_with_us.pptx" download="Tech_Guide-Book_an_interview_with_us.pptx" target="_blank">here</a> to learn how to book an interview.
</p>
<p>
If you have any emails, email us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>.
</p>
<p>
Hope to hear from you soon!
</p>
<p>
VIPKID Recruitment Team
</p>