<p>Dear {{teacherName}}, </p>

<p>This is a kind reminder for you to finish reading the VIPKID Teaching Professional Standards and to proceed to the Teaching Prep stage. In order to do so, please log in to<a href="https://t.vipkid.com.cn/login" target="_blank"> t.vipkid.com.cn/login.</a></p>

<p>If your account remains inactive, it will be withdrawn from the application process.</p>

<p>We are glad to assist in case of difficulties, so email us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> if you need any help.</p>

<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>
