<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	<div style="width:80%; min-width: 800px; max-width: 1200px; margin: 0 auto;">
		<p>Dear {{teacherName}},</p>
		<p>You rocked that interview in all the ways that interviews should be rocked! We would love to have you teaching in our platform  (note there a still a few important steps left... but early celebration is perfectly fine).</p>	
		<p>Below you will find some details about your interview result, as well as your contract:</p>
		<ul style="margin-lef: 50px;line-height:27px;">
			<li>Interview and demo class score: <strong>{{all-score}}/100</strong></li>
			<li>Your minimum payment per class: <strong>{{basePay}}/per class</strong></li>
			<li>Your basic incentive (up to): <strong>additional$2/per class</strong></li>
			<li>Your contract:&nbsp;<a download="contractUrl" style="color:red;" href="{{contractURL}}">download here</a></li>
		</ul>
		<p style="line-height: 1.6rem;font-weight:bold;text-decoration:underline">NEXT STEPS (AKA the most important part):</p>
		<p>Since we offer online classroom environments to our children, there are three important things you need to do in order to begin teaching (we promise it’ll all be worth it).</p>
		<ol style="line-height:27px;">
			<li>You will have <strong style="color:red;">2 DAYS</strong> to finish the Teaching Preparation stage. This means watching our super helpful videos (about teaching Standards and other important things) and then passing a basic quiz.</li>
			<li>Once you have done this, you will have <strong style="color:red;">6 DAYS</strong>  to complete 1-2 "mock classes" with a real VIPKID teacher. This is important because it is your first run at teaching <span style="text-decoration:underline;color:red;">in the</span> a VIPKID <span style="text-decoration:underline;color:red;">platform<span> <span style="text-decoration:line-through;color:red;">class<span></li>
			<li>After <span style="text-decoration:underline;color:red;">passing</span> this "mock class", you will have <strong style="color:red;">2 DAYS</strong> to complete and upload your signed contract and any other required documentation. This will allow us to finalize and complete your Teacher Profile so you can begin teaching!</li>
		</ol>
		<p>We know this is probably one of the more complicated emails you have received today, so we advise you to note down the information and deadlines (each step is detailed further below). Also, if you encounter any problems that might impact this process, don't hesitate to let us know!</p>
		<p>Here's how you go about proceeding:</p>
		
		<p>1.	Log in to your Portal at <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a>. There you can access the Teacher Preparation emails (including Standards) and complete the quiz. 
		<p>2.	Check out the rubric below in preparation for the "mock class". Remember, the purpose of the "mock class" is for us to make sure you will thrive in the online classroom environment!</p>

		<table style="width: 600px; border: 2px solid #DDDDDD; border-collapse: collapse; line-height: 2rem; text-indent: 10px;">
			<tr style="border-top: 2px solid #DDDDDD;">
				<td colspan=3 style="text-align: left; font-size: 1.6rem; font-weight: bold; line-height: 3rem;">Education and Teaching Experience</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; font-weight: bold; background-color: #FFE7E7;">
				<td style="border-right: 2px solid #DDDDDD;">Result Type</td>
				<td style="border-right: 2px solid #DDDDDD;">Result</td>
				<td>Score</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;">
				<td style="border-right: 2px solid #DDDDDD;">Highest Degree</td>
				<td style="border-right: 2px solid #DDDDDD;">{{accent-label}}</td>
				<td>{{accent-score}}/8</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;">
				<td style="border-right: 2px solid #DDDDDD;">Teaching Experience</td>
				<td style="border-right: 2px solid #DDDDDD;">{{phonics-label}}</td>
				<td>{{phonics-score}}/25</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;">
				<td style="border-right: 2px solid #DDDDDD;">Teaching Certificate</td>
				<td style="border-right: 2px solid #DDDDDD;">{{positive-label}}</td>
				<td>{{positive-score}}/5</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD;font-weight: bold; text-align: left;">
				<td colspan="2" style="border-right: 2px solid #DDDDDD; font-weight: bold; font-size: 1rem">Education and teaching experience score</td>
				<td >{{pre-score}}/38</td>
			</tr>
		</table>

		<table style="width: 99%; min-width: 800px; max-width: 1200px; border: 2px solid #DDDDDD; border-collapse: collapse; margin-top: 10px; line-height: 2rem;">
			<tr sryle="line-height: 3rem;">
				<td colspan="5" style="text-align: center; font-size: 1.8rem; font-weight: bold; line-height: 4rem;"><strong>Demo Lesson Performance</strong></td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; font-weight: bold; background-color: #FFE7E7;" valign="top" >
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Result Type</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; padding: 10px">Comments about your performance and some helpful feedback</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Score</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; background-color: #F0F0F0;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Engaging Class</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><b>Comments:</b>{{engaged-comments}}</p>
					<p><b>Feedback:</b>{{engaged-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{engaged-score}}/8</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Time Management</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{timeManagementScore-comments}}</p>
					<p><strong>Feedback:</strong>{{timeManagementScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{timeManagementScore-score}}/8</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; background-color: #F0F0F0;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Attempted to complete the lesson objectives</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{lessonObjectivesScore-comments}}</p>
					<p><strong>Feedback:</strong>{{lessonObjectivesScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{lessonObjectivesScore-score}}/8</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Appropriate EnergyLevel</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{teachingMethod-comments}}</p>
					<p><p><strong>Feedback:</strong>{{teachingMethod-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{teachingMethod-score}}/8</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; background-color: #F0F0F0;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Use of Tools</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{preparationPlanningScore-comments}}</p>
					<p><strong>Feedback:</strong>{{preparationPlanningScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{preparationPlanningScore-score}}/6</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Total Physical Response (TPR) Usage</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{englishLanguageScore-comments}}</p>
					<p><strong>Feedback:</strong>{{englishLanguageScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{englishLanguageScore-score}}/6</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; background-color: #F0F0F0;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Simplified Instructions</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{interactionRapportScore-comments}}</p>
					<p><strong>Feedback:</strong>{{interactionRapportScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{interactionRapportScore-score}}/6</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Student Output</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{studentOutputScore-comments}}</p>
					<p><strong>Feedback:</strong>{{studentOutputScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{studentOutputScore-score}}/6</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; background-color: #F0F0F0;" valign="top">
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">Tools' Preparation</td>
				<td colspan="3" style="border-right: 2px solid #DDDDDD; text-align: left; padding: 10px;">
					<p><strong>Comments:</strong>{{appearanceScore-comments}}</p>
					<p><strong>Feedback:</strong>{{appearanceScore-feedback}}</p>
				</td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{appearanceScore-score}}/6</td>
			</tr>
			<tr style="border-top: 2px solid #DDDDDD; text-align: left; font-weight: bold; line-height: 2rem;">
				<td colspan="4" style="border-right: 2px solid #DDDDDD; font-size: 1rem; padding: 10px;"><strong>Demo lesson performance score</strong></td>
				<td style="border-right: 2px solid #DDDDDD; padding: 10px;">{{demo-score}}/62</td>
			</tr>
		</table>
		<p>Lastly, when in the contract upload stage, US nationals or Tax Residents will be required to submit their Form W-9 for tax purposes (VIPKID will issue a Form 1099 at the end of each tax year to all contracting teachers from the US or resident in the US).</p>
		<p>Phew, that was a long one! If you need any help with anything, feel free to drop us a mail at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> and we will do all we can to help (we won't do the quiz for you though). </p>
		<p style="display:{{referralShow}};color:red;">By the way, since the person that referred you, {{referrerName}}, has taught {{numberClasses}} classes already, it may not be a bad idea to reach out for tips for the "mock class".</p>
		<p>Regards<br/></p>
		<p>VIPKID Recruitment Team</p>
	</div>
</div>
