<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
	
	<p>Dear {{teacherName}},</p>
	
	<p>
		We recently sent you an invitation to sign up for an interview and demo class with VIPKID. We've already started taking bets on who will be the lucky person to actually meet you first. So what are you waiting for?
	</p>
	
	<p>
		Don't worry we know you are probably busy, so here's a brief reminder as well as some extra info to get you as excited as we are:
	</p>
	
	<p>
		To schedule your interview make sure to <a target="_blank" href="https://t.vipkid.com.cn/login">log into the recruitment portal</a>. You'll find all the information you need about the process there, as well as in our previous mail. 
	</p>
	
	<p>
		But you may also be asking yourself, why am I doing this again? Well, because everyone is doing it! 
		We already have over 10,000 teachers contracting with VIPKID. 
		Kobe Bryant brought his game off the court and straight to us <a target="_blank" href="http://www.latimes.com/business/technology/la-fi-tn-la-tech-20160822-snap-htmlstory.html">when he became an investor</a> last year. 
		And you can make between $14 and $22 per hour through teaching!
	</p>
	
	<p>If this hasn't got you ready and rearing to go, drop us a mail at <a style="color:red;" href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> and we can provide any additional info you might need.</p>
	
	<p>Looking forward to hearing from you!</p>
	
	<p>Regards<br/><br/>VIPKID Recruitment Team</p>
	
</div>