<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>

<body style="margin: 0; padding: 0;">
<div class="emai" style="border: 1px #FFF solid; max-width: 600px; margin: 0 auto; background: #FFF; position: relative;">
	<img src="https://resource.vipkid.com.cn/teacher_recruitment/emailTitle.png" style="width: 100%;max-width: 600px">
	<div style="font-size:16px;font-family:'Verdana, sans-serif';color:black; padding: 30px 20px 0 20px">
		<p>Dear {{teacherName}},</p>

		<p style="font-size: 19px; color: #333; margin: 0; padding: 0;">Don't forget you have your interview with VIPKID scheduled at:</p>

		<ul>
			<li><p><strong>Time:</strong> {{scheduledDateTime}}</p></li>
			<li><p><strong>Time Zone:</strong> {{timezone}}</p></li>
			<li><p><strong>Where:</strong> <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a></p></li>
		</ul>

		<p style="font-size: 19px; color: #333; margin: 0; padding: 0;">
			Make sure you're aware of the time zone (we're in China remember). If you think you will have any trouble making the interview, or are experiencing any other issues, please let us know.
		</p>

		<p style="font-size: 19px; color: #333; margin: 20px 0 0 0; padding: 0;">To make sure you're on time and well prepared, remember:</p>

		<ol style="margin:20px 0; padding: 0;">
			<li>Your interview will take place directly in our portal (see above)</li>
			<li>Make sure you check out the <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/InterviewTips.pdf" download="pdf">interview tips</a> and <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/interview_demo.pdf" download="pdf">demo ppt</a> beforehand (so important)</li>
			<li>Make sure you're using a desktop or laptop computer (phones/iPads won't work)</li>
		</ol>

		<p style="margin: 0; padding: 10px 0">Since we enjoy IT issues about as much as pulling teeth (you're probably the same), we have provided some tips to ensure the process goes smoothly:</p>

		<ul style="margin:20px 0; padding: 0;">
			<li>Clear your web browser cache</li>
			<li>Use Chrome as the preferred web browser</li>
			<li>Use a wired connection (instead of wifi) if your connection is unstable</li>
			<li>If all else fails, restart (and maybe kick) your computer</li>
		</ul>
		<p style="color:#f85415;color:#f85415;font-size: 16px;">If you cannot keep the interview appointment as scheduled, please cancel the interview now.</p>

		<a href="https://t.vipkid.com.cn/login?channel=mail_recruitment_interview" style="border: 1px #f85415 solid; background: #FFF; border-radius: 30px; text-decoration: none; color: #f85415; padding: 3px 20px; margin: 10px 30px; display: inline-block;">cancel</a>

		<p style="color: #666; font-size: 14px; padding: 0"><i>* To cancel or reschedule the interview, click here In certain cases, a No-Show will directly jeopardize your chances of becoming a VIPKID teacher. Also,
			our interview slots are limited so make sure you cancel at least 6 hours in advance if you can no longer attend so that someone else can book your slot.</i></p>

		<p style="margin: 0; padding: 10px 0">We look forward to seeing you (don't worry, sweaty palms don't show on camera... ours not yours). </p>


		<p style="padding: 0">Best Regards.</p>
		<p style="padding: 0; color: #999;">VIPKID Recruitment Team</p>

		<img src="https://resource.vipkid.com.cn/teacher_recruitment/emailLogo.png" style="width: 70px; position: absolute; bottom: 17px; right: 20px;">
	</div>
</div>
</body>