<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
    <p>Dear {{teacherName}}, </p>

    <p>Thank you for taking the time to record the VIPKID demo lesson. You were almost there! However, at this point, we would like to request you to submit a new recording based on the following feedback.</p>

    <p>{{comments}}</p>

    <p>If you are still interested (we hope you still are!), we encourage you to submit a new recording.</p>

    <p>If you have any questions, feel free to reply to this email. We would love to help!</p>

    <p>Regards</p>

    <p>The VIPKID Recruiting Team</p>
</div>
