<p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>Full points = teacher fully meets the criterion</span></p>
<p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>Partial points= teacher partially meets the criterion</span></p>
<p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>No points= teacher fails to meet the criterion</span></p>

<div>
    <table width="500" border="1">
        <tr>
            <th>Section</th>
            <th>Points</th>
        </tr>
        #set($rubricResults = $resultMap.get(1))
        #foreach($item in $rubricResults)
            <tr>
                <td>${item.title}</td>
                <td align="center">${item.points}</td>
            </tr>
        #end
    </table>
</div>

<br/>

<p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'><strong>Professionalism</strong></span></p>

<div>
    <table width="500" border="1">
        #set($rubricResults = $resultMap.get(2))
        #foreach($item in $rubricResults)
            <tr>
                <td>${item.title}</td>
                <td align="center">#if(0 == ${item.points}) YES #else NO #end</td>
            </tr>
        #end
    </table>
</div>