<p>Dear {{teacherName}},</p>

<p>You haven’t booked your mock class with VIPKID yet. If there’s one thing we learnt from marriage counseling, it’s that communication is something something…</p>
<p>Anyhow, we wanted to reach out and make sure we’re being as supportive as possible. Since there are only 6 days to do your mock class from the time you completed the last stage, it’s important that you book it quickly!</p>

<p>Should you require assistance, please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>  so that we do not prematurely remove you from the process.</p>

<p>Ps. removing applicants from the process is our second least favorite thing in the world, right after undercooked artichokes.</p>

<p>Regards,</p>

<p>The VIPKID Recruitment Team</p>


