<p>Hello {{PESupervisor}},</p>
<br/>
<p>This is confirmation that the unfinished practicum ({{teachingExperience}}) was not submitted on time. Details about this unfinished practicum were sent on (date of 24 hour email). This unfinished practicum has been removed from your teacher portal. Removed practicums do not receive compensation. It is very important that unfinished practicums are completed in a timely manner. Our candidates are excited to work with us. However, we need the assessment from a Practicum Evaluator Supervisor before we can proceed.</p>
<br/>
<p>If you have questions about the practicum, please email practicum@vipkid.com.cn.</p>
<br/>
<br/>
<p>Best regards,</p> 
<p>VIPKID Practicum Coordinator</p>
