<p>Dear {{teacherName}}, </p>

<p>Don't forget your Mock Class is coming up. Our mentors have been talking about you all day!</p>

<p>When:<span style="font-size: 1.0em">{{scheduledDateTime}}</span></p>
<p>Time zone: <span style="font-size: 1.0em">{{timezone}}</span></p>
<p>At:<a href="https://t.vipkid.com.cn/login" target="_blank"> t.vipkid.com.cn/login.</a></p>

<p>Please take a look at the <a href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/Mock_Class_FAQ.pdf" download="Mock_Class_FAQs.pptx">Mock Class FAQs.</a> for more helpful tips about the class.</p>

<p>Make sure you attend the Mock Class on time! We have very limited time slots for Mock Classes, especially since our Mock Class Mentor are also our teachers. Therefore, if you have to cancel, do so 24 hours prior to the Mock Class so someone else can book the teacher's time. If you do not show up for the Mock Class and do not email us back, your account might be deactivated. </p>

<p>Please add your Mock Class Mentor (vipkid.mockclass) on Skype, if you haven't already. This will be a backup channel of communication if there are tech issues.</p>

<a href="http://a4-t.vipkid.com.cn" style="border: 1px #f99 solid; background: #aaa; border-radius: 5px; padding: 3px 15px; font-size: 16px;text-decoration: none;">cancel</a>
<p>*Cancellations must be received at least 6 hours before the scheduled appointment time.
    When you fail to cancel your Mock Class in a timely fashion or do not appear for your appointment, your actions reflect poorly on your as an individual and on the platform as a whole.
    Not only do you inconvenience the Mentor, but you may also deprive another teacher of a valuable Mock Class opportunity. Fail to show up for a Mock Class (no-show), the Teacher Management Team will treat this instance seriously and will enforce "a two strikes and you're out" system</p>
<p>Good luck in the Mock Class!</p>

<p>Best regards,</p>

<p>VIPKID Recruiting Team</p>