<div lang=EN-US style='font-size:16px;font-family:"Verdana",sans-serif;color:black'>

<p>Dear {{teacherName}},</p>
<p>You have successfully booked a Mock Class with VIPKID at</p>
<p><b>When: {{scheduledDateTime}}</b></p>
<p><b>Time zone: {{timezone}}</b></p>
<p><b>At: <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a></b></p>
<p>As a reminder your "mock class" is similar to what you did in your interview, but 25 minutes long. Here's the breakdown:</p>


<img src="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/mock_class_1.png" style="width:850px;height:710px;" />

    <p style ="color:red;"><I>If you cannot keep the Mock Class appointment as scheduled, please cancel it now.</I></p>

    <a href="https://t.vipkid.com.cn/login?channel=mail_recruitment_mockClass" style="color: #FFF; border: 1px red solid; background: red; border-radius: 5px; padding: 3px 15px; font-size: 16px;text-decoration: none;">cancel</a>

    <p style='font-size:14px;'><i>*Cancellations must be received at least 6 hours before the scheduled appointment time.
        When you fail to cancel your Mock Class in a timely fashion or do not appear for your appointment, your actions reflect poorly on your as an individual and on the platform as a whole.
        Not only do you inconvenience the Mentor, but you may also deprive another teacher of a valuable Mock Class opportunity. Fail to show up for a Mock Class (no-show), the Teacher Management Team will treat this instance seriously and will enforce "a two strikes and you're out" system.
    </i></p>

<p style="display:{{referralShow}};color: blue;">Remember to go annoy {{referrerName}} (who referred you to VIPKID) for tips about the Mock Class. No shame in that.</p>

<p>Regards</p>
<p>VIPKID Recruitment Team</p>

</div>