<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>

<p>Dear {{teacherName}}</p>

<p>We’ve noticed you are still in the mock class stage. But we want to remind you that the real teaching fun is yet to begin – right after you finish your second mock class.</p>

<p><b>You only have  <span style="text-decoration:underline">3 days</span> to finish your second Mock Class after the first one. So make sure you book it now (<a href="https://t.vipkid.com.cn/login" target="_blank"> t.vipkid.com.cn/login</a>.) </b></p>

<p>Most people love the mock classes, but if you did not, we want to remind you that when teaching regular classes on the VIPKID platform it will be a child in the classroom. In fact, 0.000001% of our classes have adults pretending to be children in them!</p>

<p>Should you require any technical or other assistance, please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> so that we do not prematurely remove you from the process and can help troubleshoot or accommodate your needs.</p>

<p>Regards</p>

<p>The VIPKID Recruitment Team</p>
</div>