<p>Dear {{teacherName}},</p>

<p>This email to let you know that you have been rescheduled either because we had technical difficulties or because of a rescheduling request.</p>

<p>Since we value all of you and your efforts on having the mock class with us, we would like to invite you to schedule another one right away!</p>

<p>Please proceed to <a href="t.vipkid.com.cn/login"> t.vipkid.com.cn/login.</a> to reschedule.</p>

<p>Please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>cn if you have questions or concerns.</p>

<p>Best Regards,</p>

<p>VIPKID Recruitment Team</p>
