<p>Dear {{teacherName}}, </p>

<p>We hope this email finds you well. Based on your mock class mentor’s feedback of your performance, we would like to schedule a second mock class with you. This mock class is to give you an opportunity to implement the feedback given you during your first mock class. Please be aware that this is your final mock class opportunity. The reason why we have this procedure is to make sure that our teachers are fully prepared to teach our students.</p>

<p>Please proceed to booking your mock class by visiting <a href="t.vipkid.com.cn/login">t.vipkid.com.cn/login.</a></p>

<p><b>The second mock class is different from the first mock class. Take a look at the session breakdown to understand how it will be organized. Please also review the second mock class materials in the Recruitment Portal to prepare.</b></p>


<img src="<%=request.getContextPath()%>/common/images/404_ball.png">


<p>Please make sure to add the mock class mentor’s Skype in preparation for your mock class. It is <b>vipkid.mockclass.</b></p>

<p>If you have questions about the mock class, please let us know via email at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>

<p>As a final reminder, you have 3 days total to finish <b>the Mock Class 2 stage.</b></p>


<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>
