<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>

<p>Dear {{teacherName}},</p>

<p>Your mock class needs to be rescheduled.</p>

<p>Either you asked for a reschedule/cancellation, the wonders of technology failed us, life happened and you missed the mock class, or (and this is usually the least likely) your dog started talking and the mock class lost its priority.</p>

<p><b>Whatever the reason, let’s not lose momentum now that you’re so near the end! Please log in to <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a> to reschedule.</b></p>

<p>Otherwise get in touch at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>. We can help with almost anything. Except talking dogs… we have no clue on that one.</p>

<p>Regards,</p>

<p>The VIPKID Recruitment Team</p>

</div>