<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>

<p>Dear {{Teacher Name}}</p>

<p>You’re all set and ready to go for your second Mock Class with us. Doesn’t it feel like we’re best friends already? As a reminder your mock class is scheduled at:</p>

<p><b>When: {{scheduledDateTime}}</b></p>

<p><b>TImezone: {{timezone}}</b></p>

<p><b>Where: <a href="https://t.vipkid.com.cn/login" target="_blank"> t.vipkid.com.cn/login.</a></b></p>

<p>Don’t forget to review the feedback from your first mock class. In this way you will be sure to sail through the process.</p>

<p>1.	Review the feedback from your last mock class</p>
<p>2.	Have even more fun that you had the first time!</p>

<p>You probably won’t have too many questions at this stage (you’ve spend so much time on our platform now, you probably already know us better than we know ourselves!). But if anything comes up, don’t forget to contact us at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>

<p>Regards</p>

<p>The VIPKID Recruitment Team</p>
</div>