<p>Dear {{teacherName}}, </p>

<p>We've noticed that you are still in the Mock Class stage, and so we would like to check in with you to make sure you aren't having any issues that are preventing you from finishing the process and joining the active roster.</p>

<p>You have <b>3 days</b> from the time you finish the first Mock Class to finish your second Mock Class.</p>

<p>Should you require any technical or other assistance, please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> so that we do not prematurely remove you from the process and can help troubleshoot or accommodate your needs.</p>

<p>Best Regards,</p>

<p>VIPKID Recruitment Team</p>


<p>Dear {{Teacher name}}</p>
<p>We’ve noticed you are still in the mock class stage. But we want to remind you that the real teaching fun is yet to begin – right after you finish your second mock class.</p>
<p><b>You only have  <span style="text-decoration:underline">3 days</span> to finish your second Mock Class after the first one. So make sure you book it now (t.vipkid.com.cn/login) </b></p>
<p>Most people love the mock classes, but if you did not, we want to remind you that when teaching regular classes on the VIPKID platform it will be a child in the classroom. In fact, 0.000001% of our classes have adults pretending to be children in them!</p>
<p>Should you require any technical or other assistance, please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> so that we do not prematurely remove you from the process and can help troubleshoot or accommodate your needs.</p>
<p>Regards</p>
<p>The VIPKID Recruitment Team</p>
