<p>Dear {{teacherName}}, </p>

<p>Congratulations! You have made it to the VIPKID finish line!</p>

<p>Please go back to the recruitment portal at <a href="t.vipkid.com.cn/login">t.vipkid.com.cn/login.</a> to upload documents necessary for us to confirm your credentials and to create your teacher profile at VIPKID.</p>

<p>Here is the list:</p>

<p>Mandatory:</p>

<p>-Signed contract copy: please sign page 6 and upload all 10 pages</p>
<p>-W-9 form: complete, sign and upload it (if you are a US national or US tax resident in accordance to the relevant US tax laws)</p>
<p>-Passport picture page (or Driver’s License if you don’t have a passport)</p>
<p>-Bachelor’s diploma (or a transcript that mentions you have been awarded a Bachelor’s degree)</p>
<p>-Three professional pictures of you for us to show to students and parents who want to book you</p>
<p>-One 15-second video introducing you to students and parents</p>
<p>-One paragraph introducing yourself to students and parents</p>

<p>Optional:</p>

<p>-Master’s and above degree copies</p>
<p>-Other Teaching certificates</p>

<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>
