<p>Dear {{teacherName}}, </p>

<p>This email is to let you know that unfortunately you have not passed the Mock Class with VIPKID. </p>

<p>We appreciate your effort and the time you've put into your application with us. We recognize you are a well-qualified and talented individual, however at this time we regret to inform you that we will not be continuing with your application. </p>

<p>Thank you for your interest in working with us, and we wish you the very best in all your future endeavors.</p>

<p>Regards</p>

<p>VIPKID Recruitment Team</p>
