<p>Dear {{teacherName}},</p>
<p>You have successfully booked a Mock Class with VIPKID at</p>
<p><b>When: {{scheduledDateTime}}</b></p>
<p><b>Time zone: {{timezone}}</b></p>
<p><b>At: <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a></b></p>
<p>As a reminder your “mock class” is similar to what you did in your interview, but 25 minutes long. Here’s the breakdown:</p>


<img src="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/mock_class_1.png" style="width:850px;height:710px;" />


<p>If you have any trouble connecting to the “mock class”, we can also communicate through Skype. Make sure you add our Skype, which is <b>vipkid.mockclass</span>.</p>
<p style="display:{{referralShow}};color: red;">Remember to go annoy {{referrerName}} (who referred you to VIPKID) for tips about the Mock Class. No shame in that.</p>
