<p>Dear {{teacherName}},</p>

<p>Don’t forget your Mock Class is coming up. Our mentors have been talking about you all day!</p>

<p><b>When: {{scheduledDateTime}}</b></p>

<p><b>Time zone: {{timezone}}</b></p>

<p><b>At: <a href="https://t.vipkid.com.cn/login" target="_blank"> t.vipkid.com.cn/login.</a></b></p>

<p>Check out the <a style="color: red" href="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/Mock_Class_FAQ.pdf" download="Mock_Class_FAQs.pptx">Mock Class FAQs</a> for more helpful tips about the class.</p>
<p>Our mock classes are in high demand, so if you need to cancel please do so 24 hours prior to the class if possible. We might cry, we’ll definitely sniffle a bit, but we can also ensure another applicant can take your spot.</p>
<p>Please note that by not showing up for a mock class, your account may be deactivated.</p>

<p style="font-size: 12px">• To cancel or reschedule, please log into your Portal VIPKID->Mock Class-> Reschedule. In certain cases, a No-Show will directly jeopardize your chances of passing the recruitment process. Make sure you cancel at least 6 hours in advance if you can no longer attend.</p>

<p>Good luck!</p>

<p>Regards</p>

<p>The VIPKID Recruitment Team</p>
