<p>Dear {{teacherName}}, </p>

<p>Our mock class mentors are looking forward to meeting you during the mock class session. Here are details about your appointment:</p>

<p>Where:<a href="t.vipkid.com.cn/login"> t.vipkid.com.cn/login.</a></p>
<p>When:<span style="font-size: 1.0em">{{scheduledDateTime}}</span></p>
<p>Time zone: <span style="font-size: 1.0em">{{timezone}}</span></p>

<p>Please take a look at the <a href="http://vipkid.oss-cn-beijing.aliyuncs.com/teacher_recruitment/step2_interview/Mock_Class_FAQ.pdf" download="Mock_Class_FAQs.pptx">Mock Class FAQs.</a> You will get useful tips there.</p>

<p>Make sure you attend the Mock Class on time! We have very limited time slots for mock classes, especially since our Mock Class Mentor are also our teachers. Therefore, if you have to cancel, do so 24 hours prior to the Mock Class so someone else can book the teacher's time. If you do not show up for the Mock Class and do not email us back, your account might be deactivated. </p>

<p>Please add your Mock Class Mentor (vipkid.mockclass) on Skype, if you haven't already. This will be a backup channel of communication if there are tech issues.</p>

<p>Good luck in the mock class!</p>

<p>Best regards,</p>

<p>VIPKID Recruiting Team</p>
