<p>Dear {{teacherName}}, </p>

<p>We’ve noticed that you are still in the Mock Class stage, and so we would like to check in with you to make sure you aren’t having any issues that are preventing you from finishing the process and joining the active roster.</p>

<p>You have <b>3 days</b> from the time you finish the first mock class to finish your second mock class.</p>

<p>Should you require any technical or other assistance, please let us know at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a> so that we do not prematurely remove you from the process and can help troubleshoot or accommodate your needs.</p>

<p>Best Regards,</p>

<p>VIPKID Recruitment Team</p>
