<div style="font-size:large;font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif">
	<p>Hi {{teacherName}}, </p>
	<p>Congratulations! You are only hours away from officially becoming a member of the VIPKID teaching family! Here is what you have to do next:</p>

	<ul style="list-style-type: none;">
		<li>
			<p>1.In the next <strong>5 minutes</strong>, log in to your very own VIPKID Teacher's Portal.</p>
			<p>Step 1- Visit the Teacher's Portal at  <a href="https://t.vipkid.com.cn" target="_blank"> t.vipkid.com.cn </a> .</p>
			<p>Step 2- Enter your username and password. This is the same as the username and password you have been using throughout the Teaching Prep and Mock Class process.</p>
		</li>

		<li>
			<p>2. In the next <strong>10 minutes</strong>, activate your Freshdesk account.</p>
			<p>You will receive an activation email from the VIPKID Education Freshdesk. Freshdesk is your primary way of communicating with the Education Department; you will also be able to join our active teacher community through our forums, access additional teaching materials, and search through our comprehensive FAQs.</p>
		</li>

		<li>
			<p>3. In the next <strong>20 minutes</strong>, please read the teaching theory material and take the quiz in your Teacher's Portal.</p>
	        <p>You will have access to your schedule page once you complete the short quiz. A clear awareness of all theories and procedures will start you off on the right foot.</p>
		</li>

		<li>
			<p>4. If you are a US national/resident, please provide your W-9 Form in the Personal Info tab of the Teacher Portal*. </p>
			<p>As soon as you have passed the quiz and submitted your W-9 Form (if applicable*), you will be able to start opening classes!</p>
		</li>
	</ul>
	<br>
    <p>
    Since you have made it this far, we believe that you are a responsible and professional teacher. However, we would still like to set some basic expectation to make you an even better teacher at VIPKID.
    </p>
    <ul style="list-style-type: none;">
       <li><p>1. Always have good background (especially lighting) and IT condition,</p></li>
       <li><p>2. Always maintain high energy level while teaching,</p></li>
       <li><p>3. Be very careful with your schedule, and always show up for your classes on time. Please be sure to return to your Teacher's Portal daily. Any time slots that you open can be booked by our students or head office staff. We won't book you with less than 24 hours' notice unless you give us permission to do so by clicking the short notice booking boxes. If you do check these boxes, be sure to revisit your Teacher's Portal before your first available time slot!</p></li>
    </ul>
    <br>
	<p>
	* Please note that in order for any US national/resident to be contracted with VIPKID, you will need to submit a W-9 Form. If you have any questions about your tax obligations, please consult a tax professional.
    </p>
	<br>
	<p>Welcome aboard and happy teaching!</p>
	<p>VIPKID Education</p>
</div>
