<p>Hello {{PESupervisor}},</p>
<br/>
<p>This is confirmation that the unfinished Mock Class ({{teachingExperience}}) was not submitted on time. Details about this unfinished Mock Class were sent on (date of 24 hour email). This unfinished Mock Class has been removed from your teacher portal. Removed Mock Classes do not receive compensation. It is very important that unfinished Mock Classes are completed in a timely manner. Our candidates are excited to work with us. However, we need the assessment from a Mock Class Evaluator Supervisor before we can proceed.</p>
<br/>
<p>If you have questions about the Mock Class, please email mockclass@vipkid.com.cn.</p>
<br/>
<br/>
<p>Best regards,</p> 
<p>VIPKID Mock Class Coordinator</p>
