<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>

<body style="margin: 0; padding: 0;">
<div class="emai" style="border: 1px #FFF solid; max-width: 600px; margin: 0 auto; background: #FFF; position: relative;">
    <img src="https://resource.vipkid.com.cn/teacher_recruitment/emailTitle.png" style="width: 100%;max-width: 600px">
    <div lang=EN-US style="font-size:16px;font-family:'Verdana, sans-serif';color:black; padding: 30px 20px 0 20px">

        <p>Dear {{teacherName}},</p>
        <p style="font-size: 19px; color: #333; margin: 0; padding: 10px 0;">You have successfully booked a Mock Class with VIPKID at</p>
        <p style="font-size: 19px; color: #333; margin: 0; padding: 10px 0;">When: {{scheduledDateTime}}</p>
        <p style="font-size: 19px; color: #333; margin: 0; padding: 10px 0;">Time zone: {{timezone}}</p>
        <p style="font-size: 19px; color: #333; margin: 0; padding: 10px 0;">At: <a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a></p>
        <p style="font-size: 19px; color: #333; margin: 0; padding: 10px 0;">As a reminder your "mock class" is similar to what you did in your interview, but 25 minutes long. Here's the breakdown:</p>


        <img src="https://resource.vipkid.com.cn/teacher_recruitment/step2_interview/mock_class_1.png" style="max-width:100%; " />

        <p style="color:#f85415;color:#f85415;font-size: 16px;">To cancel or reschedule the Mock Class, click here.</p>

        <a href="https://t.vipkid.com.cn/login?channel=mail_recruitment_mockClass" style="border: 1px #f85415 solid; background: #FFF; border-radius: 30px; text-decoration: none; color: #f85415; padding: 3px 20px; margin: 10px 3px; display: inline-block;">Cancel</a>

        <p style="color: #666; font-size: 14px; padding: 0"><i>* In certain cases, a No-Show will directly jeopardize your chances of becoming a VIPKID teacher. Also,
            our mock class slots are limited so make sure you cancel at least 6 hours in advance if you can no longer attend so that someone else can book your slot.</i></p>

        <p style="display:{{referralShow}};margin: 0; padding: 10px 0">Remember to go annoy {{referrerName}} (who referred you to VIPKID) for tips about the Mock Class. No shame in that.</p>

        <p style="padding: 0">Best Regards.</p>
        <p style="padding: 0; color: #999;">VIPKID Recruitment Team</p>

        <img src="https://resource.vipkid.com.cn/teacher_recruitment/emailLogo.png" style="width: 70px; position: absolute; bottom: 17px; right: 20px;">

    </div>
</div>