<p>Dear {{teacherName}}, </p>
<p>
<strong>Thank you for applying to VIPKID!</strong>

</p>
<p><br>This email is to confirm that we have received your application. You will hear from us within a few days. </p>

<p>Your account information is as below:
<br>
<strong>Username:{{loginName}}</strong>
</p>

<p>Thank you again for your interest in VIPKID.</p>
<br>

<div  style="font-style: italic;">
---------------------------------------------------------------------------------
<br>
- To hear the message from VIPKID CEO Cindy: <a href="https://www.youtube.com/watch?v=N2N-U35wfR8" target="_blank">  Thank you, VIPKID teachers!</a>
<br>
---------------------------------------------------------------------------------
</div>

<p>
<p>Regards,<br>The VIPKID Recruiting Team</p>