<div lang=EN-US style='font-size:10.5pt;font-family:"Verdana",sans-serif;color:black'>
<p>Dear {{teacherName}}</p>

<p>We’re not kidding. You’re about to teach an adult pretending to be 5 years old. Half the exercise will be trying not to smile.</p>
<p>You’ve passed the quiz and finished reviewing the Teacher Preparation.<b> Now, you must proceed to book your “mock class” in your Portal (<a href="https://t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login</a>)</b>. Do that right after reading this email.</p>
<p>Your “mock class” is similar to what you did in your interview, but 25 minutes long. Minus the grinning adult, it’s the closest thing to a real VIPKID class in the VIPKID platform. Here’s how it is broken down:</p>

<p>•	1 hour total</p>
<p>•	25 minutes teaching time</p>
<p>•	Constructive feedback from your smarty-pants ‘student’ after each section</p>

<p>If you have any trouble connecting to the “mock class”, we can also communicate through Skype. Make sure you add our Skype, which is <b>vipkid.mockclass</b>.</p>

<p><b>You will have 6 days to finish this stage!</b></p>

<p style="display:{{referralShow}};color: red;">{{referrerName}} was the one who referred you. If you’re not friends, get your social stalk on. Why? Because {{referrerName}} knows exactly what it takes to sail through the mock class.</p>

<p>Let us know if things are going pear-shaped at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a>, otherwise see you in the mock class!</p>

<p>Regards</p>

<p>The VIPKID Recruiting Team</p>
</div>
