<p>Dear {{teacherName}}, </p>

<p>Thank you for reviewing the VIPKID Teaching Prep materials and passing the quiz!</p>

<p>Please proceed to booking your Mock Class with a VIPKID teacher by visiting <a href="t.vipkid.com.cn/login">t.vipkid.com.cn/login.</a></p>

<p>In this step, you will teach a mock class (similar to what you did in the interview, but 25 minutes long) with a senior teacher as your “student.” The mock class will take about one hour, and will be composed of 2 parts. <b>The total teaching time for the lesson will be 25 minutes.</b> Your “student” will give you constructive feedback after each part.</p>


<img src="<%=request.getContextPath()%>/common/images/404_ball.png">


<p>Make sure to add the Mock Class Mentor’s Skype in preparation for your mock class. It is <b>vipkid.mockclass.</b> Skype will be used to connect with you if there are any technical issues during your mock class. Please be on Skype during your mock class.</p>

<p>If you have questions about the mock class, please let us know via email at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>

<p><b>As a final reminder, you have 6 days total to finish the Mock Class stage.</b></p>

<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>
