<p>Dear {{teacherName}}, </p>

<p>Thank you for reviewing the VIPKID Teaching Prep materials and passing the quiz!</p>

<p>Please proceed to booking your Mock Class with a VIPKID teacher by visiting <a href="t.vipkid.com.cn/login" target="_blank">t.vipkid.com.cn/login.</a></p>

<p>In this step, you will teach a Mock Class (similar to what you did in the interview, but 25 minutes long) with a senior teacher as your “student.” The Mock Class will take about one hour, and will be composed of 2 parts. <b>The total teaching time for the lesson will be 25 minutes.</b> Your “student” will give you constructive feedback after each part.</p>
<img src="http://vipkid.oss-cn-beijing.aliyuncs.com/teacher_recruitment/step2_interview/mock_class_1.png" style="width:850px;height:710px;" />
<p>Make sure to add the Mock Class Mentor’s Skype in preparation for your Mock Class. Our Skype name is <b>vipkid.mockclass.</b> Skype will be used to connect with you if there are any technical issues during your Mock Class. Please be on Skype during your Mock Class.</p>

<p>If you have questions about the Mock Class, please let us know via email at <a href="mailto:teachvip@vipkid.com.cn">teachvip@vipkid.com.cn</a></p>

<p><b>As a final reminder, you have 6 days total to finish the Mock Class stage.</b></p>

<p>Best regards,</p>

<p>VIPKID Recruitment Team</p>
