<meta charset="UTF8">
<div style="padding-top:16px;"><img style="width:150px;" src='https://resource.vipkid.com.cn/teacher_recruitment/resource_2016_03_01/logotm.png'></div>
<div style="background:#333;width:100%;height:25px;margin-top:15px;"></div>
<div style="font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:large;padding:10px 35px;background:#fff;">
	<p>Dear Teacher,</p>

	<p>Please be advised that failure to leave Unit Assessments for classes
		scheduled as 'finished' within 12 hours of the class end time will result in a payment penalty of 50%.   </p>


	<p>The deadline for completing Unit Assessment for your class scheduled on {{scheduledDateTime}}
		<!-- xx/xx/2016 at xx:xx -->Beijing Time was missed.</p>

	<p>Please submit your Unit Assessment within the next 12 hours to avoid further penalties. </p>
	<p>Missing assessments will also impact on your student negatively,
		so we urge you to submit your Unit Assessment as soon as possible.</p>


	<p>Regards,</p>
	<p>VIPKID</p>
</div>
<div style="text-align:center;font-weight:bold;padding-top:30px;">© 2016 VIPKID Limited.</div>
<div style="text-align:center;font-weight:bold;">
	Should there be any problem, feel free to contact Education team through Freshdesk. <a href="https://vipkid.freshdesk.com" target="_blank">https://vipkid.freshdesk.com</a>
</div>
<br>
<style>
	body{
		width:980px;margin:0 auto!important;
		background:#dfdfdf!important;
	}

</style>