<meta charset="UTF8">	
<div style="padding-top:16px;"><img style="width:150px;" src='http://vipkid.oss-cn-beijing.aliyuncs.com/teacher_recruitment/resource_2016_03_01/logotm.png'></div>
<div style="background:#333;width:100%;height:25px;margin-top:15px;"></div>
<div style="font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:large;padding:10px 35px;background:#fff;">
	<p>Dear Teacher,</p>
	
	<p>Please be advised that failure to leave Unit Assessment scheduled as 'finished' within 24 hours of the class end time
	   will result in non-payment.</p>
	
	
	<p>The deadline for completing unit assessment for your class scheduled on {{scheduledDateTime}}
	<!-- xx/xx/2016 at xx:xx -->Beijing Time was missed. This has resulted in no payment for the class.</p>
	
	<p>Please be sure to submit feedback in a timely manner for future classes. </p>
   
	
	<p>Regards,</p>
	<p>VIPKID</p>
</div>
<div style="text-align:center;font-weight:bold;padding-top:30px;">© 2016 VIPKID Limited.</div>
<div style="text-align:center;font-weight:bold;">
	Should there be any problem, feel free to contact Education team through Freshdesk. <a href="https://vipkid.freshdesk.com" target="_blank">https://vipkid.freshdesk.com</a>
</div>
<br>
<style>
body{
width:980px;margin:0 auto!important;
background:#dfdfdf!important;
}

</style>