#if($!{locationList} && !${locationList.isEmpty()})
<option value="0">${title}</option>
#foreach($location in $locationList)
<option id="$!{location.id}" timezone="$!{location.timezone}" value="${location.id}">${location.name}</option>
#end
#end