#parse("/library/macro.vm")
<div class="tab-pane active" id="basic" style="border: 0px;">
  <form class="form-horizontal" name="form" id="setBasicInfoForm" action="#springUrl('/setBasicInfoAction.json')" method ="post" style="width:80%;">
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
      	  <div class='title-lable'>Professional profile picture</div>
          #if($stringUtils.contains($!{TRPM_TEACHER.avatar}, 'http://')) 
          	<img class="avatarImg" src="$!{TRPM_TEACHER.avatar}" onerror="javascript:this.src='${resourceTool.oss.url_preffix}/static/images/teacher_portal/default_avatar.png';this.onerror=null;" style="width:100px; margin:0 30px 0 5px;"/> 
          #else 
          	<img class="avatarImg" src="#if($!{TRPM_TEACHER.avatar})${resourceTool.oss.url_preffix}/$!{TRPM_TEACHER.avatar}#end" onerror="javascript:this.src='${resourceTool.oss.url_preffix}/static/images/teacher_portal/default_avatar.png';this.onerror=null;" style="width:100px; margin:0 30px 0 5px;"/> 
          #end
          <input type="button" class="btn btn-primary" id="changeAvatar" value='Change'/>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    
 <div class="row form-group">   
  <div  align="right" class="col-sm-2 col-md-2"> </div>
  
<div>
   <div style ="position: relative;float:left;left:20px">
        <div style='font-weight: bold;margin-bottom:5px;'>Correct</div>
        <div>
        <img src="#styleUrl('/resources/images/portal/pic1.jpg')"  style="margin:0 20px 0 5px;"  width="100" height="100"/>
         <div  style ="position: absolute;top:105px;left:90px"><img  src="#styleUrl('/resources/images/portal/right.png')" style="width:25px"/></div>
        </div>
       
   </div>

   <div style ="position: relative;float:left;left:50px">
        <div style='font-weight: bold;margin-bottom:5px;'>Incorrect</div>
        <div>
          <div style ="position: relative;float:left;">
          <img  src="#styleUrl('/resources/images/portal/pic2.jpg')" style="margin:0 20px 0 5px;"  width="100" height="100"/>
          <div  style ="position: absolute;top:80px;left:90px"><img src="#styleUrl('/resources/images/portal/wrong.png')" style="width:25px"/></div>
          </div>
          <div style ="position: relative;float:left;">
          <img src="#styleUrl('/resources/images/portal/pic3.jpg')" style="margin:0 20px 0 5px;"  width="100" height="100"/>
          <div  style ="position: absolute;top:80px;left:90px"><img src="#styleUrl('/resources/images/portal/wrong.png')" style="width:25px"/></div>
          </div>
          <div style ="position: relative;float:left;">
          <img src="#styleUrl('/resources/images/portal/pic4.jpg')" style="margin:0 20px 0 5px;"  width="100" height="100"/>
          <div  style ="position: absolute;top:80px;left:90px"><img src="#styleUrl('/resources/images/portal/wrong.png')" style="width:25px"/></div>
          </div>
        </div>
    </div>
    
</div>
<div class="col-sm-4 col-md-4"></div>
</div>
	
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
			<div class='title-lable req'>Gender</div>
			<label><input type="radio" name="gender" checked="checked" value="FEMALE" field="$!{TRPM_USER.gender}"/> Female </label>&nbsp;
			<label><input type="radio" name="gender" value="MALE" field="$!{TRPM_USER.gender}"/> Male </label>
			<p id="gender-tip" class="help-block has-error">This field is required!</p>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <div class='title-lable req'>Birthday</div>
        <input id="birthday" type="text" readonly="readonly" style="background:#FFF;cursor:default;" name="birthday" #if($TRPM_TEACHER.birthday) value="$!TRPM_TEACHER.birthday" #else value="1980-01-01" #end valid-options='{"req-string":"This field is required!","errorDiv":"#birthday-tip"}' maxlength="12" class="form-control req-string ">
        <p id="birthday-tip" class="help-block has-error"></p>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
      		<div class='title-lable req'>Nationality</div>
      	  	<label style="font-weight:normal!important;"><input type="radio" name="country" value="American" field="$!{TRPM_TEACHER.country}"/> American </label>&nbsp;
      	  	<label style="font-weight:normal!important;"><input type="radio" name="country" value="Canadian" field="$!{TRPM_TEACHER.country}"/> Canadian </label>
      	  	<p id="country-tip" class="help-block has-error">This field is required!</p> 
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <div class='title-lable req'>Contact number</div>
        <div>
      	  	<label style="font-weight:normal!important;"><input type="radio" name="phoneType" value="1" field="$!{TRPM_TEACHER.phoneType}"/> mobile </label>&nbsp;
      	  	<label style="font-weight:normal!important;"><input type="radio" name="phoneType" value="2" field="$!{TRPM_TEACHER.phoneType}"/> land Line </label>
      	  	<p id="phoneType-tip" class="help-block has-error">This field is required!</p> 
        </div>
        <div class="input-group">
	      <div id="mobilePix" class="input-group-btn">
	        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          <span class="value">-Country Code-</span> 
	          <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu" align="left" style="height:300px; overflow-y:scroll;">
	          #foreach($teacherNationalityCode in $teacherNationalityCodes)
	          <li name="${teacherNationalityCode.id}">
	            <a href="javascript:void(0)">
	              <div style="height:11px; margin-left:4px; overflow:hidden; width:16px; display:inline-block; background-image:url(#springUrl('/resources/images/common/flags4.png')); background-repeat:no-repeat; ${teacherNationalityCode.background}" />
	              <span>${teacherNationalityCode.country}</span>
	              <span class="code" id="${teacherNationalityCode.id}">${teacherNationalityCode.code}</span>
	            </a>
	          </li>
	          #end
	        </ul>
	      </div>
	      <input type="hidden" name="phoneNationId" value="$!{TRPM_TEACHER.phoneNationId}" />
	      <input type="hidden" name="phoneNationCode" value="$!{TRPM_TEACHER.phoneNationCode}" />
	      <input type="text" id="mobile" name="mobile" value="$!{TRPM_TEACHER.mobile}" class="form-control req-string req-regex" regex="/^[\d]{6,}$/g" valid-options='{"req-string":"This field is required!","req-regex":"Your mobile phone number is invalid!","errorDiv":"#phoneNumber-tip"}' placeholder="Mobile Number(Currently, only mainland Chinese mobile phone numbers are supported.)" />
	    </div>	    
        <p id="phoneNumber-tip" class="help-block has-error"></p>
        <p id="mobilePix-tip" class="help-block has-error">This field is required!</p> 
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <div class='title-lable'>Skype</div>
        <input type="text" id="skype" name="skype" value="$!{TRPM_TEACHER.skype}" maxlength="160" minlength="6" placeholder="skype user name" class="form-control req-string req-regex" regex="/^[\w\W]{6,}$/g" valid-options='{"req-string":"This field is required!","req-regex":"Your skype ID is invalid!","errorDiv":"#verifySkype-tip"}'/>
        <p id="verifySkype-tip" class="help-block has-error"></p>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <div class='title-lable req'>Your current location</div>
        <div style="font-size:12px;color:#ccc;">
        	The country, state & city  you choose will depict your time zone below. Some cities also have multiple time zones. If the current location and time zone don't match please let us know. (Street and zip code are not mandatory.)
        </div>
        ## 初始化 currentAddressId 的 location
        #location("current-address","countryId","stateId","city",$currentAddress)
        <input type="text" maxlength="200" name="streetAddress" value="#if($!{currentAddress})$!{currentAddress.streetAddress}#else$!{TRPM_TEACHER.address}#end" placeholder="Street" valid-options='{"req-string":"This field is required!","errorDiv":"#verifyAddress-tip"}'  class="form-control" />
        <p id="verifyAddress-tip" class="help-block has-error"></p>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
			<div class="col-xs-4 col-sm-4 col-md-4">
			  <input type="text" maxlength="8" placeholder="Zip code" name="zipCode" value="#if($!{currentAddress})$!{currentAddress.zipCode}#end"  valid-options='{"req-string":"This field is required!","errorDiv":"#verifyZipCode-tip"}' class="form-control"/>
			  <p id="verifyZipCode-tip" class="help-block has-error"></p>
			</div>
        </div>
        <p id="verifyCountryAddress-tip" class="help-block has-error">At least Country and State or City is mandatory！</p>
        <input type="hidden" name="currentAddressId" value="#if($!{currentAddress})$!{currentAddress.id}#{else}0#end" />
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
     <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
      	<div class='title-lable req'>Time zone</div>
      		<input class="form-control req-string" valid-options='{"req-string":"This field is required!","errorDiv":"#timezone-tip"}' placeholder="UTC-04:00" maxlength="200" name="timezone" value="$!{TRPM_TEACHER.timezone}"/>
      		<p id="timezone-tip" class="help-block has-error"></p>
      	</div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
      	<div class='title-lable'>College/University</div>
        <input class="form-control" maxlength="200" name="graduatedFrom" value="$!{TRPM_TEACHER.graduatedFrom}"/>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
      	<div class='title-lable req'>Hightest level of education</div>
        <select class="js-example-basic-single form-control" id="highestLevelOfEdu" name="highestLevelOfEdu" value="$!{TRPM_TEACHER.highestLevelOfEdu}">
				<option value =""></option>
				<option value ="HIGH_SCHOOL">High School</option>
				<option value="ASSOCIATES"> Associate's</option>
				<option value ="BACHELORS">Bachelor's</option>
				<option value ="MASTERS">Master's</option>
				<option value ="PHD">PhD</option>
		</select>
		<script type="text/javascript">
		var select = document.getElementById("highestLevelOfEdu");
		console.log("+$!{TRPM_TEACHER.highestLevelOfEdu}+");
		var length = select.options.length;
		for (var i=0;i<length;i++)
		{
			if(select.options[i].value.substring(0,3)=="$!{TRPM_TEACHER.highestLevelOfEdu}".substring(0,3)){
			select.options[i].selected=true;
			break;
			}
		}
		</script>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    <div class="row form-group">
      <div align="right" class="col-sm-2 col-md-2"></div>
      <div class="col-sm-6 col-md-6">
        <div class='title-lable req'>Self Introduction</div>
        <textarea style="height:200px;" id="introduction" name="introduction" placeholder="introduction" maxlength="800" class="form-control req-string" valid-options='{"req-string":"This field is required!","errorDiv":"#verifyIntroduction-tip"}'>$!{TRPM_TEACHER.introduction}</textarea>
        <p>Characters left: <span id="introduction-left">800</span></p>
        <p id="verifyIntroduction-tip" class="help-block has-error"></p>
      </div>
      <div class="col-sm-4 col-md-4"></div>
    </div>
    #if($isTes == 'true' || $isTe == 'true')
		<div class="row form-group">
	      <div align="right" class="col-sm-2 col-md-2"></div>
	      <div class="col-sm-6 col-md-6">
	        <div class='title-lable req'>TE/TES Bio</div>
	        <textarea style="height:200px;" id="evaluationBio" name="evaluationBio" placeholder="EvaluationBio" maxlength="800" class="form-control req-string" valid-options='{"req-string":"This field is required!","errorDiv":"#verifyEvaluationBio-tip"}'>$!{TRPM_TEACHER.evaluationBio}</textarea>
	        <p>Characters left: <span id="evaluationBio-left">800</span></p>
	        <p id="verifyEvaluationBio-tip" class="help-block has-error"></p>
	      </div>
	      <div class="col-sm-4 col-md-4"></div>
	    </div>
    #end
    <div class="row form-group form-inline" style="margin-top:40px;align:center;"> 
    	<div align="right" class="col-sm-2 col-md-2"></div>
    	<div class="col-sm-6 col-md-6" align="center">
      		<input type="submit" id="setBasicInfoSubmit" class="btn btn-primary" style="margin: 0px 10px;" value="Update" />
      		<button id="toCancel" url="#springUrl('/personal/basicinfo.shtml')"  type="button" class="btn btn-gray" style="margin:0px 10px;">Cancel</button>
      	</div>
      	<div class="col-sm-4 col-md-4"></div>
    </div>
  </form>
</div>
#** Basic Info End *# 
#@requireJs()
    require(['personal-basicinfo','personal-location'], function(basic,location){
    	var codeId = 0;
    	#if($!{currentNationalityCode})
    	codeId = $!{currentNationalityCode.id};
    	#end
        
        basic.init("$!{TRPM_TEACHER.timezone}",codeId);
    });
#end
