<div class="tab-pane active" id="password" style="border: 0px;">
  <form class="form-horizontal" id="changePasswordForm" action="#springUrl('/changePasswordAction.json')" method="post" autocomplete="off">
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <label class="control-label">Current Password</label>
      </div>
      <div class="col-sm-3 col-md-3"></div>
	</div>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <input type="password" id="originalPassword" name="originalPassword" class="form-control" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!'}"/>
        <p id="warnwords-originalPassword" class="help-block has-error"></p>
      </div>
      <div class="col-sm-3 col-md-3"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <label class="control-label">New Password</label>
      </div>
      <div class="col-sm-3 col-md-3"></div>
	</div>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <input type="password" id="userpassword" name="userpassword" class="form-control password" maxlength="30" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',lengths:'6-31',pattern:'^([a-zA-Z0-9])+$',contain:'^(?=.*[A-Z].*)(?=.*[0-9].*)|(?=.*[a-z].*)(?=.*[0-9].*).{0,}$'}"/>
        <p id="warnwords-userpassword" class="help-block has-error"></p>
      </div>
      <div class="col-sm-3 col-md-3"></div>
    </div>
    
    <div class="hoverpromptbox">
      <p>Your password must</p>
      <p id="password1" name="def-userpassword" class="epbgico">contain only alphanumeric characters</p>
      <p id="password2" name="def-userpassword" class="epbgico">be between 6-30 characters</p>
      <p id="password3" name="def-userpassword" class="epbgico">contain both letters and numbers</p>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <label class="control-label">Retype New Password</label>
      </div>
      <div class="col-sm-3 col-md-3"></div>
	</div>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
        <input type="password" id="repassword" name="repassword"  class="form-control" maxlength="30" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',equalTo:'userpassword',equalToMsg:'Passwords do not match!'}"/>
        <p id="warnwords-repassword" class="help-block has-error"></p>
      </div>
      <div class="col-sm-3 col-md-3"></div>
    </div>
    <div class="form-group row"> </div>
    <div class="row form-group form-inline" style="margin-top:40px;">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-5 col-md-5">
      	<input type="button" id="changePasswordSubmit" class="btn btn-primary" style="margin: 0px 10px;" value="Save" />
      </div>
    </div>
  </form>
</div>
<style>
	.hoverpromptbox{
		display:none;
		position:absolute;
		background:#fff;
		font-size:12px;
		line-height:26px;
		padding:8px 16px;
		border:1px solid #66afe9;
		text-align: left;
		border-radius: 5px;
		left:-85px;
		top:100px;
	}
	.borf60{
		border:1px solid #b94a48;
	}
	.borccc{
		border:1px solid #ccc;
	}
	#changePasswordForm .form-group {
		margin-bottom:5px;
	}
	.hoverpromptbox:before{
	    position: absolute;
	    top:33px;
	    right: -18px;
	    content: '';
	    border: 9px solid transparent;
	    border-left: 9px solid #66afe9;
	}
	.hoverpromptbox:after{
	    position: absolute;
	    top:34px;
	    right: -16px;
	    content: '';
	    border: 8px solid transparent;
	    border-left: 8px solid #fff;
	}
	
	.hoverpromptbox .epbgico,.epbgico,.hookbgico,.errorbgico{
		background:url(#styleUrl('/resources/images/passport/epico.png')) no-repeat 0 center;
		padding-left:18px;
	}
	.hoverpromptbox .hookbgico{
		background:url(#styleUrl('/resources/images/passport/hook17ico.png')) no-repeat 0 center;
		background-size:14px 14px;
	}
	.hoverpromptbox .errorbgico,.errorbgico{
		background:url(#styleUrl('/resources/images/passport/errorico.png')) no-repeat 0 center;
	    background-size:14px 14px;
	}
</style>
#@requireJs()
    require(['personal-password'], function(password){
      password.init();
    });
#end