<div class="modal fade" id="password-Modal" role="dialog" style="overflow:hidden;display:none;" aria-labelledby="passwordModal">
	<style>
		.hoverpromptbox{
			position:absolute;
			background:#fff;
			font-size:12px;
			line-height:26px;
			padding:8px 16px;
			border:1px solid #ccc;
			text-align: left;
			border-radius: 5px;
			left:60px;
			top:75px;
		}
		.borf60{
			border:1px solid #b94a48;
		}
		.borccc{
			border:1px solid #ccc;
		}
		.f60{
			color:#f60;
		}
		.hoverpromptbox:before{
		    position: absolute;
		    top:36px;
		    right: -18px;
		    content: '';
		    border: 9px solid transparent;
		    border-left: 9px solid #ccc;
		}
		.hoverpromptbox.change:before{
			border-left: 9px solid #66afe9;
		}
		.hoverpromptbox:after{
		    position: absolute;
		    top:37px;
		    right: -16px;
		    content: '';
		    border: 8px solid transparent;
		    border-left: 8px solid #fff;
		}		
		.hoverpromptbox .epbgico,.epbgico,.hookbgico,.errorbgico{
			background:url(#styleUrl('/resources/images/passport/epico.png')) no-repeat 0 center;
			padding-left:18px;
		}
		.hoverpromptbox .hookbgico{
			background:url(#styleUrl('/resources/images/passport/hook17ico.png')) no-repeat 0 center;
			background-size:14px 14px;
		}
		.hoverpromptbox .errorbgico,.errorbgico{
			background:url(#styleUrl('/resources/images/passport/errorico.png')) no-repeat 0 center;
		    background-size:14px 14px;
		}
	</style>
	<div class="modal-dialog" style="width:800px;margin-top:5%;">
		<div class="modal-content">
		
			<div class="modal-header">
				<h4 class="modal-title"> <strong>Password Update</strong> </h4>
			</div>
			
			<div  class="modal-body">
			  	#** Change Password Start *# 
			  	<form class="form-horizontal" id="changePasswordForm" action="#springUrl('/changePasswordAction.json')" method="post" autocomplete="off">
				        <div class="form-group row">
					          <div align="left" class="f60" style="padding-left:5px;">
					          	<input type="hidden" id="originalPassword" name="originalPassword" class="form-control" value="$!token"/>
					            Your password has expired. Please take a few seconds to create a new password which meets the criteria below.
					          </div>
				        </div>
				        <div class="form-group row">
					          <div align="right" class="col-sm-5 col-md-5 col-xs-5"></div>
					          <div align="left" class="col-sm-6 col-md-6 col-xs-6">
					            <label class="control-label">New Password</label>
					          </div>
					          <div align="right" class="col-sm-1 col-md-1 col-xs-1"></div>
						</div>
				        <div class="form-group row">
					          <div align="right" class="col-sm-5 col-md-5 col-xs-5"></div>
					          <div align="left" class="col-sm-5 col-md-5 col-xs-5">
					            <input type="password" id="userpassword" name="userpassword" class="form-control password" maxlength="30" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',lengths:'6-31',pattern:'^([a-zA-Z0-9])+$',contain:'^(?=.*[A-Z].*)(?=.*[0-9].*)|(?=.*[a-z].*)(?=.*[0-9].*).{0,}$'}"/>
					            <p id="warnwords-userpassword" class="help-block has-error"></p>
					          </div>
					          <div align="right" class="col-sm-2 col-md-2 col-xs-2"></div>
				        </div>
				        
				        <div class="hoverpromptbox">
				          <p>Your password must</p>
				          <p id="password1" name="def-userpassword" class="epbgico">contain only alphanumeric characters</p>
				          <p id="password2" name="def-userpassword" class="epbgico">be between 6-30 characters</p>
				          <p id="password3" name="def-userpassword" class="epbgico">contain both letters and numbers</p>
				        </div>
				        
				        <div class="form-group row">
					          <div align="right" class="col-sm-5 col-md-5 col-xs-5"></div>
					          <div align="left" class="col-sm-6 col-md-6 col-xs-6">
					            <label class="control-label">Retype New Password</label>
					          </div>
					          <div align="right" class="col-sm-1 col-md-1 col-xs-1"></div>
						</div>
				        <div class="form-group row">
					          <div align="right" class="col-sm-5 col-md-5 col-xs-5"></div>
					          <div class="col-sm-5 col-md-5 col-xs-5">
					            <input type="password" id="repassword" name="repassword"  class="form-control" maxlength="30" validator="{notnull:true,notnullMsg:'Please don\'t leave this blank!',equalTo:'userpassword',equalToMsg:'Passwords do not match!'}"/>
					            <p id="warnwords-repassword" class="help-block has-error"></p>
					          </div>
					          <div align="right" class="col-sm-2 col-md-2 col-xs-2"></div>
				        </div>
				        <div class="form-group row">
					          <div align="right" class="col-sm-5 col-md-5 col-xs-5"></div>
					          <div class="col-sm-6 col-md-6 col-xs-6">
					            <input type="button" class="btn btn-primary" id="changePasswordSubmit" value="Update" />
					            ##<a style="margin-left:50px;" href="#springUrl('/logout.shtml')">Quit</a>
					            ##<input type="button" class="btn btn-warning" onClick="javascript:location.href='#springUrl('/logout.shtml')';" value=" Quit " />
					          </div>
					          <div align="right" class="col-sm-1 col-md-1 col-xs-1"></div>
				        </div>
			      </form>
				  #** Change Password End *# 
			</div>
		</div>
	</div>
</div>
#@requireJs()
    require(["changepwd"], function(changepwd){
        changepwd.init();
    });
#end
