<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>${title}</title>
  <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/semantic.min.css')" />
  <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/bootstrap.min.css')" />
  <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/bootstrap-additions.min.css')" />
  <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/main.css')?t=201605251528" />
  <link rel="shortcut icon" href="#styleUrl('/resources/images/portal/favicon.ico')" type="image/x-icon" />
  <script src="#styleUrl('/resources/js/apps/activity/jquery-1.8.3.min.js')"></script>
	
  <script src="#styleUrl('/resources/js/apps/portal/layout.js')"></script>
</head>
<body>

##三周年庆横幅，默认不显示。只有活动期间且tab为schedule时才显示
  #if($isDuringThirdYeayAnniversary)
  <div  id = "thirdYearAnniversaryBanner"  style="width:100%;background-color:#2a0039;text-align: center;display:none">
	  <img onclick="openThirdYearAnniversaryPage('${thirdYeayAnniversaryWebpageUrl}')" style="height : 80px;cursor:pointer" src="#styleUrl('/resources/images/activity/thirdYearAnniversaryBanner.png')"/>
	  <span class="closeThirdYearAnniversaryBanner" onclick="closeBanner(this)">&nbsp;
	  </span>
  </div>
  #end	

<div class="container">
  <div class="vk-logo"></div>
  <div class="vk-nav-info">
    <div class="vk-sub-title"> 
      <font color="red"> 
        <a target="_blank" href="http://help.duobeiyun.com/room/test/?result=http://beta-app-proxy.vipkid.com.cn/api/service/public/ittest/callback&amp;lang=en&amp;role=TEACHER&amp;id=$!{TRPM_TEACHER.id}">Test Your Computer</a> 
      </font> 
    </div>
    <div>
      <ul id="quiz-tips" class="nav nav-pills pull-right vk-nav">
		<li class="$!{material}"><a href="#springUrl('/training/material')">Training Center</a></li>
        <li class="$!{activeSchedule}"><a href="#springUrl('/schedule.shtml')">Schedule</a></li>
        <li class="$!{activeClassrooms}"><a href="#springUrl('/classrooms.shtml')">Classrooms</a></li>
        <li class="$!{activeEvaluation}"><a href="#springUrl('/evaluation')">Evaluation</a></li>
        #if($isTe == 'true')
        	<li class="$!{activeClassroomsPe}"><a href="#springUrl('/evaluation/te')">TE</a></li>
		#end 
		#if($isTes == 'true')
			<li class="$!{activeClassroomsPe}"><a href="#springUrl('/evaluation/tes')">TE Supervisor</a></li>		
		#end
        #if($isPes == 'true')
        	<li class="$!{activeClassroomsPe}"><a href="#springUrl('/pesupervisor.shtml')">PE Supervisor</a></li>
		#end        
        ##<li class="$!{activeComments}"><a href="#springUrl('/comments.shtml')">Comments</a></li>
        <li class="$!{activePersonalInfo}"><a href="#springUrl('/personalInfo.shtml')">Personal Info</a></li>
        ##教师端不展示Payroll模块 2016-06-02   
		<li class="$!{activePayrollInfo}"><a href="#springUrl('/payroll.shtml')">Payroll</a></li>
        
        <li><a href="#springUrl('/logout.shtml')">Quit</a></li>
      </ul>
      <span class="welcome-msg pull-right"> Welcome, <span id="teacherName">${TRPM_USER.name}</span>
          #if($stringUtils.contains($!{TRPM_TEACHER.avatar}, 'http://')) 
          <img class="avatarImg" src="$!{TRPM_TEACHER.avatar}" onerror="javascript:this.src='${resourceTool.oss.url_preffix}/static/images/teacher_portal/default_avatar.png';this.onerror=null;" style="width:40px; height:40px; margin-left:5px;border-radius:100%;" /> 
          #else
          <img class="avatarImg" src="#if($!{TRPM_TEACHER.avatar})${resourceTool.oss.url_preffix}/$!{TRPM_TEACHER.avatar}#end" onerror="javascript:this.src='${resourceTool.oss.url_preffix}/static/images/teacher_portal/default_avatar.png';this.onerror=null;" style="width:40px; height:40px; margin-left:5px;border-radius:100%;" /> 
          #end
      </span> 
      	#set($ctime = $dateTool.format('yyyyMMdd',$dateTool.getDate()))
      	## 超过2016-04-20天将不再显示
		#if($conversionTool.parseNumber($ctime) < $conversionTool.parseNumber("20160420")) 			 
			<a id="activityurl" href="#springUrl('/activity.shtml')" target="_blank" style="position: absolute;z-index: 999;top:6px;left: 470px;"><img style="width:94px" src="#styleUrl('/resources/images/activity/icon.png')"/></a>
    	#end
    </div>
  </div>
  </div>
  #if($announcements.size()>0)
  <div class="scrollContentcss">
		<span class="closeSpancss" onclick="closeAnnounce(this)">&nbsp;
        </span>
		<div id="myscroll" class="announcecss">
		#foreach($vo in $announcements)
		<div class="rownoCss" name="rowno" id="rowno$!{velocityCount}" style="">
			<div class="contentcss" name="content">$!{vo.content} #if(${vo.links} && $!{vo.links}!='')&nbsp;<a
			 name="links" target="_blank" href="$!{vo.links}" style="">more</a>
			#end</div>
		</div>	
		#end
		</div>
  </div>
  #end	
  
  <div class="vk-content">
    $screen_content
  </div>
</div>
</body>
</html>
