<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>${title}</title>
    <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/semantic.min.css')">
    <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/bootstrap.min.css')">
    <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/bootstrap-additions.min.css')">
    <link rel="stylesheet" href="#styleUrl('/resources/styles/portal/main.css')"/>
    <link rel="shortcut icon" href="#styleUrl('/resources/images/portal/favicon.ico')" type="image/x-icon"/>
    <style type="text/css">
        .icon {
            width: 46px;
            height: 46px;
            position: fixed;
            bottom: 21%;
            right: 1px;
        }

        .icon .contact {
            visibility: hidden;
            width: 111px;
            height: 29px;
            position: absolute;
            top: 9px;
            left: -90px;
            opacity: .3;
            z-index: -1;
            transition: all .1s;
        }

        .icon:hover .contact {
            visibility: visible;
            opacity: 1;
            left: -111px;
            transition: all .3s;
        }
    </style>
</head>
<body>
<div class="container">
    $screen_content
</div>
#set($hx_group = "Fireman")
#if($isTrial == '1')
#set($hx_group = "Fireman_Trial")	
#end
<div class="icon">
    <a href='javascript:;' onclick='easemobim.bind({tenantId: 20182,emgroup: "$!hx_group"})'><img src="#styleUrl('/resources/images/portal/contact_us.png')"></a>
    <a href='javascript:;' onclick='easemobim.bind({tenantId: 20182,emgroup: "$!hx_group"})'><img class="contact" src="#styleUrl('/resources/images/portal/contact_us_txt.png')"></a>
</div>
<script type="text/javascript">
    require(['checkalive'], function(checkalive){
    	checkalive.changeroom("$!onlineClass.classroom","$!lesson.serialNumber","$!onlineClass.id","$!msURL");
    	checkalive.checkIsAlive("$!onlineClass.classroom","$!{TRPM_USER.id}","$!msURL");
    	checkalive.sendSysInfo("$!onlineClass.id","$!onlineClass.classroom","$!{TRPM_USER.id}","$!sysInfoURL");
    });
</script>
#if($onlineClass)
#set($classUrl="http://management.vipkid.com.cn/operation/classroom/classroom/"+$!onlineClass.id)
#end	
<script type="text/javascript">
    window.easemobim = window.easemobim || {}; 
    easemobim.config = {
    	offDutyType: 'chat',    //下班后消息进入待接入
        hide: true,
        appKey: '513276871#teachertest',
        to: 'vipkid_teacher_portal_web',
        //集成用户体系，验证的方式二选一，必填，另一项为空即可
        user: {
            //指定用户名，集成时必填
            username: '$!{TRPM_TEACHER.id}',
            //password验证方式
            password: '$!{TRPM_TEACHER.id}',
            //token验证方式
            token: ''
        },
        visitor: {         //访客信息，以下参数支持变量
            trueName: '$!{TRPM_TEACHER.realName}',
            qq: '',
            phone: '$!{TRPM_TEACHER.mobile}',
            companyName: 'VIPKID',
            userNickname: '$!{TRPM_TEACHER.realName}',
            description: '老师ID：$!{TRPM_TEACHER.id} , 监控教室Classroom：$!classUrl',
            email: '$!{TRPM_TEACHER.email}'
        },
    };
</script>
<script type="text/javascript">
	require(["easemob"]);
</script>
</body>
</html>
