#set($layout = "/portal/online_class_layout.vm")
<div class="divload" style="display:none;position:fixed;left:0;top:0;z-index:1000;background:rgba(0,0,0,0.6);width:100%;height:100%;text-align:center;line-height:600px;">
	<p style="font-size:30px;margin-top:300px;" class="loadtext"></p>
</div>
<div class="vk-content ng-scope">
	<div class="classroom ng-scope">

	    <section class="topSection">
	    	#** TOP A *#
		    <div class="actionBar">
		        #**1.课程标题 *#
		        <div class="classroomLabelGroup">
		            <div class="logo"></div>
		            <div class="classroomLabel">Classroom</div>
		            <div class="lessonName ng-binding" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:492px;">
		              <a href="javascript:;" style="color: white; text-decoration: none;" title="$!{lesson.serialNumber}:$!{lesson.name}($!{student.englishName})">
		                $!{lesson.serialNumber} : $!{lesson.name}($!{student.englishName})
		              </a>
		            </div>
		        </div>
		                
		        #**2.反馈和退出 *#
		        <div class="rightActionBarGroup2">
					##<!-- 是否显示DemoReport A课并且报告存在则显示 -->	
					#set($isDemoReport = false)
					#if($stringUtils.startsWith($!{lesson.serialNumber},'A'))
						#if($currentReport)
							#set($isDemoReport = true)
##							<div onclick="require('report-demo').showDemoReport('$lesson.serialNumber','$!onlineClass.id', '$!student.id')">Add Feedback</div>
                            <div class="js-add">Add Feedback</div>
						#end
					#elseif($lesson.isUnitAssessment == 1 && $isNewUa == 1)
						##需要填写单元评估报告的课程  is Unit Assessment
##						<div onclick="require('feedback').openUnitAssessment('Required','$!onlineClass.id','$!student.id')">Add Feedback</div>
                        <div class="js-add time" time="$!onlineClass.scheduledDateTime">Add Feedback</div>
					##<div onclick="showUADailog('$!onlineClass.id')">Add Feedback</div>
					
					#else
						##否则显示feedback
						<div onclick="require('feedback').openFeedback('Required','$!onlineClass.id','$!student.id')">Add Feedback</div>
##                      x<div class="js-add">Add Feedback</div>
					#end
					
					##if(!$isReplay)
					##	<div class="lastAction"><a href="http://help.duobeiyun.com/room/test/?result=http://beta-app-proxy.vipkid.com.cn/api/service/public/ittest/callback&amp;lang=en&amp;role=TEACHER&amp;id=$teacher.id" style="color: red;" target="_blank">Test your computer</a></div>
					##end
					
					<div class="lastAction"> <a href="javascript:;" onclick="require('classmajor').confirmExitClassroom($isDemoReport,'$!onlineClass.id', '$!student.id','$lesson.isUnitAssessment')"  style="color: white;">Exit Classroom</a></div>
		        </div>
		        
		        #**3.倒计时显示 *#
		        <div class="rightActionBarGroup">
		            <label id="countTimeDiv" class="classTime ng-scope ng-binding"> </label> <label class="classTimeLog ng-hide"> </label>
		        </div>
		    </div>
		    
			#** TOP B 显示课程信息 *#
			<div class="lessonInfoRow" style="overflow: hidden;">
			    <div class="infoLabelContainer">
			        <div class="infoLabel">INFO</div>
			    </div>
			    <div class="infoColumn1 info" id="lessonObjective">$!lesson.objective</div>
			    <div class="infoColumn2 info" id="vocabularies">$!lesson.vocabularies</div>
			    <div class="infoColumn3 info" id="sentencePatterns">$!lesson.sentencePatterns</div>
			    <div style="clear:both"></div>
			</div>
	    </section>         
		##---top end
		
		##body start
		<div class="container">
		    <div class="mainContainer" style="margin-top: 45px;">
			    ##<!-- 星星展示 info help 和 新学生勋章 -->
				<div class="classroom2Info">
				    <button class="infoBtn" id="infoBtn" onclick="require('classmajor').openInfo('$!student.id','$lesson.serialNumber')">Info</button>
				    <!--
					<button class="infoBtn ng-scope" id="helpBtn" onclick="require('classmajor').clickHelp('$!helpTimes','$!onlineClass.id')" style="width: 34px; background: url('${request.getContextPath()}/resources/images/star/help-button-red.png') no-repeat; background-size: 34px 34px;"></button>
				    -->
				    <div class="isNewComer" style="display:none;" id="isNewStudent"></div>
				    <div>
					    <div class="stars">
							<div class="ownedStars" id="ownedStars"></div>
							<div class="futureStars" id="futureStars">
								<div class="futureStar" student="$!student.id" onlineClassId="$!onlineClass.id"></div>
								<div class="futureStar" student="$!student.id" onlineClassId="$!onlineClass.id"></div>
								<div class="futureStar" student="$!student.id" onlineClassId="$!onlineClass.id"></div>
								<div class="futureStar" student="$!student.id" onlineClassId="$!onlineClass.id"></div>
								<div class="futureStar" student="$!student.id" onlineClassId="$!onlineClass.id"></div>
							</div>
							<div id="loading" class="loading" style="display:none;"></div>
						</div>
						<button id = "faq" onclick="require('classmajor').clickFAQ()" style=" border: none;width: 70px; height: 34px; background:#dd4814; color: #fff; float: right; border-radius:10px;margin: 8px 8px;">FAQ</button>
						<button id = "cancelHelpBtn" onclick="require('classmajor').clickCancelHelp('$!helpTimes','$!onlineClass.id')" style="font-size: 16px;border: none;display:none; width: 80px; height: 34px; background:#dd4814; border-radius: 10px; color:#FFFFFF; margin: 8px 10px 8px 0px;float: right;">Cancel</button>
						<button id = "contactFireman" onclick="require('classmajor').clickHelp('$!helpTimes','$!onlineClass.id')" style="font-size: 16px;border: none;width: 140px; height: 34px; background:#dd4814; border-radius:10px; color: #fff; float: right;margin: 8px 10px;">Contact&nbsp;&nbsp;fireman</button>
						<font id = "contactTheFireman" style ="display:none; color: #dd4814;font-size:18px;top:13px;position:relative;float: right;">Contacting the fireman… </font>
						<div style="clear: both"></div>
					</div>
				</div>
				##----课堂
				<iframe id="xuedianyun" name="xuedianyun" width="1300" height="580" frameborder="0" scrolling="no" src="$!url" style="top:200px;"></iframe>

				##feedback
				#parse("/portal/online_class_major_feedback.vm")
			</div>
		</div>
		##body end
  </div>
</div>

<style>
.iframe-score {
	position:relative;
	width:100%;
	height: 300px;
	padding:0 100px;
	display:none;
	background: rgba(194, 197, 188, .5)
}
.iframe-score.iframe-fixed{
	position: fixed;
	left: 0;
	bottom: 0;
    right: 0;
}
.iframe-score iframe{
	background: #FFF;
}
.iframe-score span{
	position:absolute;
    width: 40px;
	height: 40px;
	right: 60px;
	top:0;
	font-size:26px;
	cursor:pointer;
}

.iframe-score .down{
    background: url("#styleUrl('/resources/images/portal/down_normal.png')");
    background-size: 100% 100%;
}

.iframe-score .down:hover {
    background: url("#styleUrl('/resources/images/portal/down-hover.png')");
    background-size: 100% 100%;
}
.iframe-score .up {
    background: url("#styleUrl('/resources/images/portal/up_normal.png')");
    background-size: 100% 100%;
}
.iframe-score .up:hover {
    background: url("#styleUrl('/resources/images/portal/up_hover.png')");
    background-size: 100% 100%;
}
.iframe-score span:hover {
	color:#C00;
}
	.relative {
		position:relative;
	}
.relative strong {
	position:absolute;
	top:20px;
	right:36px;
	width:22px;
	cursor:pointer;
	height:22px;
    background: url("#styleUrl('/resources/images/portal/delete.png')");
}
</style>

<div class="js-iframe-score iframe-score">
	<span class="down js-span"></span>
	<div class="relative">
	<iframe frameborder="0" scrolling="auto" width="100%" height="300"  style="filter:Chroma(Color=white);" src="/unit_assessment?onlineClassId=${onlineClassId}"></iframe>
	<strong></strong>
    </div>
</div>


<script>

		var setIframe = {
			init : function (){
				this.iframeState = 1;
				this.status = true;
				this.iframe = $('.js-iframe-score');
				this.el = $('iframe', this.iframe)
                this.addEvent();
				this.urls();
			},

			urls : function (){
                var url = window.location.href;
                var ua = url.indexOf('from=ua');
				if(ua!=-1){
					this.modifyIframeHeight();

//                    this.iframe.show();
				}
			},
			modifyIframeHeight : function (){

                var str = $(".time").attr("time") + ""; // 日期字符串
                console.log(str);
				var temp = str.split('.');
				str = temp[0];
				str = str.replace(/-/g,'/'); // 将-替换成/，因为下面这个构造函数只支持/分隔的日期字符串
                console.log(str);
                var date = new Date(str); // 构造一个日期型数据，值为传入的字符串
				console.log(date> new Date().getTime() - 2*86400000);
                console.log(date);
                console.log(new Date().getTime() - 2*86400000);

                if(date.getTime() > new Date().getTime() - 2*86400000) {
                    var bodyHeight = $('body').outerHeight() - 35;
                    this.iframe.show();
                    this.iframe.css('height', bodyHeight);
                    this.el.css('height', bodyHeight);
                    this.iframe.addClass('iframe-fixed');
                }
			},

			showIframe : function (){
                var str = $(this).attr("time"); // 日期字符串
                str = str.replace(/-/g,'/'); // 将-替换成/，因为下面这个构造函数只支持/分隔的日期字符串
                var date = new Date(str); // 构造一个日期型数据，值为传入的字符串
                if(date > new Date().getTime() - 2*86400000) {
                    this.iframe.show();
                    $('.js-span').addClass('down')
                    $('.js-span').removeClass('up');
                    this.iframeState = 1;
                }
			},

			addEvent : function (){
				var t = this;
				$('.js-add').on('click', function (){
                        t.showIframe();
                        t.modifyIframeHeight();
				});
                $('span', this.iframe).on('click', function (){
					if (t.iframeState === 1) {
                        t.iframe.removeClass('iframe-fixed');
                        t.iframe.css('height', '300');
                        t.el.css('height', '300');
						$(this).addClass('up')
						$(this).removeClass('down')
						$('body').scrollTop($('body').height())
                        t.iframeState = 0;
					} else {
						t.modifyIframeHeight();
                        $(this).addClass('down')
                        $(this).removeClass('up')
                        t.iframeState = 1;
                        $('body').scrollTop(0)
					}
				});

				$('.relative strong').on('click', function (){
					t.iframe.hide();
				});
			}
		};

		window.onload = function (){
            setIframe.init();
		};
</script>
<!--<iframe id="iframe-score" frameborder="0" scrolling="auto" width="100%" height="500"
        src="/unit_assessment?onlineClassId=${onlineClassId}"></iframe>-->



<!-- Modal -->
<div  class="modal fade" data-backdrop="false" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="modalDialog" class="modal-dialog" role="document" style="width:1200px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Unit Assessment Report</h4>
            </div>
            <div class="modal-body" >
               <iframe id="iframepage" frameborder="0" scrolling="auto" width="100%" height="500" 
    				ng-src="/unit_assessment?onlineClassId=${onlineClassId}"></iframe>
            </div>
           <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>-->
        </div>
    </div>
</div>
<div id="dialog" title="Unit Assessment Report" style="display:none;">
	<iframe id="iframepageua" frameborder="0" scrolling="auto" width="100%" style="min-height:450px;"
    				##ng-src="http://a12-t.vipkid.com.cn/unit_assessment?onlineClassId=3332241"></iframe>
					ng-src="/unit_assessment?onlineClassId=${onlineClassId}"></iframe>
</div>
<div id="dialogArea" style="height:500px;width:100%;display:none;"></div>
<link rel="stylesheet" href="#styleUrl('/resources/styles/portal/jquery-ui.min.css')" />

#@requireJs()
    require(['classmajor'], function(classmajor){        	
    	classmajor.init("$!serverTime", "$!scheduleTime","$!studentUser.createDateTime");    
        #if($studentUser.createDateTime)
          classmajor.sendTeacherInClassroom("$!onlineClass.id");
        #end
    });
    
    #if($stringUtils.startsWith($!{lesson.serialNumber},'A'))
	    #if($currentReport)
	    	 require(['report-demo','room-demo'], function(report,roomdemo){
	    	 	roomdemo.parentTab();
	    	 	#if($from && $from!="ua")
	    	 		roomdemo.openDemoReportRoom("$!lesson.serialNumber","$!onlineClass.id","$!student.id","listening-s");
	    	 	#end
	    	 });
	    #end
    #else
    	require(['feedback'], function(feedback){
		 	feedback.parentTab();
		 	#if($from && $from!="ua")
		 		feedback.openFeedback("Required","$!onlineClass.id","$!student.id");
		 	#end
		});
    #end 
        
    ##通道选择加载js
    ## 2代表多贝云
    #if(${onlineClass.supplierCode} == 2)
        require(['dbyproxy'], function(dby){
            dby.initChannel("$!{TRPM_USER.id}", "$!onlineClass.classroom", true, "$!stars");
        });    
    #else
        require(['xdyproxy'], function(xdy){
            xdy.initChannel("$!{TRPM_USER.id}", "$!onlineClass.classroom", true, "$!stars");
        });  
    #end  
	
	##UA 报告 弹出框 拖动效果 依赖类库
	require(['jquery'], function(){ } );
	require(['jquery-ui'], function(){ } );
	
#end

