<form id="trailFeedbackForm" name="form" action="#springUrl('/commentSubmit.json')" method="post"
      class="form-horizontal ng-pristine ng-valid" xmlns="http://www.w3.org/1999/html">
	<style>
		.classroom .trailFeedbackContainer{text-align:left;}
	</style>
	#if(!$teacherComment.teacherFeedback || $teacherComment.teacherFeedback == "")
		#set($elememtDisabled="")
	#else
		#set($elememtDisabled="disabled")
	#end
	<div>
		<div id="Required" style="height:530px;overflow-x:hidden; overflow-y:auto;">
			##<div class="hideFeedbackButton"></div>
			<div>
				<div>
					<label>How did your student do in today's class?<span style="color: red;">*</span></label>
					<div style="font-weight:normal;color:#666;margin-top:-5px;padding-bottom:5px;">
					(Remember, this goes to the parents.)</div>
					<div>
						<textarea id="teacherFeedbackText" $!elememtDisabled name="teacherFeedback" class="form-control ng-pristine ng-valid">$!teacherComment.teacherFeedback</textarea>
					</div>
				</div>
				
				<div style="padding-top:10px;">
					<label>Your tips for the next teacher. </label>
					<div style="font-weight:normal;color:#666;margin-top:-5px;padding-bottom:5px;">
					(This goes to the next teacher.)</div>
					<div>
						<textarea name="tipsForOtherTeachers" $!elememtDisabled class="form-control ng-pristine ng-valid">$!teacherComment.tipsForOtherTeachers</textarea>
					</div>
				</div>

				#if($lesson.serialNumber && ($stringUtils.startsWith($!lesson.serialNumber,'MC')))
					<div style="padding-top:10px;">
						<div>
                            <label>Content Learning</label>
                            <p>
								<span>Vocabulary Rebention</span>
								<label><input type="radio" name="vocabularyRetention"  value="Struggling" $!elememtDisabled #if($teacherComment.vocabularyRetention =='Struggling') checked="true" #end />Struggling</label>
                                <label><input type="radio" name="vocabularyRetention"  value="Developing" $!elememtDisabled #if($teacherComment.vocabularyRetention =='Developing') checked="true" #end />Developing</label>
                                <label><input type="radio" name="vocabularyRetention"  value="Mastered" $!elememtDisabled #if($teacherComment.vocabularyRetention =='Mastered') checked="true" #end />Mastered</label>
							</p>

                            <p>
								<span>Pronunciation</span>
                                <label><input type="radio" name="pronunciation"  value="Struggling" $!elememtDisabled #if($teacherComment.pronunciation =='Struggling') checked="true" #end />Struggling</label>
                                <label><input type="radio" name="pronunciation"  value="Developing" $!elememtDisabled #if($teacherComment.pronunciation =='Developing') checked="true" #end />Developing</label>
                                <label><input type="radio" name="pronunciation"  value="Mastered" $!elememtDisabled #if($teacherComment.pronunciation =='Mastered') checked="true" #end />Mastered</label>
							</p
                            <p>
								<span>Alphabet skills</span>
                                <label><input type="radio" name="alphabetSkills"  value="Struggling" $!elememtDisabled #if($teacherComment.alphabetSkills =='Struggling') checked="true" #end />Struggling</label>
                                <label><input type="radio" name="alphabetSkills"  value="Developing" $!elememtDisabled #if($teacherComment.alphabetSkills =='Developing') checked="true" #end />Developing</label>
                                <label><input type="radio" name="alphabetSkills"  value="Mastered"   $!elememtDisabled #if($teacherComment.alphabetSkills =='Mastered') checked="true" #end />Mastered</label>
							</p
                            <p>
								<span>phonological Awareness</span>
                                <label><input type="radio" name="phonologicalAwareness"  value="Struggling" $!elememtDisabled #if($teacherComment.phonologicalAwareness =='Struggling') checked="true" #end />Struggling</label>
                                <label><input type="radio" name="phonologicalAwareness"  value="Developing" $!elememtDisabled #if($teacherComment.phonologicalAwareness =='Developing') checked="true" #end />Developing</label>
                                <label><input type="radio" name="phonologicalAwareness"  value="Mastered" $!elememtDisabled #if($teacherComment.phonologicalAwareness =='Mastered') checked="true" #end />Mastered</label>
							</p
						</div>

						<div>
                            <label>Classroom Behavior</label>
							<p>
								<span>Follows instructions</span>
                                <label><input type="radio" name="followsInstructions"  value="Rarely" $!elememtDisabled #if($teacherComment.followsInstructions =='Rarely') checked="true" #end />Rarely</label>
                                <label><input type="radio" name="followsInstructions"  value="Sometimes" $!elememtDisabled #if($teacherComment.followsInstructions =='Sometimes') checked="true" #end />Sometimes</label>
                                <label><input type="radio" name="followsInstructions"  value="Oftens" $!elememtDisabled #if($teacherComment.followsInstructions =='Oftens') checked="true" #end />Oftens</label>
							</p>

                            <p>
                                <span>Participates actively</span>
                                <label><input type="radio" name="participatesActively"  value="Rarely" $!elememtDisabled #if($teacherComment.participatesActively =='Rarely') checked="true" #end />Rarely</label>
                                <label><input type="radio" name="participatesActively"  value="Sometimes" $!elememtDisabled #if($teacherComment.participatesActively =='Sometimes') checked="true" #end />Sometimes</label>
                                <label><input type="radio" name="participatesActively"  value="Oftens" $!elememtDisabled #if($teacherComment.participatesActively =='Oftens') checked="true" #end />Oftens</label>
                            </p>

                            <p>
                                <span>Speaks clearly</span>
                                <label><input type="radio" name="speaksClearly"  value="Rarely" $!elememtDisabled #if($teacherComment.speaksClearly =='Rarely') checked="true" #end />Rarely</label>
                                <label><input type="radio" name="speaksClearly"  value="Sometimes" $!elememtDisabled #if($teacherComment.speaksClearly =='Sometimes') checked="true" #end />Sometimes</label>
                                <label><input type="radio" name="speaksClearly"  value="Oftens" $!elememtDisabled #if($teacherComment.speaksClearly =='Oftens') checked="true" #end />Oftens</label>
                            </p>
						</div>

						<div>
                            <label>Computer Skills</label>
							<p>
								<span>Mouse\Touchpad activities</span>
                                <label><input type="radio" name="mouseTouchpadActivities"  value="Struggling" $!elememtDisabled #if($teacherComment.speaksClearly =='Struggling') checked="true" #end />Struggling</label>
                                <label><input type="radio" name="mouseTouchpadActivities"  value="Developing" $!elememtDisabled #if($teacherComment.speaksClearly =='Developing') checked="true" #end />Developing</label>
                                <label><input type="radio" name="mouseTouchpadActivities"  value="Mastered" $!elememtDisabled #if($teacherComment.speaksClearly =='Mastered') checked="true" #end />Mastered</label>
							</p>
						</div>


                        <div>
                            <label>Lesson Completion</label>
							<p>(Was the amount of material appropriate for 25 minutes?)</p>
                            <p>
                                <span>Degree of completion</span>
                                <label><input type="radio" name="degreeCompletion"  value="Skipped a lot" $!elememtDisabled #if($teacherComment.degreeCompletion =='Skipped a lot') checked="true" #end/>Skipped a lot</label>
                                <label><input type="radio" name="degreeCompletion"  value="Skipped a bit" $!elememtDisabled #if($teacherComment.degreeCompletion =='Skipped a bit') checked="true" #end/>Skipped a bit</label>
                                <label><input type="radio" name="degreeCompletion"  value="Finished all" $!elememtDisabled #if($teacherComment.degreeCompletion =='Finished all') checked="true" #end/>Finished all</label>
                            </p>
                        </div>
						##<input type="radio" name="englishLanguageScore" #if(0 == ${teacherApplication.englishLanguageScore})checked="checked"#end value="0" />

						<label>Level of Difficulty</label>
						<div style="font-weight:normal;color:#666;margin-top:-5px;padding-bottom:5px;">
							(This helps us with overall lesson performance/ student ability)</div>
						<div>
							<select id="performance" name="performance" field="$!teacherComment.performance" $!elememtDisabled class="ng-pristine ng-valid">
								<option value="0">Choose From Here</option>
								<option value="5">Very Easy</option>
								<option value="4">Slightly Easy</option>
								<option value="3">On Level</option>
								<option value="2">Slightly Difficult</option>
								<option value="1">Very Difficult</option>
							</select>
						</div>
					</div>

					<div style="padding-top:10px;">
						<input type="checkbox" id="needParentSupport" name="needParentSupport" value="1" $!elememtDisabled #if($!teacherComment.needParentSupport == true) checked="true" #end/>&nbsp;&nbsp;Please check this box if you think the student needs parent support during class
					</div>
				#end
			</div>
		</div>
	</div>
	<div id = "previp_cf_button" style="text-align:right;padding:8px;">
		##仅仅没有提交过才能显示提交
		#if(!$teacherComment.teacherFeedback || $teacherComment.teacherFeedback == "")
			<button type="button" class="btn btn-gray" onclick="require('feedback').trailCommentClose();">Cancel</button>
			<input type="hidden" name="id" value="$!{teacherComment.id}" />
			<input type="hidden" name="serialNumber" value="$!{lesson.serialNumber}" />
            <input type="hidden" name="scheduledDateTime" value="$!{onlineClass.scheduledDateTime}" />
			<button type="button" class="btn btn-primary" onclick="require('feedback').trailCommentSubmit();">Submit</button>
		#else
			<button type="button" class="btn btn-gray" onclick="require('feedback').trailCommentClose();">Close</button>
		#end
	</div>
</form>
