<div class="modal fade" id="info-Modal" role="dialog" style="overflow:hidden;" aria-labelledby="infoModal">
    <style>
    	.commentTitle{font-size:16px;}
    </style>
    <div class="modal-dialog info-dialog" style="width: 500px;">
    
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> <strong>Comments about this student</strong> </h4>
        </div>
        
        <div class="modal-body">
          <div style="width: 100%;height: 30px;" class="StudentInfo">
            <div style="width: 190px;display: table-cell;" class="ng-binding">Student: <span> $!student.englishName </span> </div>
            <div style="width: 50%;display: table-cell;" class="ng-binding">QQ: <span> $!student.qq</span> </div>
          </div>
          <hr />
          <div class="staffComments" style="position: static;width: 85%;display: block; float:none;">
            <div class="commentTitle"><strong>Know the student</strong></div>
            <div class="commentItem ng-binding" style="overflow-y:auto; height:100px;word-break:break-all; word-wrap:break-word;">$!student.knowTheStudent</div>
          </div>
          <hr />
          <div class="teacherComments">
            <div class="commentTitle"><strong>Computer Placement Test</strong></div>
            
            <div class="ng-binding" style="width:100%;">
	            #if($studentExam.examLevel)
	              	#if(!$stringUtils.containsIgnoreCase($studentExam.examLevel,'foundation'))  
		                <span>CT result is $!studentExam.examLevel</span>
	                #else
	                	<span>Level 0 Unit 0</span>
	                #end
	            #else
                	<span>No placement available. Please teach lesson T1-L1-U1-LC1-L# if this is a Trial lesson.</span>
              	#end
              	#if($studentExam.endDatetime)
                	<span >$dateTool.format('yyyy-MM-dd HH:mm:ss',$studentExam.endDatetime)</span>
              	#end
            </div>
          
          </div>
          <hr />
          
          <div class="teacherComments">
            <div class="commentTitle"><strong>Previous Teachers' Comments</strong></div>
            <div class="commentItem ng-scope ng-binding" style="overflow-y:auto;height:120px;word-break:break-all; word-wrap:break-word;">
              #foreach($teacherComment in $teacherComments)
              	 <span><b>Comment $!teacherComment.serial_number:</b> $!teacherComment.tips_for_other_teachers<br/> </span>
              #end
            </div>
          </div>
        </div>
        <div class="modal-footer" style="margin-top:0px;">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close"> Ok </button>
        </div>
      
      </div>      
    
    </div>
</div>