<form id="trailFeedbackForm" name="form" action="#springUrl('/commentSubmit.json')" method="post" class="form-horizontal ng-pristine ng-valid">
	<style>
		.classroom .trailFeedbackContainer{text-align:left;}
	</style>
	<div>
		<div id="Required" style="height:530px;overflow-x:hidden; overflow-y:auto;">
			<iframe id="iframepage" frameborder="0" scrolling="auto" width="100%" height="500" 
				src="/unit_assessment?onlineClassId=${onlineClassId}"></iframe>
			
        </div>
	</div>
	<div style="text-align:right;padding:8px;">
		<button type="button" class="btn btn-gray" onclick="require('feedback').trailCommentClose();">Close</button>
	</div>
</form>