 #set($layout = "/portal/layout.vm")
 #set($activePayrollInfo = "active")
 <style >
	#comments-content .bottom-border {
		background-color: #F63B00;
		color: #fff;
		border: 1px solid #ddd;
	}
	#comments-content .salary-details-warpper{
		border: 1px solid #ddd;
	}
	
	
</style>
<div class="tab-pane active ng-scope" id="comments" style="border: 0px;" layout:fragment="content">
    <div class="row form-group form-inline" style="margin-top: 15px; margin-right: 0px;">
        <button class="btn btn-primary btn-sm next" style="float: right; -margin-right: 30px; width: 180px;">NEXT MONTH</button>
        <button class="btn btn-primary btn-sm curr" style="float: right; margin-right: 30px; width: 180px;">CURRENT MONTH</button>
        <button class="btn btn-primary btn-sm prev" style="float: right; margin-right: 30px; width: 180px;">PREV MONTH</button>
    </div>
    <div id="yearMonthTitle" align="center" style="background-color: #AEA79F; border: 1px solid #DDDDDD; border-bottom: 0px;" class="ng-binding">$!{monthOfYear}</div>
    <div id="comments-content" style="background-color:#fff;">
        <div class="container-fluid salary-details-warpper">
            <div class="row">
                <div class="col-xs-8">
                    <h3></h3>
                </div>
                <div class="col-xs-4">
                    <h3 class="text-right "></h3>
                </div>
            </div>
            <br>
            <div class="row bottom-border total-title-warpper" style=" ">
                <div class="col-xs-6 text-left">
                    <h4>Total Salary:</h4>
                </div>
                <div class="col-xs-6 text-right">
                    #set($payTo=$payroll.totalSalary /100.0)
                    #if($payTo<0)
                       #set($payTo="N/A")
                    #end
                    <h4>$ $!{payTo}</h4>
                </div>
            </div>

            <div class="row total-courses-warpper" style="margin-top:10px;">
                <div class="col-xs-6 dropdown text-left">
                    <p class="dropdown-toggle" data-toggle="collapse" href="#courses">
                        Courses<b class="downCaret"></b>
                    </p>
                </div>
                #set($cousTo=$courses.totalSalary /100.0)
                <div class="col-xs-6 text-right">$ $!{cousTo}</div>
            </div>
            <div class="row panel-collapse collapse f9f9f9" id="courses">
                #foreach($course in $courses.list)
                <div class="col-xs-6  text-left">
                    $!{course.courseName}
                </div>
                <div class="col-xs-6  text-right">
                   #set($couTo=$course.totalSalary /100.0)
                    $!{couTo}
                </div>
                #end
            </div>
            <br> 
             #if(  $is2VersionContactType == true)   
            <div class="row total-attendance-warpper">
                <div class="col-xs-6 dropdown text-left">
                    <p class="dropdown-toggle" data-toggle="collapse" href="#attendance-bonus">
                        Attendance Bonus<b class="downCaret"></b>
                    </p>
                </div>
				#set($attendance_couTo=$attendance.totalSalary /100.0)
                <div class="col-xs-6 text-right">$ $!{attendance_couTo}</div>
            </div>
            <div class="row panel-collapse collapse f9f9f9" id="attendance-bonus">
               #foreach($attendanceBonus in $attendance.list)
                <div class="col-xs-6  text-left">
                    $!{attendanceBonus.name}
                </div>
                <div class="col-xs-6  text-right">
                    #set($attTo=$attendanceBonus.totalSalary /100.0)
                    <span> $ $!{attTo}</span>
                </div>
                #end
            </div>
            #end
            <br>
            <div class="row total-other-warpper">
                <div class="col-xs-6 dropdown text-left">
                    <p class="dropdown-toggle" data-toggle="collapse" href="#other-bonus">
                        Other Bonus<b class="downCaret"></b>
                    </p>
                </div>
                 #set($othsTo=$other.totalSalary /100.0)
                <div class="col-xs-6 text-right">$ $!{othsTo}</div>
            </div>
            <div class="row panel-collapse collapse f9f9f9" id="other-bonus">
               #foreach($otherBonus in $other.list)
                <div class="col-xs-6  text-left">
                    $!{otherBonus.name}
                </div>
                <div class="col-xs-6  text-right">
                    #set($othTo=$otherBonus.totalSalary /100.0)
                    <span> $ $!{othTo}</span>
                </div>
                #end
            </div>
			
            <br>
            <div class="row total-adjustment-warpper">
                <div class="col-xs-6 dropdown text-left">
                    <p class="dropdown-toggle" data-toggle="collapse" href="#adjustments">
						Adjustments<b class="downCaret"></b>
					</p>
                </div>
                #set($adjustmentsTo=$adjustments.totalSalary /100.0)
                <div class="col-xs-6 text-right">$ $!{adjustmentsTo}</div>
            </div>
            <div class="row panel-collapse collapse f9f9f9" id="adjustments">
				#if($adjustments.selectList.size()>0)
    				#foreach($adjRows in $adjustments.selectList)
                    <div class="col-xs-6  text-left">
                        $!{adjRows.ruleName}
                    </div>
                    <div class="col-xs-6  text-right">
                        #set($adjRowsTo=$adjRows.totalSalary /100.0)
                        <span> $ $!{adjRowsTo}</span>
                    </div>
					#end
				#else
					<div class="col-xs-6  text-left">
                        Addition
                    </div>
                    <div class="col-xs-6  text-right">
                        <span> $ 0</span>
                    </div>
					<div class="col-xs-6  text-left">
                        Deducition
                    </div>
                    <div class="col-xs-6  text-right">
                        <span> $ 0</span>
                    </div>
				#end	
			</div>
			
            <br>
            <div class="coureses-warpper">
                <div class="row bottom-border top-border" style="">
                    <div class="col-xs-8">
                        <h5 class="text-left">Courses</h5>
                    </div>
                    <div class="col-xs-4">
                        #set($courTo=$courses.totalSalary /100.0)
                        <h5 class="text-right">$ $!{courTo}</h5>
                    </div>
                </div>
                <br>
                <table id="courses_table_id" class="table table-bordered table-striped">
                    <thead>
                        <tr class="info">
                            <td class="text-center">Scheduled Time</td>
                            <td class="text-center">Lesson SN</td>
                            <td class="text-center">Lesson Type</td>
                            <td class="text-center">Finish Type</td>
                            <td class="text-center">Short Notice</td>
                            <td class="text-center">Amount($)</td>
                        </tr>
                    </thead>
                    <tbody id="coursesList" ms-controller="course-list-controller">
                        <tr class="rowscss ng-scope" ms-repeat="dataList">
                            <td>
                                <div name="scheduledTime" class="lessonInfoContent ng-binding">{{el.scheduledTime}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.lessonSn}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.lessonType}}</div>
                            </td> 
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.finishType}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.shortNotice}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.totalSalary}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <nav style="float: right; margin-right: 30px;">
                        <ul class="pagination paginationCo" >
                        </ul>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8">
                        <div class="mr-top-20">
                            <span class="">Total records: <strong id="courses_records_id" class="ng-binding">0</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            #if(  $is2VersionContactType == true)      
            <div class="attendance-warpper">
                <div class="row bottom-border top-border">
                    <div class="col-xs-6">
                        <h5 class="text-left">Attendance Bonus</h5>
                    </div>
                    <div class="col-xs-6">
                         #set($attTo=$attendance.totalSalary /100.0)
                        <h5 class="text-right">$ $!{attTo}</h5>
                    </div>
                </div>
				
				#if(  $is2VersionContactType == true)
                <br>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="active">
                            <td class="text-left" style="border-right:0;">Attendance</td>
							#set($attendance_tr_totalSalary = 0)
							#if($attendance.attendanceList.size()>0)
        						#foreach($attendanceRow in $attendance.attendanceList)
									#set($attendance_tr_totalSalary = ${attendanceRow.unitPrice} /100.0*${attendance.attendanceList[0].quantity}+$attendance_tr_totalSalary)
								#end
							#end
                            <td class="text-right" style="border-left:0;">$ $!{attendance_tr_totalSalary}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <td class="text-center">Unit Price ($)</td>
                            <td class="text-center">Quantity</td>
                        </tr>
						
						#if($attendance.attendanceList.size()>0)
    						#foreach($attendanceRow in $attendance.attendanceList)
                            <tr class="rowscss">
                                #set($attendanceRow_unitPrice=$attendanceRow.unitPrice /100.0 )
                                <td class="text-center">$ $!{attendanceRow_unitPrice}</td>
                                <td class="text-center">$!{attendance.attendanceList[0].quantity}</td>
                            </tr>
    						#end
						#else
							<tr class="rowscss">
                                <td class="text-center">$ 0</td>
                                <td class="text-center">0</td>
                            </tr>
						#end
                    </tbody>
                </table>
				#end
				
                <br>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="active">
                            <td colspan="4" class="text-left" style="border-right:0;">
                                 Course Deductions
                            </td>
							#set($deductions_totalSalary=$attendance.totalSalaryMap.dedduction /100.0)
							<td colspan="1" class="text-right" style="border-left:0;">
                                 $ $!{deductions_totalSalary}
							</td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">Scheduled Time</td>
                            <td class="text-center">Lesson SN</td>
                            <td class="text-center">Lesson Type</td>
                            <td class="text-center">Finish Type</td>
                            <td class="text-center">Amount ($)</td>
                        </tr>
                    </thead>
                    <tbody id="coursesList" ms-controller="course-list-controller">
                        <tr class="ng-scope" ms-repeat="deDataList">
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.scheduledTime}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.lessonSn}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.lessonType}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.finishType}}</div>
                            </td>
                            <td>
                                <div class="lessonInfoContent ng-binding">{{el.totalSalary}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                ##
                 <div>
                    <nav style="float: right; margin-right: 30px;">
                        <ul class="pagination paginationDe">
                        </ul>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8">
                        <div class="mr-top-20">
                            <span class="">Total records: <strong id="Course_deductions_records_id" class="ng-binding">0</strong></span>
                        </div>
                    </div>
                </div>
            </div>
           #end 
            <br>
            <div class="attendance-warpper">
                <div class="row bottom-border top-border">
                    <div class="col-xs-6">
                        <h5 class="text-left">Other Bonus</h5>
                    </div>
                    <div class="col-xs-6">
                      #set($otherTo=$other.totalSalary /100.0)
                        <h5 class="text-right">$ $!{otherTo}</h5>
                    </div>
                </div>
                <br>

				#if(  $is2VersionContactType == false)		
                <br> 
				<table id="finishClass_table_id" class="table table-bordered">
                    <thead>
                        <tr class="active">
							<td colspan="2" class="text-left" style="border-right:0;">
                             Monthly Evaluation
                            </td>
							#set($omeT=$otherMonthlyEvaluation.totalSalary /100.0)
							<td colspan="1" class="text-right" style="border-left:0;">
                                 $ $!{omeT}
							</td>
                        </tr>
                        <tr class="info">
							<td class="text-center">Percentage(%)</td>
                            <td class="text-center">Unit Price ($)</td>
                            <td class="text-center">Quantity</td>
                        </tr>
                    </thead>
                    <tbody>
						#foreach($row in $otherMonthlyEvaluation.list)
                         <tr class="rowscss">
                            #set($row_ome_unitPrice=$row.unitPrice /100.0)
							<td class="text-center">$!{row.percentage}</td>
                            <td class="text-center">$!{row_ome_unitPrice}</td>
                            <td class="text-center">$!{row.quantity}</td>
                        </tr>
						#end
                    </tbody>
                </table>	
				#end
			
				#if(  $is2VersionContactType == true)
				<br>
                <table id="finishClass_table_id" class="table table-bordered">
                    <thead>
                        <tr class="active">
							<td colspan="1" class="text-left" style="border-right:0;">
                             Finished Classes
                            </td>
							#set($othFC=$otherFinishedClasses.totalSalary /100.0)
							<td colspan="1" class="text-right" style="border-left:0;">
                                 $ $!{othFC}
							</td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">Unit Price ($)</td>
                            <td class="text-center">Quantity</td>
                        </tr>
                    </thead>
                    <tbody>
						#foreach($finishClassRow in $otherFinishedClasses.list)
                         <tr class="rowscss">
                            #set($finishClassRow_unitPrice=$finishClassRow.unitPrice /100.0)
                            <td class="text-center">$!{finishClassRow_unitPrice}</td>
                            <td class="text-center">$!{finishClassRow.quantity}</td>
                        </tr>
						#end
                    </tbody>
                </table>
				#end
				
               #*<br>
               2016.08.23 不显示referall bonus
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
							<td colspan="3" class="text-left" style="border-right:0;">
                                 Teacher Referral Fee
                            </td>
							#set($othTRF=$otherTeacherReferralFee.totalSalary /100.0)
							<td colspan="1" class="text-right" style="border-left:0;">
                                 $ $!{othTRF}
							</td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">Signing Date</td>
                            <td class="text-center">Registration Date</td>
                            <td class="text-center">Teacher Name</td>
                            <td class="text-center">Price ($)</td>
                        </tr>
                         #foreach($referal in $otherTeacherReferralFee.list)
                         <tr class="rowscss">
                            <td class="text-center" showType="date" value="${referal.signingTime}">$referal.signingTime</td>
                            <td class="text-center" showType="date" value="${referal.registerDate}">$referal.registerDate</td>
                            ##set($st = $referal.signingTime*1000)
                            ## <td class="text-center">$!{dateTool.format($referal.signingTime)}</td>
                             ##<td class="text-center">$!{dateTool.format($referal.registerDate)}</td>
                             <td class="text-center">$referal.teacherName</td>
                            #set($refe=$referal.totalSalary /100.0)
                            <td class="text-center">$!{refe}</td> 
                         </tr>
                         #end
                    </thead>
                    <tbody>
                    </tbody>
                </table>
				*#			
				
				<br>
				<table id="otherNewVipkid_table_id" class="table table-bordered">
                    <thead>
                        <tr class="active">
							<td colspan="3" class="text-left" style="border-right:0;">
                                 New VIPKID Enrollment
                            </td>
							#set($otherNewVipkid_totalSalary=$otherNewVipkid.totalSalary /100.0)
							<td colspan="1" class="text-right" style="border-left:0;">
                                 $ $!{otherNewVipkid_totalSalary}
							</td>
                        </tr>
                        <tr class="info">
                            <td class="text-center">Enrollment Time</td>
                            <td class="text-center">Class Time</td>
                            <td class="text-center">Student Name</td>
                            <td class="text-center">Price ($)</td>
                        </tr>
                        #foreach($vipSet in $otherNewVipkid.list)
                        <tr class="rowscss">
                             #set($reg=$vipSet.registerDate*1000)  
                            <td class="text-center" showType="date" value="$vipSet.registerDate">$!{dateTool.format($reg)}</td>      
                            <td class="text-center" showType="date" value="$vipSet.scheduledTime">$!{dateTool.format($vipSet.scheduledTime)}</td>             
                            <td class="text-center">$vipSet.studentName</td>
                            #set($vipSetTo=$vipSet.totalSalary /100.0)
                            <td class="text-center">$vipSetTo</td>
                        </tr>
                        #end
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <br>
            <div class="attendance-warpper">
                <div class="row bottom-border top-border">
                    <div class="col-xs-6">
                        <h5 class="text-left">Adjustments</h5>
                    </div>
                    <div class="col-xs-6">
                        #set($adjs=$adjustments.totalSalary /100.0)
                        <h5 class="text-right">$ $!{adjs}</h5>
                    </div>
                </div>
                <table class="table table-bordered">
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="info">
                            <th class="text-center">Item</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Unit Price ($)</th>
                            
                        </tr>
                    </thead>
                    <tbody>
						#if($adjustments.list.size()>0)
							#foreach($adjust in $adjustments.list)
							<tr class="rowscss">
                                <td class="text-center" value="$adjust.itemId">$adjust.itemName</td>
                                <td class="text-center" value="$adjust.descriptionId">$adjust.descriptionName</td>
                                #set($adj=$adjust.unitPrice /100.0)
                                <td class="text-center">$!{adj}</td>
							</tr>
							#end
						#end
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>

</div>
#@requireJs()
    require(["payroll"], function(payroll){
        payroll.init("$!{TRPM_TEACHER.timezone}", $!{offsetOfMonth});
        
        Portal.paging(".paginationCo",15,15, function(page){
            payroll.preSalaryList(page);
        });
    });
#end