 #set($layout = "/portal/layout.vm") #set($activePayrollInfo = "active")
<div class="tab-pane active ng-scope" id="comments" style="border: 0px;" layout:fragment="content">
	<div class="row form-group form-inline" style="margin-top: 15px; margin-right: 0px;">
		<button class="btn btn-primary btn-sm next" style="float: right; -margin-right: 30px; width: 180px;">NEXT MONTH</button>
		<button class="btn btn-primary btn-sm curr" style="float: right; margin-right: 30px; width: 180px;">CURRENT MONTH</button>
		<button class="btn btn-primary btn-sm prev" style="float: right; margin-right: 30px; width: 180px;">PREV MONTH</button>
	</div>
	<div id="yearMonthTitle" align="center" style="background-color: #AEA79F; border: 1px solid #DDDDDD; border-bottom: 0px;" class="ng-binding">$!{monthOfYear}</div>
	<div class="container-fluid price-list-wrapper">
		<div class="center-block">
			<div class="table-title clearfix">
				<div class="pull-left">
					<h4>Course Additions Price List</h4>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Add Item</button>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th class="text-center">Item</th>
						<th class="text-center">Unit Price</th>
						<th class="text-center">Date Effective</th>
						<th class="text-center">Operation Time</th>
						<th class="text-center">Operator</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="modal-wrapper" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-group onemodal-bounceIn">
					<div class="form-group">
						<label>Item</label> <select class="form-control">
							<option selected="">-Certified Course-</option>

						</select>
					</div>
					<div class="form-group">
						<label>Unit Price ($)</label> <select class="form-control">
							<option selected="">-Select-</option>
							<option value="1">1</option>
							<option value="1.5">1.5</option>
							<option value="2">2</option>
							<option value="2.5">2.5</option>
							<option value="3">3</option>
							<option value="3.5">3.5</option>
							<option value="4">4</option>
							<option value="4.5">4.5</option>
							<option value="5">5</option>
							<option value="5.5">5.5</option>
							<option value="6">6</option>
							<option value="6.5">6.5</option>
							<option value="7">7</option>
							<option value="7.5">7.5</option>
							<option value="8">8</option>
							<option value="8.5">8.5</option>
							<option value="9">9</option>
							<option value="9.5">9.5</option>
							<option value="10">10</option>
							<option value="10.5">10.5</option>
							<option value="11">11</option>
							<option value="11.5">11.5</option>
							<option value="12">12</option>
							<option value="12.5">12.5</option>
							<option value="13">13</option>
							<option value="13.5">13.5</option>
							<option value="14">14</option>
							<option value="14.5">14.5</option>
							<option value="15">15</option>
							<option value="15.5">15.5</option>
							<option value="16">16</option>
							<option value="16.5">16.5</option>
							<option value="17">17</option>
							<option value="17.5">17.5</option>
							<option value="18">18</option>
							<option value="18.5">18.5</option>
							<option value="19">19</option>
							<option value="19.5">19.5</option>
							<option value="20">20</option>
						</select>
					</div>
					<div class="form-group">
						<label>Date Effective</label>
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-From-">
							</div>
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-To-">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 error-msg"></div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a class="btn btn-default">cancle</a> <a class="btn btn-primary">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="center-block">
			<div class="table-title clearfix">
				<div class="pull-left">
					<h4>Course Deductions</h4>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Add Item</button>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th class="text-center">Finish Type</th>
						<th class="text-center">Amount ($)</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="modal-wrapper" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-group onemodal-bounceIn">
					<div class="form-group">
						<label>Finish Type</label> <select class="form-control">
							<option selected="">-Select-</option>

						</select>
					</div>
					<div class="form-group">
						<label>Unit Price ($)</label> <select class="form-control">
							<option selected="">-Select-</option>
							<option value="1">1</option>
							<option value="1.5">1.5</option>
							<option value="2">2</option>
							<option value="2.5">2.5</option>
							<option value="3">3</option>
							<option value="3.5">3.5</option>
							<option value="4">4</option>
							<option value="4.5">4.5</option>
							<option value="5">5</option>
							<option value="5.5">5.5</option>
							<option value="6">6</option>
							<option value="6.5">6.5</option>
							<option value="7">7</option>
							<option value="7.5">7.5</option>
							<option value="8">8</option>
							<option value="8.5">8.5</option>
							<option value="9">9</option>
							<option value="9.5">9.5</option>
							<option value="10">10</option>
							<option value="10.5">10.5</option>
							<option value="11">11</option>
							<option value="11.5">11.5</option>
							<option value="12">12</option>
							<option value="12.5">12.5</option>
							<option value="13">13</option>
							<option value="13.5">13.5</option>
							<option value="14">14</option>
							<option value="14.5">14.5</option>
							<option value="15">15</option>
							<option value="15.5">15.5</option>
							<option value="16">16</option>
							<option value="16.5">16.5</option>
							<option value="17">17</option>
							<option value="17.5">17.5</option>
							<option value="18">18</option>
							<option value="18.5">18.5</option>
							<option value="19">19</option>
							<option value="19.5">19.5</option>
							<option value="20">20</option>
						</select>
					</div>
					<div class="row">
						<div class="col-xs-12 error-msg"></div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a class="btn btn-default">cancle</a> <a class="btn btn-primary">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="center-block">
			<div class="table-title clearfix">
				<div class="pull-left">
					<h4>Trail Class Perentage List</h4>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Add Item</button>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th class="text-center">Unit Price ($)</th>
						<th class="text-center">Percentage (%)</th>
						<th class="text-center">Date Effective</th>
						<th class="text-center">Operation Time</th>
						<th class="text-center">Operator</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="modal-wrapper" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-group onemodal-bounceIn">
					<div class="form-group">
						<label>Unit Price ($)</label> <select class="form-control">
							<option selected="">-Select-</option>
							<option value="1">1</option>
							<option value="1.5">1.5</option>
							<option value="2">2</option>
							<option value="2.5">2.5</option>
							<option value="3">3</option>
							<option value="3.5">3.5</option>
							<option value="4">4</option>
							<option value="4.5">4.5</option>
							<option value="5">5</option>
							<option value="5.5">5.5</option>
							<option value="6">6</option>
							<option value="6.5">6.5</option>
							<option value="7">7</option>
							<option value="7.5">7.5</option>
							<option value="8">8</option>
							<option value="8.5">8.5</option>
							<option value="9">9</option>
							<option value="9.5">9.5</option>
							<option value="10">10</option>
							<option value="10.5">10.5</option>
							<option value="11">11</option>
							<option value="11.5">11.5</option>
							<option value="12">12</option>
							<option value="12.5">12.5</option>
							<option value="13">13</option>
							<option value="13.5">13.5</option>
							<option value="14">14</option>
							<option value="14.5">14.5</option>
							<option value="15">15</option>
							<option value="15.5">15.5</option>
							<option value="16">16</option>
							<option value="16.5">16.5</option>
							<option value="17">17</option>
							<option value="17.5">17.5</option>
							<option value="18">18</option>
							<option value="18.5">18.5</option>
							<option value="19">19</option>
							<option value="19.5">19.5</option>
							<option value="20">20</option>
						</select>
					</div>
					<div class="form-group">
						<label>Trial Percentage</label> <select class="form-control">
							<option selected="">-Select-</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="42">42</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="53">53</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
							<option value="60">60</option>
							<option value="61">61</option>
							<option value="62">62</option>
							<option value="63">63</option>
							<option value="64">64</option>
							<option value="65">65</option>
							<option value="66">66</option>
							<option value="67">67</option>
							<option value="68">68</option>
							<option value="69">69</option>
							<option value="70">70</option>
							<option value="71">71</option>
							<option value="72">72</option>
							<option value="73">73</option>
							<option value="74">74</option>
							<option value="75">75</option>
							<option value="76">76</option>
							<option value="77">77</option>
							<option value="78">78</option>
							<option value="79">79</option>
							<option value="80">80</option>
							<option value="81">81</option>
							<option value="82">82</option>
							<option value="83">83</option>
							<option value="84">84</option>
							<option value="85">85</option>
							<option value="86">86</option>
							<option value="87">87</option>
							<option value="88">88</option>
							<option value="89">89</option>
							<option value="90">90</option>
							<option value="91">91</option>
							<option value="92">92</option>
							<option value="93">93</option>
							<option value="94">94</option>
							<option value="95">95</option>
							<option value="96">96</option>
							<option value="97">97</option>
							<option value="98">98</option>
							<option value="99">99</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="form-group">
						<label>Date Effective</label>
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-From-">
							</div>
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-To-">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 error-msg"></div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a class="btn btn-default">cancle</a> <a class="btn btn-primary">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="center-block">
			<div class="table-title clearfix">
				<div class="pull-left">
					<h4>Adjustments Price List</h4>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Add Item</button>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th class="text-center">Item</th>
						<th class="text-center">Description</th>
						<th class="text-center">Unit Price ($)</th>
						<th class="text-center">Date Effective</th>
						<th class="text-center">Operation Time</th>
						<th class="text-center">Operator</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="modal-wrapper" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-group onemodal-bounceIn">
					<div class="form-group">
						<label>Item</label> <select class="form-control">
							<option selected="">-Certified Course-</option>

						</select>
					</div>
					<div class="form-group">
						<label>Description</label> <select class="form-control">
							<option selected="">-Select-</option>

						</select>
					</div>
					<div class="form-group">
						<label>Unit Price ($)</label> <select class="form-control">
							<option selected="">-Select-</option>
							<option value="1">1</option>
							<option value="1.5">1.5</option>
							<option value="2">2</option>
							<option value="2.5">2.5</option>
							<option value="3">3</option>
							<option value="3.5">3.5</option>
							<option value="4">4</option>
							<option value="4.5">4.5</option>
							<option value="5">5</option>
							<option value="5.5">5.5</option>
							<option value="6">6</option>
							<option value="6.5">6.5</option>
							<option value="7">7</option>
							<option value="7.5">7.5</option>
							<option value="8">8</option>
							<option value="8.5">8.5</option>
							<option value="9">9</option>
							<option value="9.5">9.5</option>
							<option value="10">10</option>
							<option value="10.5">10.5</option>
							<option value="11">11</option>
							<option value="11.5">11.5</option>
							<option value="12">12</option>
							<option value="12.5">12.5</option>
							<option value="13">13</option>
							<option value="13.5">13.5</option>
							<option value="14">14</option>
							<option value="14.5">14.5</option>
							<option value="15">15</option>
							<option value="15.5">15.5</option>
							<option value="16">16</option>
							<option value="16.5">16.5</option>
							<option value="17">17</option>
							<option value="17.5">17.5</option>
							<option value="18">18</option>
							<option value="18.5">18.5</option>
							<option value="19">19</option>
							<option value="19.5">19.5</option>
							<option value="20">20</option>
						</select>
					</div>
					<div class="form-group">
						<label>Date Effective</label>
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-From-">
							</div>
							<div class="col-xs-6">
								<input class="form-control filter-inline" type="text" readonly="" placeholder="-To-">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 error-msg"></div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a class="btn btn-default">cancle</a> <a class="btn btn-primary">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="center-block">
			<div class="table-title clearfix">
				<div class="pull-left">
					<h4>Bonus Price List</h4>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary">Add Item</button>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th class="text-center">Item</th>
						<th class="text-center">Unit Price ($)</th>
						<th class="text-center">Date Effective</th>
						<th class="text-center">Operation Time</th>
						<th class="text-center">Operator</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="modal-wrapper" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-group onemodal-bounceIn">
					<div class="form-group">
						<label>Item</label> <select class="form-control">
							<option selected="">-Select-</option>

						</select>
					</div>
					<div class="row">
						<div class="col-xs-12 error-msg"></div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a class="btn btn-default">cancle</a> <a class="btn btn-primary">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div>
		<nav style="float: right; margin-right: 30px;">
			<ul class="pagination">
			</ul>
		</nav>
	</div>
	<form id="commentsForm" style="display: none;" method="post" action="#springUrl('/comments.shtml')">
		<input type="hidden" id="offsetOfMonth" name="offsetOfMonth" value="$!{offsetOfMonth}" /> <input type="submit" />
	</form>
</div>
