<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShareActivityExam_Mapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,exam_version,exam_result,start_date_time,end_date_time,candidate_ip,candidate_key,teacher_id,link_source_id,share_record_id,status
	</sql>
	
	<!-- 对象返回定义 -->
	<resultMap type="com.vipkid.trpm.entity.ShareActivityExam" id="ShareActivityExam">
		<id column="id" property="id" />
		<result column="exam_version" property="examVersion" />
		<result column="exam_result" property="examResult" />
		<result column="start_date_time" property="startDateTime" />
		<result column="end_date_time" property="endDateTime" />
		<result column="candidate_ip" property="candidateIp" />
		<result column="candidate_key" property="candidateKey" />
		<result column="teacher_id" property="teacherId" />
		<result column="link_source_id" property="linkSourceId" />
		<result column="share_record_id" property="shareRecordId" />
		<result column="status" property="status" />
	</resultMap>
	
	<!-- 条件语句映射 -->
	<sql id="WhereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="examVersion != null"> AND exam_version = #{examVersion}</if>
			<if test="examResult != null"> AND exam_result = #{examResult}</if>
			<if test="startDateTime != null"> AND start_date_time = #{startDateTime}</if>
			<if test="endDateTime != null"> AND end_date_time = #{endDateTime}</if>
			<if test="candidateIp != null"> AND candidate_ip = #{candidateIp}</if>
			<if test="candidateKey != null"> AND candidate_key = #{candidateKey}</if>
			<if test="teacherId != null"> AND teacher_id = #{teacherId}</if>
			<if test="linkSourceId != null"> AND link_source_id = #{linkSourceId}</if>
			<if test="shareRecordId != null"> AND share_record_id = #{shareRecordId}</if>
			<if test="status != null"> AND status = #{status}</if>
		</trim>
	</sql>

	<!-- 分页语句映射 -->
	<sql id="LimitSql">
		<if test="startRows != null  and pageSize != null">
			LIMIT #{startRows},#{pageSize}
		</if>
	</sql>
	
	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="ShareActivityExam">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM share_activity_exam
		 WHERE id = #{id}
	</select>
	
	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey">
		 DELETE FROM share_activity_exam
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO share_activity_exam
 			(<include refid="Base_Column_List" />) 
		 VALUES
 			(#{id},#{examVersion},#{examResult},#{startDateTime},#{endDateTime},#{candidateIp},#{candidateKey},#{teacherId},#{linkSourceId},#{shareRecordId},#{status})
	</insert>
	
	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO share_activity_exam
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null "> id,</if>
			<if test="examVersion != null "> exam_version,</if>
			<if test="examResult != null "> exam_result,</if>
			<if test="startDateTime != null "> start_date_time,</if>
			<if test="endDateTime != null "> end_date_time,</if>
			<if test="candidateIp != null "> candidate_ip,</if>
			<if test="candidateKey != null "> candidate_key,</if>
			<if test="teacherId != null "> teacher_id,</if>
			<if test="linkSourceId != null "> link_source_id,</if>
			<if test="shareRecordId != null "> share_record_id,</if>
			<if test="status != null "> status,</if>
		</trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null "> #{id},</if>
			<if test="examVersion!=null "> #{examVersion},</if>
			<if test="examResult!=null "> #{examResult},</if>
			<if test="startDateTime!=null "> #{startDateTime},</if>
			<if test="endDateTime!=null "> #{endDateTime},</if>
			<if test="candidateIp!=null "> #{candidateIp},</if>
			<if test="candidateKey!=null "> #{candidateKey},</if>
			<if test="teacherId!=null "> #{teacherId},</if>
			<if test="linkSourceId!=null "> #{linkSourceId},</if>
			<if test="shareRecordId!=null "> #{shareRecordId},</if>
			<if test="status!=null "> #{status},</if>
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKey">
		 UPDATE share_activity_exam
		 SET 
			 exam_version = #{examVersion},exam_result = #{examResult},start_date_time = #{startDateTime},end_date_time = #{endDateTime},candidate_ip = #{candidateIp},candidate_key = #{candidateKey},teacher_id = #{teacherId},link_source_id = #{linkSourceId},share_record_id = #{shareRecordId},status = #{status}
		 WHERE id = #{id}
	</update>
	

	<!-- 修 改 （匹配有值的字段） -->
	<update id="updateByPrimaryKeySelective">
		 UPDATE share_activity_exam
 		 <set> 
			<if test="examVersion != null ">exam_version = #{examVersion},</if>
			<if test="examResult != null ">exam_result = #{examResult},</if>
			<if test="startDateTime != null ">start_date_time = #{startDateTime},</if>
			<if test="endDateTime != null ">end_date_time = #{endDateTime},</if>
			<if test="candidateIp != null ">candidate_ip = #{candidateIp},</if>
			<if test="candidateKey != null ">candidate_key = #{candidateKey},</if>
			<if test="teacherId != null ">teacher_id = #{teacherId},</if>
			<if test="linkSourceId != null ">link_source_id = #{linkSourceId},</if>
			<if test="shareRecordId != null ">share_record_id = #{shareRecordId},</if>
			<if test="status != null ">status = #{status},</if>
 		 </set>
		 WHERE id = #{id}
	</update>
	
		<!-- 查询分页list -->
	<select id="selectByPage" resultMap="ShareActivityExam">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM share_activity_exam
		 <include refid="WhereSql"/>
		 <include refid="LimitSql"/>
	</select>
	
	<!-- 查询分页count -->
	<select id="countByPage" resultType="int">
		 SELECT count(*)
		 FROM share_activity_exam
		 <include refid="WhereSql"/>
	</select>
	
		<!-- 查询排序list -->
	<select id="selectOrderById" resultMap="ShareActivityExam">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM share_exam_detail
		 <include refid="WhereSql"/>
		 ORDER BEY id ASC
	</select>

</mapper>

