<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherPeResultMapper">
    
    <sql id="teacherPeResultColumns">teacher_pe_result.id AS id, teacher_pe_result.application_id AS application_id, teacher_pe_result.option_id AS option_id</sql>
    
    <sql id="teacherPeResultWhere">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">AND teacher_pe_result.id = #{id}</if>
            <if test="applicationId != null">AND teacher_pe_result.application_id = #{applicationId}</if>
            <if test="optionId != null">AND teacher_pe_result.option_id = #{optionId}</if>
        </trim>
    </sql>
    
    <sql id="teacherPeResultOrder">
        <if test="orderString != null">ORDER BY ${orderString}</if>
    </sql>
    
    <sql id="teacherPeResultLimit">LIMIT #{startLine}, #{limitLine}</sql>
    
    <resultMap type="com.vipkid.trpm.entity.TeacherPeResult" id="teacherPeResultResultMap">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="option_id" property="optionId" />
    </resultMap>
    
    <select id="findDao" resultMap="teacherPeResultResultMap">
        SELECT
        <include refid="teacherPeResultColumns" />
        FROM teacher_pe_result
        <include refid="teacherPeResultWhere" />
    </select>
    
    <select id="countDao" resultType="int">
        SELECT COUNT(*) FROM teacher_pe_result
        <include refid="teacherPeResultWhere" />
    </select>
    
    <select id="pageDao" resultMap="teacherPeResultResultMap">
        SELECT
        <include refid="teacherPeResultColumns" />
        FROM teacher_pe_result
        <include refid="teacherPeResultWhere" />
        <include refid="teacherPeResultOrder" />
        <include refid="teacherPeResultLimit" />
    </select>
    
    <select id="limitDao" resultMap="teacherPeResultResultMap">
        SELECT
        <include refid="teacherPeResultColumns" />
        FROM teacher_pe_result
        <include refid="teacherPeResultWhere" />
        <include refid="teacherPeResultOrder" />
        <include refid="teacherPeResultLimit" />
    </select>
    
    <insert id="saveDao" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher_pe_result
        <trim prefix="(" prefixOverrides=",">
            <if test="id != null">,id</if>
            <if test="applicationId != null">,application_id</if>
            <if test="optionId != null">,option_id</if>
        </trim>
        ) VALUES
        <trim prefix="(" prefixOverrides=",">
            <if test="id != null">,#{id}</if>
            <if test="applicationId != null">,#{applicationId}</if>
            <if test="optionId != null">,#{optionId}</if>
        </trim>
        )
    </insert>
    
    <update id="updateDao">
        UPDATE teacher_pe_result
        <trim prefix="SET" prefixOverrides=",">
            <if test="applicationId != null">,application_id = #{applicationId}</if>
            <if test="optionId != null">,option_id = #{optionId}</if>
        </trim>
        <trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
    </update>
    
    <delete id="deleteDao">
        DELETE FROM teacher_pe_result
        <trim prefix="WHERE" prefixOverrides="AND">AND id = #{id}</trim>
    </delete>

    <delete id="deleteByApplicationId">
        DELETE FROM teacher_pe_result
        <trim prefix="WHERE" prefixOverrides="AND">AND application_id = #{applicationId}</trim>
    </delete>
    
</mapper>
