##PE Supervisor
<style type="text/css">
	.finishType { width: 300px!important; }
	.finishTypeItem, .finishTypeButton { float: right!important; }
	.mainContainer { margin: 0 auto 0 auto!important; }
</style>
	<form class='feedBackForm' id ='practicumFeedBackForm' action="#springUrl('/pe/doAudit.json')">
        <div class="wrapper">
      		##关闭      
            <div class='closeBtn'></div>
            <div style="margin-top:15px; height:500px; width:350px; overflow-y:scroll;">
            	#parse("/pe/pe_supervisor_form.vm")
            </div>
            <div class='row commentDiv'>
                <input type="hidden" id="onlineClassId" name="onlineClassId" value="$!teacherPe.onlineClassId"/>
                <input type="hidden" id="teacherId" name="teacherId" value="$!teacherPe.teacherId"/>
                <input type="hidden" id="peId" name="peId" value="$!teacherPe.id"/>
                <input type="hidden" id="id" name="id" value="$!teacherApplication.id"/>
                <input type="hidden" id="type" name="type" value=""/>
            </div>                
            <div style="margin: 10px 0 0 0;">
	            <b>Total Score: <span id="score">0</span></b>
	        </div>
	        <hr />
            <div calss="row">
                <div class='btnDiv'>
	                <div class='commentDiv'>
	                    <input id="Pass" onclick="require('pe').doAudit('PASS')" type='button' value='Pass' class='ui blue button submitBtn disabled'/>
	                    <input id="Tbd-Fail" onclick="require('pe').doAudit('FAIL')" type='button' value='Fail' class='ui blue button submitBtn disabled'/>
	                </div>
	                <div class='commentDiv'>
	                	<input onclick="require('pe').showFinshType()" type='button' value='ReSchedule' class='ui blue button submitBtn'/>
	                	#if($!{teacherPe.lessonName} == "Practicum Lesson One")
	                    	<input id="Practicum2" onclick="require('pe').doAudit('PRACTICUM2')" type='button' value='Practicum2' class='ui blue button submitBtn disabled'/>
	                    #end
	                </div>
                </div>
            </div>
            <hr>
            <div style='margin: 5px 0 0 20px;'>
                <p><strong>Pass</strong> – This button allows the candidate to finish the practicum stage and become a new VIPKID Teacher.</p>
            	<p><strong>Fail</strong> – This button will send this practicum lesson to a Practicum Evaluator Supervisor for result confirmation. Choose this option if the candidate does not meet the requirements needed to be a VIPKID Teacher.</p>
            	<p><strong>Reschedule</strong> – This button reschedules the practicum due to technical or scheduling issues.</p>
                #if($!{teacherPe.lessonName} == "Practicum Lesson One")
                <p><strong>Practicum 2</strong> – This button tells the candidate to schedule a second practicum.</p>
                #end
            </div> 
        </div>          
    
	<div class="modal fade" id="finish-modal" style="overflow:hidden;" role="dialog" aria-labelledby="finishModal">
	  <div class="modal-dialog" style="margin-top: 10%; width: 400px; height: auto; opacity:1; overflow: visible;">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
	        	<h4 class="modal-title"> <strong>Select Finish Type</strong> </h4>
	      	</div>
	      	<div class="modal-body form-horizontal">
				<select id="finishType" name="finishType" class="form-control">
			    	<option value="">-Finish Type-</option>
					<option value="STUDENT_NO_SHOW">CANDIDATE_NO_SHOW</option>
					<option value="STUDENT_IT_PROBLEM">CANDIDATE_IT_PROBLEM</option>
					<option value="SYSTEM_PROBLEM">SYSTEM_PROBLEM</option> 				  
			  	</select>
	      	</div>
			<div class="modal-footer" style="margin-top:0px;">
	  			<button type="button" class="btn btn-primary" onclick="require('pe').doAudit('REAPPLY')">ReSchedule</button>
	  			<button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
	        </div>
	    </div>
	  </div>
	</div>
</form>