<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeacherActivityMapper">
	
	<select id="countClassByTeacherId" resultType="int">
	    <![CDATA[ 
			SELECT count(oc.id)
			FROM online_class oc 
			WHERE oc.teacher_id = ${teacherId}
			AND oc.`status` = 'FINISHED'
			AND oc.finish_type = 'AS_SCHEDULED'
			AND oc.class_type = 0 
			AND oc.scheduled_date_time < '${yearmd}'
	    ]]>
    </select>
    
    <sql id="studentlist">
	    <![CDATA[ 
	    	SELECT ocs.student_id,count(1) as counts
			FROM online_class_student ocs 
			WHERE ocs.online_class_id 
			IN (SELECT oc.id
				FROM online_class oc 
				WHERE oc.teacher_id = ${teacherId} 
				AND oc.`status` = 'FINISHED'
				AND oc.finish_type = 'AS_SCHEDULED'
				AND oc.class_type = 0 
				AND oc.scheduled_date_time < '${yearmd}')
			GROUP BY ocs.student_id
	    ]]>
    </sql>
    
    <select id="countStudentByTeacherId" resultType="java.util.HashMap">
    	<include refid="studentlist"/>
    </select>
    
    <select id="countStudentByMax" resultType="java.util.HashMap">
	    <include refid="studentlist"/>
		order by counts desc
		LIMIT 0,3
	</select>
	
	<select id="countStuNumOfOneTeacher" resultType="int">
    	SELECT COUNT(DISTINCT online_class_student.student_id )
		FROM online_class
		INNER JOIN online_class_student
		ON online_class.id=online_class_student.online_class_id
		WHERE online_class.teacher_id=#{id} and online_class.finish_type = 'AS_SCHEDULED'
    </select>
    
    <select id="getStudentListOfOneTeacher" resultType="java.util.HashMap">
    		SELECT stu.english_name, stu.avatar,COUNT(*) as num
			FROM online_class oc
			INNER JOIN online_class_student ocs
			ON ocs.online_class_id = oc.id
			INNER JOIN student stu
			ON ocs.student_id = stu.id
			WHERE oc.teacher_id=#{id} and oc.finish_type = 'AS_SCHEDULED'
			GROUP BY ocs.student_id
			ORDER BY num DESC
    </select>
    
    <select id="getClassNumOfOneTeacher" resultType="int">
    	select count(*) from online_class where teacher_id = #{id} and finish_type = 'AS_SCHEDULED'
    </select>
    
    <select id="getFirstClassDateofOneTeacher" resultType="java.sql.Timestamp">
    	select MIN(DISTINCT scheduled_date_time) from online_class where teacher_id = #{id}
    </select>
    
    <select id="getNumOfTeachersByReferee" resultType="int">
		select count(*) from teacher where referee like #{id}
	</select>
	
	<select id="getAvatarListOfTeachersByReferee" resultType="java.lang.String">
		 <![CDATA[
		 	select avatar from teacher where referee like #{id} and avatar is not null and avatar <> '' 
		 ]]>
	</select>
    
</mapper>